    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos/'); ?>">Destinos</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros/'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs/'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos/'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Servicios</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="<?php echo $this->baseUrl('/index.php/blog/'); ?>">Blog</a>
                  
                  </li>
                </ul>
            </div>
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <!--<li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>-->
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
    <div id="wrapper" class="hasbg transparent">
      <div class="header_style_wrapper">
              <!-- End top bar -->

              <div class="top_bar hasbg">
                  <div class="standard_wrapper">
                      <!-- Begin logo -->
                      <div id="logo_wrapper">

                          <div id="logo_normal" class="logo_container">
                              <div class="logo_align">
                                  <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                      <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                  </a>
                              </div>
                          </div>

                          <div id="logo_transparent" class="logo_container">
                              <div class="logo_align">
                                  <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                      <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                  </a>
                              </div>
                          </div>
                          <!-- End logo -->

                          <div id="menu_wrapper">
                              <div id="nav_wrapper">
                                  <div class="nav_wrapper_inner">
                                      <div id="menu_border_wrapper">
                                          <div class="menu-main-menu-container">
                                              <ul id="main_menu" class="nav">
                                                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                      <!--<ul class="sub-menu">
                                                          <li class="menu-item menu-item-home current-menu-item"><a href="index.html">Home 1 – Background Image</a></li>
                                                          <li class="menu-item"><a href="home-2.html">Home 2 – Youtube Video</a></li>
                                                          <li class="menu-item"><a href="home-3-google-inspired.html">Home 3 – Google Inspired</a></li>
                                                          <li class="menu-item"><a href="home-4-travel-site.html">Home 4 – Travel Site</a></li>
                                                      </ul>-->
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    <a href="<?php echo $this->baseUrl('/index.php/hoteles/'); ?>">Hoteles</a>
                                                      
                                                  </li>
                                                  
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/destinos/'); ?>">Destinos</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Paquetes</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Ofertas</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children arrow">
                                                    <a href="#">De interés</a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item"><a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Contáctanos</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs/'); ?>">FAQs</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos/'); ?>">Términos y Condiciones</a></li>
                                                      </ul>
                                                  </li>                                                
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Servicios</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/blog/'); ?>">Blog</a>
                                                      
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>

                                  <!-- Begin right corner buttons -->
                                  <div id="logo_right_button">

                                      <!-- Begin side menu -->
                                      <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                      <!-- End side menu -->

                                  </div>
                                  <!-- End right corner buttons -->
                              </div>
                              <!-- End main nav -->
                          </div>

                      </div>
                  </div>
              </div>
          </div>

    
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/contacto.jpg'); ?>);">

      <div class="page_title_wrapper">
          <div class="page_title_inner">
              <div class="page_title_content">
                  <h1>Contáctanos</h1>
                  <div class="page_tagline"></div>
              </div>
          </div>
      </div>
    </div>

        <div class="ppb_wrapper hasbg ">
            
            <div class="one withsmallpadding ppb_text" style="text-align:left;padding:0px 0 0px 0;margin-bottom:60px;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:60%">
                                <div role="form" class="wpcf7" id="wpcf7-f3075-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <h5>Formulario de Contacto</h5>
                                    <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="3075" />
                                            <input type="hidden" name="_wpcf7_version" value="5.0.4" />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3075-o1" />
                                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                                        </div>
                                        <p>
                                            <label> Nombre
                                                <br />
                                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="nombre" id="nombre" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="John Doe" /></span> </label>
                                        </p>
                                        <p>
                                            <label> Teléfono
                                                <br />
                                                <span class="wpcf7-form-control-wrap tel-729"><input type="tel" name="tlf" id="tlf" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" placeholder="+58 2127623005" aria-invalid="false" /></span> </label>
                                        </p>
                                        <p>
                                            <label> Email 
                                                <br />
                                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="email_contact" id="email_contact" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="info@conkhep.com" /></span> </label>
                                        </p>
                                        
                                        <p>
                                            <label> Mensaje
                                                <br />
                                                <span class="wpcf7-form-control-wrap menu-607"><input type="text" name="mensaje" id="mensaje" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Escribe tu mensaje" /></span>
                                            </label>
                                        </p>                                        
                                        <p>
                                            <input type="submit" value="Enviar mensaje" onclick="enviarCorreo();" class="wpcf7-form-control wpcf7-submit btn-morado" />
                                        </p>
                                        <div id="respuesta" class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>


            <div class="col-md-5 contact-map">
              <div class="page_title_wrapper">
                  <div class="page_title_inner">
                      <div class="page_title_content">
                          <h1 style="text-align: center;">Nuestra Ubicación</h1>
                          <div class="page_tagline"></div>
                      </div>
                  </div>
              </div>

              <div class="col-md-12">
                <div class="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.0723548542583!2d-66.87920508561311!3d10.494962492512924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58e1d5788b3d%3A0x35e6c5032e9f0169!2sCentro+Solano+Plaza!5e0!3m2!1ses!2sve!4v1495143920919" frameborder="0" style="border:0; width: 100%; height: 600px;" allowfullscreen></iframe>
                </div>
              </div>


              
              
            </div>
            <div class="clearfix"> </div>
  </div>          


