<div class="container" ng-controller="editnoticiaCtrl">

	<ol class="breadcrumb">
		  <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/noticia'); ?>">Noticias</a></li>
		  <li class="active">Editar</li>
	</ol>

    <h1 class="page-header">Editar Noticia</h1>
    
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-8">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/noticia/edit'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo $this->noticia['id']; ?>">

		<div id="idNoticia" data-id="<?php echo $this->noticia['id']; ?>"></div>

		


		<div class="form-group">
			<label for="cedula" class="required">Titulo *</label>
			<input type="text" name="titulo" id="titulo" value="<?php echo $this->noticia['titulo']; ?>" class="form-control" placeholder="Titulo">
		</div>

		<div class="form-group">
			<label for="nombre" class="required">Noticia *</label>

			<textarea rows="10"  name="noticia" id="noticia" style="width: 100%;">
					<?php echo $this->noticia['noticia']; ?>
			</textarea>

		</div>




		<div class="col-sm-12">	
				<div id="doc_path-label col-sm-9">
		<label for="doc_path" class="optional">Imagen Destacada:</label>
		</div>
		<div id="doc_path-element">
			<input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE">
			<input type="file" name="doc_path" id="doc_path" class="btn">
			Tamaño Maximo de Imagen 1Mb. Cambie la Imagen solo si requiere actualizarla
		</div>

		<div class="col-sm-3">
		<img src="<?php echo $this->baseUrl('/').$this->noticia['foto'];?>" class="img ig-responsive img-form" max-width="100px" >
			
		</div>

		</div>
		

		



		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<button name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</button>
				</dl>

			</fieldset>
		</dd>
		</div>
	</form> 


</div>

<div class="col-sm-4" >
	
	<!--<div class="well">

	<label>Categorias</label>
		
	<div class="chechbox">
		<label>
			<input type="checkbox" name="categoria" id="categoria" value="2"> Tecnologia
		</label><br>
		<label>
			<input type="checkbox" name="categoria" id="categoria" value="1"> Ciencias
		</label>
	</div>

	</div>-->

	
	<div class="well">
		<div class="form-group">
			<label for="nombre" class="required">Etiquetas</label>
			<div class="input-group">
				<input type="text"  name="etiqueta" id="etiqueta" value="" class="form-control" placeholder="Etiquetas">
				<span class="input-group-btn">
					<button  class="btn btn-primary" type="button" onclick="agregarTags()">add</button>
				</span>
				
			</div>
			<span id="aviso">Cada etiqueta tiene que estar seguida por una coma.</span>
		</div>
		<div class="contenido row" >

			<?php foreach ($this->etiquetas as $tag): ?>
				<div class="col-sm-9"><?php echo $tag->descripcion; ?></div>
				<div class="col-sm-3">
					<button class="btn btn-danger " onclick="eliminarTag(<?php echo $tag->id; ?>)">x</button>
				</div>
			<?php endforeach ?>
			
			
		</div>

	</div>


	


</div>




   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->
