<div class="container" >

	<ol class="breadcrumb">
		  <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a></li>
		  <li class="active">Editar</li>
	</ol>

    <h1 class="page-header">Editar Hotel</h1>
    
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/hoteles/edit'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo $this->hotel['id']; ?>">

		


		<div class="form-group">
			<label for="cedula" class="required">Nombre *</label>
			<input type="text" name="nombre" id="nombre" value="<?php echo $this->hotel['nombre']; ?>" class="form-control" placeholder="Nombre">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<?php if ($pais->id==$this->hotel['pais']){ ?>

                		<option selected value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>

	             <?php foreach ($this->estados as $estado): ?>
                	<?php if ($estado->id==$this->hotel['estado']){ ?>

                		<option selected value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>
               

			</select>

		</div>

		

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga *</label>

			<textarea rows="10" name="larga" id="larga" style="width: 100%;"><?php echo $this->hotel['larga']; ?></textarea>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Categoria *</label>
			<input type="text"  name="categoria" id="categoria" value="<?php echo $this->hotel['categoria']; ?>" class="form-control" placeholder="Categoria">
		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Direccion *</label>
			<input type="text"  name="direccion" id="direccion" value="<?php echo $this->hotel['direccion']; ?>" class="form-control" placeholder="Direccion">
		</div>

		<br>
		<hr>




		<div class="col-sm-12 habitaciones" style="margin: 5em 0em;">

		<h2 class="page-header">Datos de las habitaciones </h2>


		<h2>Agregar Habitaciones</h2>
		<br>
			<div class="row" style="margin-bottom: 1em;">

				<div class="col-sm-2" style="padding-top: 2em;">
					<b>Planes</b>
				</div>
				<div class="form-group">
				    <div class=" col-sm-1">
				      <div class="checkbox">
				        <label>
				          <input type="checkbox" id="EP" name="EP"> EP
				        </label>
				      </div>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class=" col-sm-1">
				      <div class="checkbox" style="margin-top: 17px;">
				        <label>
				          <input type="checkbox" id="AP" name="AP"> AP
				        </label>
				      </div>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class=" col-sm-1">
				      <div class="checkbox" style="margin-top: 17px;">
				        <label>
				          <input type="checkbox" id="MAP" name="MAP"> MAP
				        </label>
				      </div>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class=" col-sm-1">
				      <div class="checkbox" style="margin-top: 17px;">
				        <label>
				          <input type="checkbox" id="FAP" name="FAP"> FAP
				        </label>
				      </div>
				    </div>
				  </div>

				  <div class="form-group">
				    <div class=" col-sm-1">
				      <div class="checkbox" style="margin-top: 17px;">
				        <label>
				          <input type="checkbox" id="AI" name="AI"> AI
				        </label>
				      </div>
				    </div>
				  </div>

			</div>

			<div class="row">
				<div class="col-sm-4"><b>Tipo de Habitacion</b></div>
			<div class="col-sm-4"><b>Ocupacion</b></div>
			<div class="col-sm-4"><b>Accion</b></div>

			</div>
			<div class="row">
				
				<div class="col-sm-4">

				<input type="text"  name="tipohabitacion" id="tipohabitacion" value="" class="form-control" >

								<!--<select name="tipohabitacion" id="tipohabitacion" class="form-control">
									<option value="Sencilla">Sencilla</option>
									<option value="Media">Media</option>
									<option value="VIP">VIP</option>
									<option value="Suite">Suite</option>
									<option value="Presiencial">Presiencial</option>
								</select>-->

							</div>
							<div class="col-sm-4">
								<select name="ocupacion" id="ocupacion" class="form-control">
									<option value="Sencilla">Sencilla</option>
									<option value="Doble">Doble</option>
									<option value="Triple">Triple</option>
									<option value="Cuadruple">Cuadruple</option>
									<option value="Quintuple">Quintuple</option>
									<option value="Sextuple">Sextuple</option>
									<option value="Octuple">Octuple</option>
								</select>

							</div>


							<div class="col-sm-4">
							<button type="button" class="btn btn-primary" onclick="agregarHabitacion();" value="Agregar">Agregar</button>
							</div>
			</div>

			

			
			

		</div>

		<div class="respuesta_habitaciones">
			<table class="table table-striped">
				<tr>
					<th>Plan</th>
					<th>Tipo</th>
					<th>Ocupacion</th>
					<th>Accion</th>
				</tr>
			<?php foreach ($this->habitaciones as $habitacion): ?>
				<tr  id="<?php echo $habitacion->id; ?>">
					<td><?php echo $habitacion->plan; ?></td>
					<td><?php echo $habitacion->tipo; ?></td>
					<td><?php echo $habitacion->ocupacion; ?></td>
					<td><button class="btn btn-danger" type="button" onclick="borrar('<?php echo $habitacion->id; ?>','habitaciones')">Eliminar</button></td>
				</tr>
			    
			<?php endforeach ?>
			</table>
		</div>

			

		
  <h2 class="page-header">Comisiones Local del Hotel </h2>

    	<div class="form-group col-sm-5">
			<label for="cedula" class="required">Comision Local *</label>
			<input type="text"  name="comision_local" id="comision_local" value="<?php echo $this->hotel['comision_local']; ?>" class="form-control" >
		</div>

		<div class="form-group">
		    <div class=" col-sm-2">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" <?php echo ($this->hotel['iva_local'])?'checked':'' ?> id="iva_local" name="iva_local"> IVA local
		        </label>
		      </div>
		    </div>
		  </div>

		<div class="form-group col-sm-5">
			<label for="cedula" class="required">Utilidad Local *</label>
			<input type="text"  name="utilidad_local" id="utilidad_local" value="<?php echo $this->hotel['utilidad_local']; ?>" class="form-control" >
		</div>

		
		<br>
		<hr>

		 <h2 class="page-header">Comisiones Receptivas del Hotel </h2>

    	<div class="form-group col-sm-5">
			<label for="cedula" class="required">Comision Receptiva *</label>
			<input type="text"  name="comision_receptivo" id="comision_receptivo" value="<?php echo $this->hotel['comision_receptivo']; ?>" class="form-control" >
		</div>

		<div class="form-group">
		    <div class=" col-sm-2">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox" <?php echo ($this->hotel['iva_receptivo'])?'checked':'' ?> id="iva_receptivo" name="iva_receptivo"> IVA
		        </label>
		      </div>
		    </div>
		  </div>

		<div class="form-group col-sm-5">
			<label for="cedula" class="required">Rtilidad Receptiva *</label>
			<input type="text"  name="utilidad_receptivo" id="utilidad_receptivo" value="<?php echo $this->hotel['utilidad_receptivo']; ?>" class="form-control" >
		</div>

		
		<br>
		<hr>


		<div class="row">

			<div class="col-sm-12">
				<h2>Imagenes Del Hotel</h2>
	      
		        <div class="carga"> <div class="row">
		        	
		        	<?php foreach ($this->fotos as $foto): ?>

		        		

		        		 <div class="col-sm-6 col-md-3" id="<?php echo $foto->id; ?>">
						    <div class="thumbnail">
						      <img style="max-width: 12em;"  class="img img-responsive" src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt="...">
						      <div class="caption">
						        
						        <p>
						        <?php if ($foto->posicion=='1'){ ?>
						        	<button onclick="principal('<?php echo $foto->id; ?>')" type="button" class="btn btn-primary" role="button">Principal</button>

						        <?php }else { ?>

						        	 <button onclick="principal('<?php echo $foto->id; ?>')" type="button"  class="btn btn-default" role="button">Segundaria</button>

						       <?php  } ?>
						         
						          <button onclick="borrar('<?php echo $foto->id; ?>','fotos')" type="button"  class="btn btn-danger" role="button">Eliminar</button>
						        </p>
						      </div>
						    </div>
						  </div>
						
								        		
		        	<?php endforeach ?>




		        </div></div>

		    	<div class="loader">  </div>

		    	<div id="fileuploader"> Cargar Imagenes </div>

	    	</div>

		</div>


		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Notas *</label>

			<textarea rows="10" name="nota" id="nota" style="width: 100%;"></textarea>

		</div>

		





		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<a href="<?php echo $this->baseUrl('/aerolineas'); ?>"  name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</a>
				</dl>

			</fieldset>
		</dd>
		</div>
	</form> 


</div>




   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->




<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>