<div class="container">

  <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li class="active">Hoteles</li>
  </ol>
    
   <div class="row ">

   <h1 class="page-header"><?php echo $this->hotel['nombre']; ?>
   <h6><?php echo $this->hotel['nombre_pais'].' - '.$this->hotel['nombre_estado']; ?></h6></h1>
   <br>

     <div class="row well">

      <form class="form-inline col-sm-12">
        <input type="hidden" id="id_hotel" name="id_hotel" value="<?php echo $this->hotel['id']; ?>">
        <div class="form-group">
          <label for="exampleInputName2">Desde</label>
          <input type="text" class="form-control fecha" id="desde" name="desde" placeholder="Fecha">
        </div>
        <div class="form-group">
          <label for="exampleInputName2">Hasta</label>
          <input type="text" class="form-control fecha" id="hasta" name="hasta" placeholder="Fecha">
        </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="lun" id="lun" value="1" checked>
        Lun
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="mar" id="mar" value="1" checked>
        Mar
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="mie" id="mie" value="1" checked>
        Mie
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="jue" id="jue" value="1" checked>
        Jue
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="vie" id="vie" value="1" checked>
        Vie
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="sab" id="sab" value="1" checked>
        Sab
        </label>
      </div>

      <div class="checkbox">
        <label>
        <input type="checkbox" name="dom" id="dom" value="1" checked>
        Dom
        </label>
      </div>

        
        <button type="button" onclick="agregarTarifa();" class="btn btn-default">Agregar</button>
      </form>

      </div>
   </div>


    <div class="respuesta_habitaciones">
      <table class="table table-striped">
        <tr>
          <th>Habitacion</th>
          <th>Dias</th>
          <th>Tarifa BS</th>
          <th>Tarifa USD</th>
          <th>Niños</th>
          <th>Abuelos</th>
          <th>Extra</th>
          <th>Estatus</th>
          
        </tr>
      <?php foreach ($this->tarifas as $tarifa): ?>
        <tr  id="<?php echo $tarifa->id; ?>">
          <td><?php echo $tarifa->plan; ?> <br> <?php echo $tarifa->tipo; ?> <br><?php echo $tarifa->ocupacion; ?></td>
          
         
          <td>
          <?php  
          if ($tarifa->lun) { echo '<span class="label label-danger">Lun</span>'; }
          if ($tarifa->mar) { echo '<span class="label label-danger">Mar</span>'; }
          if ($tarifa->mie) { echo '<span class="label label-danger">Mie</span>'; }
          if ($tarifa->jue) { echo '<span class="label label-danger">Jue</span>'; }
          if ($tarifa->vie) { echo '<span class="label label-danger">Vie</span>'; }
          if ($tarifa->sab) { echo '<span class="label label-danger">Sab</span>'; }
          if ($tarifa->dom) { echo '<span class="label label-danger">Dom</span>'; }

           ?>
           <br>
          <span class="label label-primary"> Desde:<?php  echo $tarifa->desde; ?></span>  -
           <span class="label label-primary">Hasta:<?php  echo $tarifa->hasta; ?></span>
            

          </td>
        
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="bs<?php echo $tarifa->id; ?>" id="bs<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->bs; ?>" onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'bs')" class="form-control" placeholder="Bolivares">
            </div>

          </td>
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="usd<?php echo $tarifa->id; ?>" id="usd<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->usd; ?>" class="form-control" placeholder="USD"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'usd')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="nino<?php echo $tarifa->id; ?>" id="nino<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->nino; ?>" class="form-control" placeholder="Niños"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'nino')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="abuelo<?php echo $tarifa->id; ?>" id="abuelo<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->abuelo; ?>" class="form-control" placeholder="Abuelos"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'abuelo')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="extra<?php echo $tarifa->id; ?>" id="extra<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->extra; ?>" class="form-control" placeholder="Extra"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'extra')">
            </div>

          </td>
          <td>
          <div class="estatus">
            <?php if ($tarifa->estatus){ ?>

                      <button type="button"  onclick="estatus(<?php echo $tarifa->id; ?>, 'habitaciones', '0' )"  class="btn btn-default " title="Desactivar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="estatus(<?php echo $tarifa->id; ?>, 'habitaciones', '1')"  class="btn btn-default " title="Activar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
            </div>

             <button type="button" onclick="borrar(<?php echo $tarifa->id; ?>, 'tarifas')"  class="btn btn-danger" title="Eliminar"><span class="glyphicon glyphicon-trash"></span> </button>


                  <div class="respuesta<?php echo $tarifa->id; ?>"></div>

          </td>


          
        </tr>
          
      <?php endforeach ?>
      </table>
    </div>



   </div> <!-- End Row -->
   
    
    
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>