    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" style="width: 200px;" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="150" height="40" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" style="width: 200px;" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="150" height="40" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="ppb_wrapper">
            <div class="one withsmallpadding ppb_tour_search_background parallax withbg " style="text-align:center;height:800px;background-image:url(images/home.jpg);background-position: center center;color:#ffffff;">
                <div class="overlay_background" style="background:#000000;background:rgb(0,0,0,0);background:rgba(0,0,0,0);"></div>
                <div class="center_wrapper">
                    <div class="inner_content">
                        <div class="standard_wrapper">
                            <h2 class="ppb_title otro" style="color:#ffffff;">¿A dónde quieres ir?</h2>
                            <div class="page_tagline otro" style="color:#ffffff;">Viajes, experiencias y lugares. Todo en un servicio.</div>
                            <form id="tour_search_form" class="tour_search_form" method="get" action="#">
                                <div class="tour_search_wrapper otro">
                                    <div class="one_fourth themeborder"  style="width: 70%;" >
                                        <input class="filtros" type="hidden" name="f_estado" id="f_estado">
                                        <input class="filtros" type="hidden" name="f_pais" id="f_pais">
                                        <input class="filtros" type="hidden" name="f_hotel" id="f_hotel">
                                        <input id="buscador" name="buscador" type="text" autocomplete="on" placeholder="Buscar Destino, Ciudad u Hotel"/>
                                        <span class="ti-search"></span>
                                        <div id="autocomplete" class="autocomplete" data-mousedown="true"></div>
                                    </div>
                                    <!--<div class="one_fourth themeborder">
                                        <select id="month" name="month">
                                            <option value="">Cualquier mes</option>
                                            <option value="january">Enero</option>
                                            <option value="february">Febrero</option>
                                            <option value="march">Marzo</option>
                                            <option value="april">Abril</option>
                                            <option value="may">Mayo</option>
                                            <option value="june">Junio</option>
                                            <option value="july">Julio</option>
                                            <option value="august">Agosto</option>
                                            <option value="september">Septiembre</option>
                                            <option value="october">Octubre</option>
                                            <option value="november">Noviembre</option>
                                            <option value="december">Diciembre</option>
                                        </select>
                                        <span class="ti-calendar"></span>
                                    </div>
                                    <div class="one_fourth themeborder">
                                        <select id="sort_by" name="sort_by">
                                            <option value="date">Ordenar por fecha</option>
                                            <option value="price_low">Precios bajos a levados</option>
                                            <option value="price_high">Precios elevados a bajos</option>
                                            <option value="name">Ordenar por nombre</option>
                                            <option value="popular">Ordenar por popularidad</option>
                                            <option value="review">Ordenar por puntaje de revisión</option>
                                        </select>
                                        <span class="ti-exchange-vertical"></span>
                                    </div>-->
                                    <div class="one_fourth last themeborder">
                                        <input id="btn_buscar" name="btn_buscar" onclick="buscar()" type="submit" class="button" value="Buscar" />
                                    </div>
                                    <div class="res_busq"></div>
                                    <!--<br class="clear" />
                                    <div class="tour_advance_search_wrapper">
                                        <div class="one_fourth themeborder">
                                            <select id="tourcat" name="tourcat">
                                                <option value="">Todas las categorias</option>
                                                <option value="mountain">Montaña</option>
                                                <option value="rural">Rural</option>
                                                <option value="snow-ice">Nieve &amp; Hielo</option>
                                                <option value="wildlife">Fauna silvestre</option>
                                            </select>
                                            <span class="ti-angle-down"></span>
                                        </div>
                                        <div class="one_fourth themeborder">
                                            <select id="destination_id" name="destination_id">
                                                <option value="">Cualquier destino</option>
                                                <?php foreach ($this->destinos as $destino): ?>
                                                <option value="<?php echo $detino->id; ?>"><?php echo $destino->nombre; ?></option>                                                
                                                <?php endforeach ?>
                                            </select>
                                            <span class="ti-angle-down"></span>
                                        </div>
                                        <div class="one_fourth themeborder">
                                            <input id="budget" name="budget" type="text" placeholder="Presupuesto máximo" />
                                            <span>$</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tour_advance_search_wrapper_link"><a id="tour_advance_search_toggle" href="javascript:;" style="color:#ffffff;"><span class="icon ti-angle-down"></span>Búsqueda avanzada</a></div>-->
                              </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:70px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="">Destinos populares</h2>
                            <div class="page_tagline" style="">Los mejores destinos turísticos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ppb_destination_grid one nopadding " style="margin-top:50px;margin-bottom:50px;">
            <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
                <div class="standard_wrapper">
                    <div id="15675891342113546341" class="portfolio_filter_wrapper gallery grid portrait four_cols" data-columns="3">
                      <?php foreach ($this->destinos as $destino):

                        $src = str_replace(' ', '', $destino->foto);                        

                       ?>
                        <div class="element grid baseline classic4_cols animated1">
                            <div class="one_fourth gallery4 grid static filterable portfolio_type themeborder" style="background-image:url(<?php echo $this->baseUrl('assets/images/'.$src); ?>);">
                                <a class="tour_image" href="<?php echo $this->baseUrl('/index.php/destinos/ver/buscar/'.$destino->id); ?>"></a>
                                <div class="portfolio_info_wrapper">
                                    <div class="portfolio_info_content">
                                        <h3><?php echo $destino->nombre; ?></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <?php endforeach; ?>                          
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:10px;margin-bottom:50px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="">Best Value Trips</h2>
                            <div class="page_tagline" style="">Best offers trips from us</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ppb_tour_classic one nopadding " style="margin-bottom:50px;">
            <div class="page_content_wrapper page_main_content sidebar_content full_width fixed_column">
                <div class="standard_wrapper">
                    <div id="1567589134228149190" class="portfolio_filter_wrapper gallery classic three_cols" data-columns="3">
                        <div class="element grid classic3_cols animated1">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                                <a class="tour_image" href="#">
                                    <img src="html/upload/pexels-photo-211051-700x466.jpeg" alt="French Autumn" />
                                    <div class="tour_price ">$5,000</div>
                                </a>
                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>French Autumn</h4></a>
                                    <div class="tour_excerpt">
                                        <p>City Tours, Urban</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                        </div>
                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span>5&nbsp;days</div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                        <div class="element grid classic3_cols animated2">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                                <a class="tour_image" href="#">
                                    <img src="html/upload/pexels-photo-197657-700x466.jpeg" alt="Grand Switzerland" />
                                    <div class="tour_price ">$6,000</div>
                                </a>
                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>Grand Switzerland</h4></a>
                                    <div class="tour_excerpt">
                                        <p>Shopping, Mountain, Snow & Ice</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                        </div>
                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span>6&nbsp;days</div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                        <div class="element grid classic3_cols animated3">
                            <div class="one_third gallery3 classic static filterable portfolio_type themeborder">
                                <a class="tour_image" href="#">
                                    <img src="html/upload/pexels-photo-96420-700x466.jpeg" alt="Discover Japan" />
                                    <div class="tour_label">Sale</div>
                                    <div class="tour_price has_discount"><span class="normal_price">
                $3,000
              </span>$2,500</div>
                                </a>
                                <div class="portfolio_info_wrapper">
                                    <a class="tour_link" href="#"><h4>Discover Japan</h4></a>
                                    <div class="tour_excerpt">
                                        <p>City Tours, Iconic</p>
                                    </div>
                                    <div class="tour_attribute_wrapper">
                                        <div class="tour_attribute_rating">
                                            <div class="br-theme-fontawesome-stars-o">
                                                <div class="br-widget">
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;" class="br-selected"></a>
                                                    <a href="javascript:;"></a>
                                                </div>
                                            </div>
                                            <div class="tour_attribute_rating_count">4&nbsp;reviews</div>
                                        </div>
                                        <div class="tour_attribute_days">
                                            <span class="ti-time"></span>5&nbsp;days</div>
                                    </div>
                                    <br class="clear" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-bottom:40px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="">Por qué elegirnos</h2>
                            <div class="page_tagline" style="">Aquí hay razones por las que debe planear un viaje con nosotros.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            
                                <p><img class="alignnone wp-image-3106 size-medium" src="images/hotel5.jpg" width="150" height="150" alt="" /></p><br>
                                <h4 class="p1"><span class="s1"><b>Hoteles cuidadosamente seleccionados</b></span></h4>
                                <!--<p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            
                                <p><img class="alignnone wp-image-3107 size-medium" src="images/clasemundial.jpg" width="150" height="150" alt="" /></p><br>
                                <h4 class="p1"><span class="s1"><b>Servicio de clase mundial</b></span></h4>
                                <!--<p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third last withsmallpadding ppb_text" style="text-align:center;padding:0px 0 0px 0;margin-bottom:70px;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            
                                <p><img class="alignnone wp-image-3108 size-medium" src="images/mejorprecio2.jpg" width="150" height="150" alt="" /></p>
                                <h4 class="p1"><span class="s1"><b>Mejor precio garantizado</b></span></h4>
                                <!--<p>Lorem ipsum dolor sit amet, consect adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!--       
        <div class="one withsmallpadding ppb_header " style="text-align:center;padding:0px 0 0px 0;margin-top:70px;margin-bottom:50px;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2 class="ppb_title" style="">Artículos y Tips</h2>
                            <div class="page_tagline" style="">Explore algunos de los mejores consejos de todo el mundo.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="ppb_blog_grid one nopadding" style="padding:0px 0 0px 0;margin-bottom:50px;">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="inner_wrapper">
                            <div class="blog_grid_wrapper sidebar_content full_width ppb_blog_posts">


                            <?php foreach ($this->blog->related as $row): ?>-->
                                <!-- Begin each blog post -->
                        <!--<div id="post-81" class="post-81 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-passport tag-travel tag-world">

                            <div class="post_wrapper">

                                <div class="post_content_wrapper">

                                    <div class="post_img static">
                                        <a href="#">
                                            <img width="960" height="636" src="<?php echo $this->baseUrl('/').$row->foto; ?>" class="attachment-grandtour-blog size-grandtour-blog wp-post-image" alt="<?php echo $row['titulo']; ?>" /></a>
                                    </div>

                                    <div class="post_header_wrapper">
                                        <div class="post_header">-->
                                            <!--<div class="post_detail single_post">
                                                <span class="post_info_date">
                                                  <a href="#" title="<?php echo $row['titulo']; ?>">December 10, 2016</a>
                                                </span>
                                                <span class="post_info_comment">
                                
                                <a href="##respond">
                                    0&nbsp;Comment                              </a>
                            </span>
                                            </div>-->
                                            <!--<div class="post_header_title">
                                                <h5><a href="<?php echo $this->baseUrl('/blog/ver/id/').$row->id; ?>" title="<?php echo $row['titulo']; ?>"><p><?php echo $row['titulo']; ?></p></a></h5>
                                            </div>
                                        </div>

                                        <br class="clear" />

                                        <p><?php echo strip_tags(substr($row->noticia, 0, 200)) ; ?></p>
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="<?php echo $this->baseUrl('/blog/ver/id/').$row->id; ?>">Leer más<span class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>-->
                        <!-- End each blog post -->
                            <!--<?php endforeach ?>    



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="parallax" data-jarallax-video="https://www.youtube.com/watch?v=JPe2mwq96cw" style="height:50vh; "></div>
</div>    

   