  <!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="col-sm-12 well">
        <div class="">

  <form class="form">
    <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">
  <input type="hidden" name="id_hotel" id="id_hotel" value="<?php echo $this->hotel['id']; ?>">
  <input type="hidden" name="id_reserva" id="id_reserva" value="<?php echo time(); ?>">


    <div class="form-group col-sm-4">
 <label for="habitaciones" class=" control-label">Destino</label>

      <input type="text" class="form-control " id="destino_nombre" name="destino_nombre" placeholder="Destino" value="<?php echo $this->destino['nombre'];  ?>">
      
    </div>

    <div class="form-group col-sm-2">
 <label for="habitaciones" class=" control-label">Check In</label>

      <input type="text" class="form-control fecha" id="checkin" name="checkin" placeholder="checkin" value="<?php echo $this->data_checkin;  ?>">
    </div>
    <div class="form-group col-sm-2">
 <label for="habitaciones" class=" control-label">Check Out</label>

    <input type="text" class="form-control fecha" id="checkout" name="checkout" placeholder="checkout" value="<?php echo $this->data_checkout;  ?>">
    </div>


    
<div class="form-group col-sm-1"> 
 <label for="habitaciones" class=" control-label">Adultos</label>
<select id="adultos" name="adultos" class="form-control">
<option checked value="<?php echo $this->data_adultos; ?>"><?php echo $this->data_adultos;  ?> </option>
  <option value="1">1 </option>
  <option value="2">2 </option>
  <option value="3">3 </option>
  <option value="4">4 </option>
  <option value="5">5 </option>
</select>
</div>
   
<div class="form-group col-sm-1">
<label for="habitaciones" class=" control-label">Niños</label>
<select id="ninos" name="ninos" class="form-control">
<option checked value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
  <option value="0">0 </option>
  <option value="1">1 </option>
  <option value="2">2 </option>
  <option value="3">3 </option>
  <option value="4">4 </option>
  <option value="5">5 </option>
</select>
</div>
  <div class="col-sm-2">
  <br>
  <button type="button" onclick="consultarHospedaje();" class="btn btn-default">Consultar</button>
    
  </div>
</form>

</div>
      </div>
      <div class="faqs-top-grids">
        <div class="product-grids">
          <h3>Alojamientos Disponibles en <?php echo $this->destino['nombre']; ?></h3>
          <div class="col-md-12 product-right">

          <?php

           $ObjViews = new Application_Model_DbTable_Views();
          $ObjTarifas = new Application_Model_DbTable_Tarifas(); 

          ?>

          <?php foreach ($this->hoteles as $hotel): ?>

            <div class="product-right-grids">
              <div class="product-right-top">
                <div class="p-left col-sm-3">
                  <div class="p-right-img">
                    <a onclick="reservaHotel('<?php echo $hotel->id; ?>', event)" href="<?php echo $this->baseUrl('/hoteles/ver/id/').$hotel->id; ?>"><img class="img img-responsive" src="/assets/images/<?php echo $hotel->foto ?>"> </a>
                  </div>
                </div>
                <div class="p-right col-sm-9">
                  <div class="col-md-6 p-right-left">
                    <a onclick="reservaHotel('<?php echo $hotel->id; ?>', event)" href="<?php echo $this->baseUrl('/hoteles/ver/id/').$hotel->id; ?>"><?php echo $hotel->nombre; ?></a>
                    <div class="p-right-price">

                      <?php  for ($i=0; $i < $hotel->categoria; $i++) { ?>

                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>

                  <? }  ?>
                    </div>
                    <p><?php echo $hotel->direccion; ?></p>
                    
                  </div>
                  <?php $tarifa=$ObjTarifas->getTarifaHotel($hotel->id); ?>
                  <?php $views=$ObjViews->getViewHotel($hotel->id); ?>

                  <div class="col-md-6 p-right-right">
                    <h6>Desde</h6>
                    <p>(<?php echo $views['cantidad']; ?>) Views</p>
                    <span class="p-offer"><?php echo $tarifa['bs']; ?></span> 

                    <div class="book-button-column" style="padding: 2em 0em 0em;">
                <a onclick="reservaHotel('<?php echo $hotel->id; ?>', event)" href="#">Reservar</a>
              </div>                  
                  </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
              </div>  
            </div>  
          <?php endforeach ?>
       
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->