<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">


      <div class="col-sm-12 well" style="background: #fff;">
        <div class="">

  <form class="form">
  <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">
  <input type="hidden" name="id_hotel" id="id_hotel" value="<?php echo $this->hotel['id']; ?>">
  <input type="hidden" name="id_reserva" id="id_reserva" value="<?php echo time(); ?>">


    <div class="form-group col-sm-4">
 <label for="habitaciones" class=" control-label">Destino</label>

      <input type="text" class="form-control " id="destino_nombre" name="destino_nombre" placeholder="Destino" value="<?php echo $this->destino['nombre'];  ?>">
      
    </div>

    <div class="form-group col-sm-2">
 <label for="habitaciones" class=" control-label">Check In</label>

      <input type="text" class="form-control fecha" id="checkin" name="checkin" placeholder="checkin" value="<?php echo $this->data_checkin;  ?>">
    </div>
    <div class="form-group col-sm-2">
 <label for="habitaciones" class=" control-label">Check Out</label>

    <input type="text" class="form-control fecha" id="checkout" name="checkout" placeholder="checkout" value="<?php echo $this->data_checkout;  ?>">
    </div>
    
<div class="form-group col-sm-1"> 
 <label for="habitaciones" class=" control-label">Adultos</label>
<select id="adultos" name="adultos" class="form-control">
<option selected value="<?php echo $this->data_adultos; ?>"><?php echo $this->data_adultos;  ?> </option>
  <option value="1">1 </option>
  <option value="2">2 </option>
  <option value="3">3 </option>
  <option value="4">4 </option>
  <option value="5">5 </option>
</select>
</div>
   
<div class="form-group col-sm-1">
<label for="habitaciones" class=" control-label">Niños</label>
<select id="ninos" name="ninos" class="form-control">
<option checked value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
  <option value="0">0 </option>
  <option value="1">1 </option>
  <option value="2">2 </option>
  <option value="3">3 </option>
  <option value="4">4 </option>
  <option value="5">5 </option>
</select>
</div>
  <div class="col-sm-2">
  <br>
  <button type="button" onclick="consultarHospedaje();" class="btn btn-default">Consultar</button>
    
  </div>
</form>

</div>
<br>
<?php 

$checkout=$this->data_checkout;
$checkin=$this->data_checkin;

 $cin=explode('-', $checkin); $cin=$cin[2].'-'.$cin['1'].'-'.$cin[0];
        $cout=explode('-', $checkout); $cout=$cout[2].'-'.$cout['1'].'-'.$cout[0];


        $dias   = (strtotime($cin)-strtotime($cout))/86400;
        $dias   = abs($dias); $dias = floor($dias);

$des_plan = array(
  'AI' =>'Alojamiento, Desayunos, Almuerzos, Cenas, Bebidas Nacionales',
  'MAP' =>'Alojamiento, Desayunos, Cenas',
  'FAP' =>'Alojamiento, desayunos, almuerzos, cenas, Sin Bebidas',
  'AP' =>'Alojamiento y  Desayuno',
  'EP' =>'Solo Alojamiento',
  );

$des_ocupacion = array(
  'Sencilla' =>1,
  'Doble' =>2,
  'Triple' =>3,
  'Cuadruple' =>4,
  'Quintuple' =>5,
  'Sextuple' =>6,
  'Octuple' =>8
  );

function factor($valor){

  if ($valor==null or $valor==0) {
    $valor=1;
  }else{
    $valor=1+($valor/100);
  }

  return $valor;

}

if ($this->hotel['iva_local']=='on') {
  $this->hotel['iva_local']=12;
}

 ?>



 <input type="hidden" name="comision_local" id="comision_local" value="<?php echo factor($this->hotel['comision_local']); ?>">
 <input type="hidden" name="iva_local" id="iva_local" value="<?php echo factor($this->hotel['iva_local']); ?>">
 <input type="hidden" name="utilidad_local" id="utilidad_local" value="<?php echo factor($this->hotel['utilidad_local']); ?>">

      <div class="faqs-top-grids">
        <!--single-page-->
        <div class="single-page">
            <div class="col-md-12 single-gd-lt">
              <div class="single-pg-hdr">
                <h2><?php echo $this->hotel['nombre']; ?></h2>
                <p><?php echo $this->hotel['direccion']; ?></p>
                <!--<p>Jump to: <a href="#">Over View</a>|<a href="#">Room Choices</a>|<a href="#">Hotel Information</a></p>-->
              </div>

              <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active col-sm-3"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Imagenes</a></li>
    <li role="presentation" class="col-sm-3"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Descripcion</a></li>
    <li role="presentation" class="col-sm-3"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ubicacion</a></li>
    <li role="presentation" class="col-sm-3"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Archivos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active " id="home">
      
       <?php foreach ($this->fotos as $foto): ?>
          <div class="col-sm-2">
            <img class="img img-responsive" src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt=""/>
          </div>
        <?php endforeach ?>
      
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">

           <?php echo $this->hotel['larga']; ?>       
       
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <p><?php echo $this->hotel['direccion']; ?></p>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">

    </div>
  </div>

</div>
            </div>

            <div class="clearfix"></div>

        </div>

<div class="c-rooms">
        
<div class="p-table">
<?php $ObjHabitaciones= new Application_Model_DbTable_Habitaciones(); ?>

<?php $ObjTarifas= new Application_Model_DbTable_Tarifas(); ?>

<div class="res_cotizacion"></div>

<div class="col-md-9">
  <?php foreach ($this->habitaciones as $habitacion): ?>
          
          <div id="<?php echo $habitacion->id; ?>" class="p-table-grids ">
            <div class="col-md-4 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Tipo de Habitacion</h6>
              </div>
              <div class="p-table-grid-info">
                <a href="#"><img src="images/p2.jpg" alt=""></a>
                <div class="room-basic-info">
                  <a href="#"><?php echo $habitacion->tipo; ?></a>
                  <h6>Ocupacion: <?php echo $habitacion->ocupacion ?></h6>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Numero de Personas</h6>
              </div>

               <div class="rate-features">
               <label>Adulto</label>
               <select onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_adultos<?php echo $habitacion->id; ?>" name="numero_adultos<?php echo $habitacion->id; ?>">             

              <?php $ocupacion=$des_ocupacion[$habitacion->ocupacion];  ?>

                <?php for ($i=1; $i <= $ocupacion; $i++) { ?>
                  <option <?php if ($i==$this->data_adultos): ?>
                     <?php echo 'selected' ?>
                  <?php endif ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
              <?php  } ?> 
                
               </select>

               <br>

               <label>Ninos</label>
               
               <select onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_ninos<?php echo $habitacion->id; ?>" name="numero_ninos<?php echo $habitacion->id; ?>">
               <option selected value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
                 <option value="0">0</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                
               </select>
              </div>
            </div>

            <div class="col-md-4 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Plan Disponible</h6>
              </div>
             
              <div class="rate-features">
                
                <ul>
                    <li><?php  echo $des_plan[$habitacion->plan]; ?></li>                                
                </ul> 

                <br>

               <label>Habitaciones</label>
               
               <select class="hab" data-idhab="<?php echo $habitacion->id; ?>" onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_habitaciones_<?php echo $habitacion->id; ?>" name="numero_habitaciones_<?php echo $habitacion->id; ?>">
               
                 <option value="0">0</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                
               </select>

              </div>
              <?php 

            $tarifas=$ObjTarifas->getTarifaHabitacion($habitacion->id);

            $tarifa_bs=($tarifas['bs']*$this->data_adultos)+($tarifas['nino']*$this->data_ninos);

            $total=$tarifa_bs*$dias*0;
             ?>

             <input type="hidden" name="tarifa_adulto_<?php echo $habitacion->id; ?>" id="tarifa_adulto_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['bs'] ?>">

             <input type="hidden" name="tarifa_nino_<?php echo $habitacion->id; ?>" id="tarifa_nino_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['nino'] ?>">
             
             <input type="hidden" name="tarifa_abuelo_<?php echo $habitacion->id; ?>" id="tarifa_abuelo_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['abuelo'] ?>">

             <input type="hidden" name="habitacion_tipo_<?php echo $habitacion->id; ?>" id="habitacion_tipo_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->tipo ?>">

             <input type="hidden" name="habitacion_ocupacion_<?php echo $habitacion->id; ?>" id="habitacion_ocupacion_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->ocupacion ?>">

             <input type="hidden" name="habitacion_plan_<?php echo $habitacion->id; ?>" id="habitacion_plan_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->plan ?>">

              <input type="hidden" name="cantidad_dias" id="cantidad_dias" value="<?php echo $dias  ?>">

            </div>
            <div class="clearfix"> </div>
          </div>

        <?php endforeach ?>
</div><!-- fin div md-9 -->

<div class="col-md-3">

<div  class="p-table-grids " >

  <div class="col-md-12 p-table-grid">
             
            <div class="p-table-grad-heading">
                <h6>Reservar</h6>
              </div>
            <div class="avg-rate costo">
            <p> </p>
                <h5>Total  </h5>
                <span class="p-offer bs">Bs. <?php echo number_format($total, 2, ',', '.'); ?></span><br> 
                
              </div>

              <div class="book-button-column">
                <a href="#" onclick="generarReserva(event);">Reservar</a>
              </div>
              <div id="loader"></div>
            </div>
            <div class="clearfix"> </div>
  
</div>

</div>
      </div>
        
    </div>
    
  </div>
      <!--//single-page-->
  </div>

</div>

  <!-- //container -->
</div>
  <!-- //banner-bottom --> 


