<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h2>Contactanos</h2>
      </div>
      <div class="faqs-top-grids">
          <div class="contact-info">
            <h4>Datos de Contacto</h4>
              <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span> Telefono: +58 212-762-3005 </p>
              
              <p><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> Email: info@conkhep.com</p>
              <p><span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span> Direccion: Av. Fco. Solano c/c La Iglesia, Ctro. Solano Plaza 1, Piso 6 Ofic. C, Sabana Grande, Caracas DC 1050, Venezuela</p>
              <p></p>
          </div>
          <div class="contact-grids">
            <div class="col-md-7 contact-para">
              <h5>Formulario de Contacto</h5>
              <form>
                <div class="grid-contact">
                  <div class="col-md-6 contact-grid">
                    <p>Nombre</p>   
                    <input type="text" value="" id="nombre" name="nombre" placeholder="Nombre">            
                    </div>
                  <div class="col-md-6 contact-grid">
                    <p>Telefono</p>    
                    <input type="text" value=""  id="tlf" name="tlf" placeholder="Telefono">            
                    </div>
                  <div class="clearfix"> </div>
                </div>
                <div class="grid-contact">
                  <div class="col-md-12 contact-grid">
                  <p>Email</p>            
                    <input type="text" value="" id="email_contact" name="email_contact" placeholder="Email">              
                  </div>
                  
                  <div class="clearfix"> </div>
                </div>
                  <p class="your-para">Mensaje</p>
                  <textarea cols="77" rows="6" value="" id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
                    <div class="send">
                      <input class="btn btn-morado" type="button" onclick="enviarCorreo();" value="Enviar">
                    </div>
              </form>
              <br>
              <div id="respuesta"></div>
            </div>
            <div class="col-md-5 contact-map">
              <h5>Location</h5>
              <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.0723548542583!2d-66.87920508561311!3d10.494962492512924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58e1d5788b3d%3A0x35e6c5032e9f0169!2sCentro+Solano+Plaza!5e0!3m2!1ses!2sve!4v1495143920919"  frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->