<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h2>Consorcio Khep C.A.</h2>
      </div>
      <div class="about-grids">
        <div class="col-md-8 about-left">
          <h3>Historia</h3>
          <p>CONKHEP es una Mayorista y Tour Operadora que nace de un cambio de nombre en 2.007, pero tiene una trayectoria de más de 25 años.</p>
        </div>
        <div class="col-md-4 about-right">
          <img src="assets/diseno/images/logo_rif.jpg" alt="" />
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="about-grids">
        <div class="col-md-4 about-right">
          <img class="img img-responsive" src="assets/diseno/images/mision.jpg" alt="" />
        </div>

        <div class="col-md-8 about-left">
          <h3>Mision</h3>
          <p>Exceder con productos, servicios y proveedores, las expectativas de recreación, viajes y turismo de nuestros pasajeros y clientes corporativos.</p>
        </div>
        
        <div class="clearfix"> </div>
      </div>

      <div class="about-grids">
        <div class="col-md-8 about-left">
          <h3>Vision</h3>
          <p>Convertirnos en las 10 mas prestigiosas empresas Mayoristas de Turismo del país, siempre apostando por Venezuela, por nuestros empleados y con tecnología de punta que agilice los procesos.</p>
        </div>
        <div class="col-md-4 about-right">
          <img class="img img-responsive" src="assets/diseno/images/vision.jpg" alt="" />
        </div>
        <div class="clearfix"> </div>
      </div>

      <div class="about-grids">
        <div class="col-md-4 about-right">
          <img class="img img-responsive" src="assets/diseno/images/valores.jpg" alt="" />
        </div>
        <div class="col-md-8 about-left">
          <h3>Nuestros Valores</h3>
          <ul>
            <li>Fuerte compromiso con productos y servicios de calidad.</li>
            <li>Respeto por el medio ambiente, sus culturas y tradiciones.</li>
            <li>Relaciones personales basadas en la confianza y respeto mutuo.</li>
            <li>Enfoque orientado a siempre desarrollar nuevos destinos y productos, conforme la demanda del mercado.</li>
            <li>Siempre abiertos a modernizarnos conforme avanzan los medios tecnológicos.</li>
            <li>Orgullosos de contribuir con la mejor industria que existe, sin chimeneas y generadora de mas empleos indirectos.</li>
            <li>Lealtad con la compañía e identificación con ella.</li>
          </ul>
        </div>
        
        <div class="clearfix"> </div>
      </div>


    </div>
    <!-- //container -->
  </div>