<!-- /navigation -->
<section class="page-crumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->baseUrl('/'); ?>">Home</a>
                    </li>
                    <li class="active">Blog </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="blog-post">
        <!-- Page Content -->
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <div class="row">

                <?php $i=0; foreach ($this->related as $row){ $i++;  ?>

                    <div  class="col-sm-12 col-md-12" style="padding-bottom: 15px; min-height: 225px;">

                      <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="<?php echo $this->baseUrl('/').$row->foto; ?>" alt="<?php echo $row['titulo']; ?>" style="
                            max-width: 250px; ">
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="<?php echo $this->baseUrl('/blog/ver/id/').$row->id; ?>"  ><?php echo $row->titulo; ?></a></h4>
                            <?php echo strip_tags(substr($row->noticia, 0, 200)) ; ?>
                            <p><a href="<?php echo $this->baseUrl('/blog/ver/id/').$row->id; ?>" class="btn btn-primary" role="button">Leer Mas</a>
                          </div>
                        </div>
                           
                      </div>
                    
                      <br>

            <?php } ?>
                
            </div>  

        </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 blog-post-w3layouts">
        
         <!-- Blog Categories Well -->
        <div class="well blog-post-agileits">
          <h4 class="blogpost-w3lsagile">Etiquetas</h4>
          <div class="row">
            <div class="col-lg-12">

            <?php foreach ($this->etiquetas as $new): ?>

                  <a href="<?php echo $this->baseUrl('/blog/tags/id/').$new['descripcion']; ?>"> <span class="badge"><?php echo $new['descripcion']; ?></span> </a>
              
            <?php endforeach ?>
              
            </div>
          </div>
          <!-- /.row -->
        </div>

        <!-- Blog Categories Well -->
        <div class="well blog-post-agileits">
          <h4 class="blogpost-w3lsagile">Solicitudes</h4>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled">
                <li><a href="<?php echo $this->baseUrl('/solicitud/presupuesto'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Presupuesto</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/mueble'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Bienes Muebles</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/inmueble'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Bienes Inmuebles</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/auditar'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Auditoria</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/validador'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Validar</a></li>
              </ul>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- Side Widget Well -->
         
            </div>
        </div>
        <!-- /.row -->

        <hr>
        
    </div>
    <!-- /.container -->
</section>  