  <div class="banner-bottom">     <!-- container -->     
    <div class="container">       
      <div class="banner-bottom-info"><h3>Nuestros Destinos Nacionales Mas Visitados</h3></div>       <div class="banner-bottom-grids">
        <?php $i=0; ?><?php foreach ($this->nacionales as $nacional): ?>
        <?php $i++; ?>



        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="<?php echo $this->baseUrl('destinos/ver/buscar/').$nacional->id; ?>">
              <img src="<?php echo $this->baseUrl('assets/images/'.$nacional->foto); ?>" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-12 deals-rating">
                    <h3><?php echo $nacional->nombre; ?></h3>
                    <p><?php echo $nacional->corta; ?></p>
                  </div>
                  
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>

         <?php if ($i==3): ?>
          <div class="clearfix"> </div>
          <?php $i=0; ?>
        <?php endif ?>
        
      <?php endforeach ?>
        
        <div class="clearfix"> </div>
        
        
      </div>
      <div class="banner-bottom-info">
         <br>
        
        <?php foreach ($this->todos_nacionales as $todos_nacional): ?>
          <a href="<?php echo $this->baseUrl('destinos/ver/buscar/').$todos_nacional->id; ?>"><span class="label label-primary"><?php echo $todos_nacional->nombre; ?></span></a>
        <?php endforeach ?>
      </div>
      
      
    </div>
    <!-- //container -->
  </div>

  <div class="banner-bottom">     <!-- container -->     
  <div class="container">       
  <div class="banner-bottom-info">         
    <h3>Nuestros Destinos Internacionales Mas Visitados</h3>       
  </div>       
  <div class="banner-bottom-grids">       
    <?php $i=0; ?>       
    <?php foreach ($this->internacionales as $internacional): ?>         
      <?php $i++; ?>



        <div class="col-md-4 weekend-grids">
          <div class="weekend-grid">
            <a href="<?php echo $this->baseUrl('destinos/ver/buscar/').$internacional->id; ?>">
              <img src="<?php echo $this->baseUrl('assets/images/'.$internacional->foto); ?>" alt="" />
              <div class="deals-info-grid">
                <div class="deals-grids">
                  <div class="col-md-12 deals-rating">
                    <h3><?php echo $internacional->nombre; ?></h3>
                    <p><?php echo $internacional->corta; ?></p>
                  </div>
                  
                  <div class="clearfix"> </div>
                </div>
              </div>
            </a>
          </div>
        </div>

         <?php if ($i==3): ?>
          <div class="clearfix"> </div>
          <?php $i=0; ?>
        <?php endif ?>
        
      <?php endforeach ?>
        
        <div class="clearfix"> </div>
        
        
      </div>
      <div class="banner-bottom-info">
      <br>
        
        <?php foreach ($this->todos_internacionales as $todos_internacional): ?>
          <a href="<?php echo $this->baseUrl('destinos/ver/buscar/').$todos_internacional->id; ?>"><span class="label label-primary"><?php echo $todos_internacional->nombre; ?></span></a>
        <?php endforeach ?>
      </div>
      
      
    </div>
    <!-- //container -->
  </div>