  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h2>Terminos y Condiciones Generales</h2>
      </div>
      <div class="faqs-top-grids terms-grids">  
        <h5>A través del portal de CONKHEP proporciona una plataforma en línea donde el Usuario podrá realizar reservas de todo tipo de paquetes de viaje. Al llevar a cabo una reserva mediante CONKHEP.COM, el Usuario entra en una relación contractual directa (legalmente vinculante) tanto con el proveedor como con CONKHEP.</h5>                               
        
        <div class="terms-bottom-grids">
          <h6>1.Precios de los Paquetes</h6>
          <p>Todos los precios de los servicios Nacionales están expresados en Boli vares, y todos los precios de los servicios Internacionales  están expresados en Dolares Americanos y están sujetos a cambios sin previo aviso, sólo en el caso de que CONKHEP no haya recibido la totalidad del pago de los servicios. Por consiguiente, el Usuario se compromete a pagar cualquier diferencia de precios que se produzca, previo al pago de la totalidad del precio.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>2.Exclusiones</h6>
          <p>Los precios publicados en el portal no incluyen los impuestos sobre el pasaje aéreo, el fondo de turismo, las tasas aeroportuarias, ni cualquier otro impuesto de salida aplicable. Tampoco incluyen gastos de visado a cualquier país, pasaporte, traslados, ni pasajes aéreos donde no esté especificado, extras de ningún tipo en los hoteles, exceso de equipaje, propinas en general, servicios o gastos de cualquier tipo que no estén contemplados en los itinerarios, ni cualquier gasto de índole personal.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>3.Entradas de Eventos</h6>
          <p>En el caso de entradas para conciertos y eventos deportivos: las entradas a estos eventos se consiguen por medio de compañías legales de reventa de entradas, por lo que en oportunidades el costo final que se paga por la entrada, no es el mismo que marca la misma.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>4.Métodos de Pago</h6>
          <p>Para proceder con las reservas de paquetes de viaje y compra de boletos a través del portal Web, el Usuario deberá usar como método de pago un deposito o transferencia electrónica (a veces sin opción a reembolso dependiendo de la política del proveedor) para la reserva y confirmación de la misma. CONKHEP recomienda al usuario consultar minuciosamente los datos del paquete y de los pasajes aéreos a ser reservados, a los fines de revisar las condiciones especiales aplicables a su reserva en cuanto a pago y políticas de anulacion, antes de realizar la reserva. Dentro de las veinticuatro (24) horas siguientes a la realización del pago por parte del Usuario, CONKHEP enviará un correo electrónico de confirmación de la misma una vez la confirmación de pago haya verificada y conformada por parte del banco beneficiario.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>5.Revisiones y Anulaciones</h6>
          <p>Los precios publicados en el portal Web no incluyen los impuestos sobre el pasaje aéreo, el fondo de turismo, las tasas aeroportuarias, ni cualquier otro impuesto de salida aplicable. Tampoco incluyen gastos de visado a cualquier país, pasaporte, traslados, ni pasajes aéreos donde no esté especificado, extras de ningún tipo en los hoteles, exceso de equipaje, propinas en general, servicios o gastos de cualquier tipo que no estén contemplados en los itinerarios, ni cualquier gasto de índole personal</p>
        </div>

        <div class="terms-bottom-grids">
          <h6>Reservaciones Realizadas en Temporada Alta</h6>
          <p>Todas las reservaciones realizadas para viajar durante períodos denominados como temporada alta, lo cual incluye pero sin estar limitado a Carnavales, Semana Santa, Vacaciones Escolares, Navidad, Año Nuevo, puentes y otros feriados y fechas especiales, no son reembolsables ni transferibles. Otras restricciones podrán aplicar dependiendo del proveedor del que se trate.</p>
        </div>

        <div class="terms-bottom-grids">
          <h6>Reembolso</h6>
          <p>En caso que de conformidad con la política aplicable por el proveedor, el Usuario tenga derecho al reembolso de las reservas pagadas y no utilizadas, los reembolsos serán procesados dentro de los treinta (30) días siguientes a la aceptación de los mismos por parte del proveedor.</p>
        </div>





<div class="terms-bottom-grids">
          <h6>Emisión de Boletos y Vouchers</h6>
          <p>Toda reserva de boletos aéreos realizada a través del portal Web de CONKHEP , estará sujeta a la previa emisión por parte de las líneas aéreas de dichos boletos, así como a los demás términos y condiciones aplicados en materia de emisión de Boletos por la línea o líneas aéreas de las que se trate. Por consiguiente, CONKHEP no podrá garantizar la emisión de boletos aéreos hasta dichas emisiones sean confirmadas por las líneas aéreas.</p>
          <p>Dentro de las veinticuatro (24) horas siguientes a la recepción por parte del Usuario de la conformidad de pago por parte de CONKHEP, y una vez confirmada por la línea o líneas aéreas de las que se trate, la emisión de los boletos, el Usuario recibirá vía electrónica, la totalidad de los boletos y vouchers relacionados con la reserva.</p>
        </div>

        <div class="terms-bottom-grids">
          <h6>Documentación Requerida para Viajes</h6>
          <p>Es responsabilidad única del Usuario tener toda la documentación en regla para el viaje. El Usuario deberá estar provisto de pasaporte vigente, así como de las visas y vacunas y otros requisitos, que puedan ser necesarios según el itinerario escogido. El incumplimiento de lo antes expuesto por parte del Usuario, le ocasionará la pérdida del derecho a cualquier reembolso y a sufrir las consecuencias de su omisión. Asimismo, cuando las autoridades de cualquier país rehusaren permitir la entrada al Usuario por cualquier motivo, tal circunstancia ocasionará la pérdida del derecho a cualquier reembolso por parte del Usuario.</p>
        </div>




      </div>
    </div>
    <!-- //container -->
  </div>