   <!-- banner -->
  <div class="banner">
    <!-- container -->
    <div class="container">
      <div class="col-md-4 banner-left">

        <!--<section class="slider2">
          <div class="flexslider">
            <ul class="slides">

            <?php foreach ($this->sliders as $slider): ?>

              <li>
                <div class="slider-info">
                  <img src="<?php echo $this->baseUrl($slider->imagen); ?>" alt="<?php echo $slider->titulo; ?>">
                </div>
              </li>

            <?php endforeach ?>
              
              
            </ul>
          </div>
        </section>-->
        <!--FlexSlider-->
      </div>
      <div class="col-md-8 banner-right">
        <div class="sap_tabs">  
          <div class="booking-info">
            <h2>A Donde Quieres Ir?</h2>
          </div>
           <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
               
             
              <input class="filtros" type="hidden" name="f_estado" id="f_estado">
          <input class="filtros" type="hidden" name="f_pais" id="f_pais">
          <input class="filtros" type="hidden" name="f_hotel" id="f_hotel">
        

          <div class="row">
  <div class="col-lg-8 col-lg-offset-2">

     

      <div class="input-group input-group-lg">
      <input style="border-radius: 0px;" type="text"  id="buscador" name="buscador" class="col-sm-9 form-control" placeholder="Buscar Destino, ciudad u hotel">
      <span class="input-group-btn">
        <button id="btn_buscar" name="btn_buscar" onclick="buscar()" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <div class="res_busq">
      
    </div>



  </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->












              
          </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner -->

  <!--<div class="move-text">
    <div class="marquee">Registra tu Hotel en nuestro sitio gratis.<a href="<?php echo $this->baseUrl('/'); ?>">Aqui</a></div>
    
        <script>
      $('.marquee').marquee({ pauseOnHover: true });
      //@ sourceURL=pen.js
    </script>
  </div>-->
  <!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
<div class="container">
      <div class="banner-bottom-info">
        <h3>Oferta del Mes</h3>
      </div>
      <div class="banner-bottom-grids">
        <div class="col-md-4 banner-bottom-grid">
          <div class="banner-bottom-right">
            <a href="<?php echo $this->baseUrl('/'); ?>">
              <img src="images/o1.jpg" alt="Paquete a Orlando" />
              <div class="destinations-grid-info tours">
                  <h5>Aprovecha!!! Nuestro Paquete a Orlando </h5>
                  <p>Hospedaje, traslados y comidas incluidas</p>
                  <p class="b-period">5 Dias y 4 Noches en el Hotel de tu Preferencia </p>
              </div>
            </a>
          </div>
          <div class="top-destinations-grids ofertas">
            <div class="top-destinations-info">
              <h4>Mas vistos</h4>
            </div>
            <div class="top-destinations-bottom">
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="images/x1.jpg" alt="">
                </div>
                <div class="col-xs-7 td-middle">
                  <a href="<?php echo $this->baseUrl('/contacto'); ?>">Ciudad</a>
                  <p>Caracas para todo el mundo En un valle</p>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                  <p>$190</p>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="images/x2.png" alt="">
                </div>
                <div class="col-xs-7 td-middle">
                  <a href="<?php echo $this->baseUrl('/contacto'); ?>">Amazonas</a>
                  <p>Aquí nace el Orinoco</p>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                  <p>$213</p>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img  src="images/x3.jpg" alt="">
                </div>
                <div class="col-xs-7 td-middle">
                  <a href="<?php echo $this->baseUrl('/contacto'); ?>">Llanos</a>
                  <p>Excursionismo, ecoturismo, agroturismo</p>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                  <p>$176</p>
                </div>
                <div class="clearfix"> </div>
              </div>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="images/x4.jpg" alt="">
                </div>
                <div class="col-xs-7 td-middle">
                  <a href="<?php echo $this->baseUrl('/contacto'); ?>">Sol y Playa</a>
                  <p>Playas de arenas blancas y cristalinas aguas</p>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </div>
                <div class="col-xs-2 td-right">
                  <p>$490</p>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 banner-bottom-grid holidays-bottom-grid">
          <div class="holidays-grids">
            <div class="holidays-info">
              <h4>Nuestro Destinos </h4>
            </div>
            
          </div>


          

          <?php $ban=1; ?>
          <?php foreach ($this->destinos as $destino): ?>

            <?php if ($ban==1): ?>

              <div class="holidays-top-grids">
              <div class="col-md-6 holidays-top-grid animated slideInUp">
              <a href="<?php echo $this->baseUrl('destinos/ver/buscar/'.$destino->id); ?>"><img src="<?php echo $this->baseUrl('assets/images/'.$destino->foto); ?>" alt="" /></a>
              <h2><span><?php echo $destino->nombre; ?></span></h2>
              

            </div>
            <?php $ban=2; ?>
            <?php continue; ?>
              
            <?php endif ?>



            <?php if ($ban==2): ?>

              <div class="col-md-6 holidays-top-grid animated slideInUp">
              <a href="<?php echo $this->baseUrl('destinos/ver/buscar/'.$destino->id); ?>"><img src="<?php echo $this->baseUrl('assets/images/'.$destino->foto); ?>" alt="" /></a>
              <h2><span><?php echo $destino->nombre; ?></span></h2>
            </div>

            <div class="clearfix"> </div>

            </div>

             <?php $ban=1; ?>

            <?php continue; ?>
              
            <?php endif ?>
            
          <?php endforeach ?>

          <?php if ($ban=2): ?>

            <div class="clearfix"> </div>
          </div>
            
          <?php endif ?>

          
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->
  <!-- popular-grids -->
  <div class="popular-grids">
    <!-- container -->
    <div class="container">
      <div class="popular-info">
        <h3>Todos Nuestros Destinos</h3>
      </div>
      <!-- slider -->
      <div class="slider">
        <div class="arrival-grids">      
           <ul id="flexiselDemo1">
              <?php foreach ($this->destinos as $destino): ?>

                <li>
               <a href="<?php echo $this->baseUrl('destinos/ver/buscar/'.$destino->id); ?>"><img src="<?php echo $this->baseUrl('assets/images/'.$destino->foto); ?>" alt=""/>
               </a>
               <h4><span><?php echo $destino->nombre; ?></span></h4>
             </li>
                
              <?php endforeach ?>
             
            </ul>
            
        </div>
      </div>
      <!-- //slider -->
    </div>
    <!-- //container -->
  </div>
  <!-- popular-grids -->
  <!-- footer -->
