  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h2>Prefuntas Frecuentes</h2>
      </div>
      <div class="faqs-top-grids terms-grids">  
        <h5>  Viajar es un placer, pero a la hora de emprender el mismo se hace necesario conocer ciertos Tips de interés a fin de que las vacaciones ó viajes de negocios sean un verdadero éxito. Por esta razón en Conkhep estamos comprometidos con nuestros clientes y colocamos a disposición las siguientes preguntas más frecuentes a la hora de viajar:
</h5>                               
       
        <div class="terms-bottom-grids">
          <h6>¿Que son hoteles "All Inclusive o Todo Incluido"?</h6>
          <p>Son aquellos Hoteles, que ofrecen dentro de su servicio de alojamiento: Desayuno, Almuerzo, Cena, Snack, Todas las bebidas con alcohol y sin alcohol [Nacionales], amplias actividades de animación, deportivas, Show diurnos y nocturnos y en algunos casos Traslados Aeropuerto/Hotel/Aeropuerto..</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>¿Como puedo reservar una estadia en un hotel "All Inclusive"?</h6>
          <p>Al momento del hotel confirmar la solicitud de reserva, estipula la fecha limite de pago de la misma, los cuales deben ser respetado, ya que una vez vencido el plazo, automáticamente se cancela la reserva; Tomando en cuenta que no garantizamos reservas luego de vencida la fecha de pago y no haber recibido confirmación del mismo.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>¿Cuándo Debo reconfirmar mi pasaje de avión?</h6>
          <p>Para vuelos internacionales es necesario reconfirmar la salida con 3 días de anticipación, lo mismo que el regreso. En vuelos internos siempre es recomendable chequearlos 24 horas antes, por si hubo alguna reprogramación.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>4.¿Qué tiempo antes debo estar en el aeropuerto?</h6>
          <p>Debe presentarse 3 horas antes de la salida de su vuelo internacional y dos horas antes en los vuelos nacionales, con la finalidad de realizar los procesos de seguridad y controles migratorios.</p>
        </div>
        <div class="terms-bottom-grids">
          <h6>¿Cuántos kilos de equipaje puedo llevar?</h6>
          <p>Todas las compañías aéreas tienen una cantidad de kilos y maletas limitadas. Lo normal es 25 kg por persona más 1 bolso de mano, y en los vuelos internos por lo general se aceptan 20 kg.</p>
        </div>

        <div class="terms-bottom-grids">
          <h6>¿Qué impuestos debo pagar en el Aeropuerto?</h6>
          <p>Generalmente, se está extendiendo el cobro de las tasa de embarque al emitir el pasaje de avión, no obstante, al pagar el pasaje solicite A SU Agente de Viajes que le informe si incluye los impuestos ya que, de lo contrario, tiene que pagar la tasa en el aeropuerto y no se acepta el pago con tarjeta de crédito.</p>
        </div>

        <div class="terms-bottom-grids">
          <h6>¿Qué productos no puedo llevar en mi equipaje de mano?</h6>
          <p>Si deseas evitar cualquier tipo de problema en los aeropuertos, se recomienda (o incluso se prohíbe en determinados países) no llevar en tu equipaje de mano los siguientes objetos: Cubiertos de metal, Sacacorchos, Cortaúñas, Navajas u hojillas de afeitar, Herramientas, Juguetes que simulen armas, Dardos deportivos, Palos de billar, Bates de béisbol, Palos de Golf, Agujas hipodérmicas, sin receta médica, Insecticidas, Encendedores a gas. Etc</p>
        </div>





      </div>
    </div>
    <!-- //container -->
  </div>