<!DOCTYPE html>
<html>
<head>
<title>Conkhed | Home </title>
<!-- Custom Theme files -->
<?php 
 ?>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="agencia de viajes, paquetes, hoteles, caracas, venezuela, maracay, destinos, turismo venezuela, turismo aventura" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->

<link href="<?php echo $this->baseUrl('/assets/css/font-awesome.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/animate.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/datepicker.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/bootstrap.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/style.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/flexslider.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/JFFormStyle-1.css'); ?>" rel="stylesheet" >

<!--
<link href="<?php echo $this->baseUrl('/html/css/font-awesome.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/html/css/animate.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/html/css/datepicker.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/html/css/bootstrap.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/style.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/flexslider.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/JFFormStyle-1.css'); ?>" rel="stylesheet" >

<link rel='stylesheet' href='css/icons.css' type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster-light.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/animations.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/responsive.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/fontawesome-stars-o.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/frontend.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/settings.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/reset.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/wordpress.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/animation.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/ilightbox.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/custom-ui.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/mediaelementplayer-legacy.min.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/flexslider.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/odometer-theme-minimal.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/screen.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/leftalignmenu.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/font-awesome.min.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/themify-icons.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/grid.css'); ?>" type='text/css' media='all' />
    <link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/style.css'); ?>" type='text/css' media='all' />

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans%3A700%2C700%2C700%2C700%2C700%2C100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CPoppins%3A700%2C700%2C700%2C700%2C700%2C100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset' type='text/css' media='all' />

    -->

<!-- js 

          <script src="<?php echo $this->baseUrl('/assets/js/jquery-2.1.1.js'); ?>"></script>-->
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/modernizr.custom.js'); ?>"></script>

<!-- //js -->
<!-- fonts -->



<!--
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
-->



<!-- //fonts  
<script type="text/javascript">
    $(document).ready(function () {
      $('<?php echo $this->baseUrl('/contacto'); ?>horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion           
        width: 'auto', //auto or any width like 600px
        fit: true   // 100% fit in a container
      });
    });
  </script>--> 
<!--pop-up-->
<!--
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/menu_jquery.js'); ?>"></script>


          <link href="<?php echo $this->baseUrl('/assets/diseno/css/jquery-ui.css'); ?>" rel="stylesheet" >
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.marquee.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.flexisel.js'); ?>"></script>
-->          


          <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100803241-1', 'auto');
  ga('send', 'pageview');

</script>



<!--//pop-up--> 
</head>
<body class="home page-template-default page page-id-3102 woocommerce-no-js ppb_enable">
    <!--<input type="hidden" id="pp_menu_layout" name="pp_menu_layout" value="leftalign" />
    <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="" />
    <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="" />
    <input type="hidden" id="pp_image_path" name="pp_image_path" value="images/" />
    <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="index.html" />
    <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1" />
    <input type="hidden" id="tg_smart_fixed_menu" name="tg_smart_fixed_menu" value="1" />
    <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1" />
    <input type="hidden" id="pp_topbar" name="pp_topbar" value="0" />
    <input type="hidden" id="post_client_column" name="post_client_column" value="4" />
    <input type="hidden" id="pp_back" name="pp_back" value="Back" />
    <input type="hidden" id="pp_page_title_img_blur" name="pp_page_title_img_blur" value="" />
    <input type="hidden" id="tg_portfolio_filterable_link" name="tg_portfolio_filterable_link" value="" />
    <input type="hidden" id="tg_flow_enable_reflection" name="tg_flow_enable_reflection" value="" />
    <input type="hidden" id="tg_lightbox_skin" name="tg_lightbox_skin" value="metro-black" />
    <input type="hidden" id="tg_lightbox_thumbnails" name="tg_lightbox_thumbnails" value="horizontal" />
    <input type="hidden" id="tg_lightbox_thumbnails_display" name="tg_lightbox_thumbnails_display" value="1" />
    <input type="hidden" id="tg_lightbox_opacity" name="tg_lightbox_opacity" value="0.8" />
    <input type="hidden" id="tg_sidemenu_overlay_effect" name="tg_sidemenu_overlay_effect" value="blur" />
    <input type="hidden" id="tg_live_builder" name="tg_live_builder" value="0" />
    <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="3" />-->
  <!--header-->
  <div class="header">
    <div class="container">
      <div class="header-grids">
        <div class="logo">
          <h1><a  href="<?php echo $this->baseUrl('/'); ?>"><img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" style="width: 7em;" ></h1>
        </div>
        <!--navbar-header-->
        <div class="header-dropdown">
          <div class="emergency-grid">
            <ul>
              <li>Telefono : </li>
              <li class="call">+58 212 762 3005</li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="nav-top">
        <div class="top-nav">
          <span class="menu"><img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/menu.png" alt="" /></span>
          <ul class="nav1">
            <li class="active"><a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
            <li><a href="<?php echo $this->baseUrl('/hoteles'); ?>">Hoteles</a></li>
            <li><a href="<?php echo $this->baseUrl('/destinos'); ?>">Destinos</a></li>
            <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Paquetes</a></li>
            <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Ofertas</a></li>
            <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Contacto</a></li>
            <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Servicios</a></li>
          </ul>
          <div class="clearfix"> </div>
          <!-- script-for-menu -->
               <script> 
                 $( "span.menu" ).click(function() {
                 $( "ul.nav1" ).slideToggle( 300, function() {
                 // Animation complete.
                  });
                 });
              
              </script>
            <!-- /script-for-menu -->
        </div>
        <div class="dropdown-grids">
            <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
              <div id="loginBox">                
                <form id="loginForm">
                  <div class="login-grids">
                    <div class="login-grid-left">
                      <fieldset id="body">
                        <fieldset>
                          <label for="email">Email </label>
                          <input type="text" name="email" id="email">
                        </fieldset>
                        <fieldset>
                          <label for="password">Clave</label>
                          <input type="password" name="password" id="password">
                        </fieldset>
                        <input type="submit" id="login" value="Sign in">
                        <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                      </fieldset>
                      <span><a href="#">Olvidaste tu clave?</a></span>
                      <div class="or-grid">
                        <p>O</p>
                      </div>
                      <div class="social-sits">
                        <div class="facebook-button">
                          <a href="#">Inicia con facebook</a>
                        </div>
                        <div class="chrome-button">
                          <a href="#">Inicia con  Google</a>
                        </div>
                        <div class="button-bottom">
                          <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--//header-->
 


        <?php echo $this->layout()->content; ?>

        <!-- footer section -->

  <div class="footer" style="    width: 100%;    padding: 0px;">
    <!-- container -->
    <div class="container">
      <div class="footer-top-grids">
        <div class="footer-grids">
          <div class="col-md-3 footer-grid">
            <h4>Nuestros Productos</h4>
            <ul>
              <li><a href="<?php echo $this->baseUrl('/hoteles'); ?>">Hoteles</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos'); ?>">Destinos</a></li>
              <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Paquetes</a></li>
              <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Ofertas</a></li>
              <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Full Day</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-grid">
            <h4>Nosotros</h4>
            <ul>
              <li><a href="<?php echo $this->baseUrl('/nosotros'); ?>">Quienes Somos</a></li>
              <li><a href="<?php echo $this->baseUrl('/faqs'); ?>">FAQs</a></li>
              <li><a href="<?php echo $this->baseUrl('/terminos'); ?>">Terminos y Condiciones</a></li>
              <li><a href="<?php echo $this->baseUrl('/contacto'); ?>">Contactos</a></li>
              <li><a href="<?php echo $this->baseUrl('/blog'); ?>">Noticias</a></li>


            </ul>
          </div>
          <div class="col-md-3 footer-grid">
            <h4>Destinos Nacionales</h4>
            <ul>
              <li><a href="<?php echo $this->baseUrl('destinos/ver/buscar/1495410798'); ?>">Caracas</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1488922929'); ?>">Merida</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1489092186'); ?>">Isla de Margarita </a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1487595474'); ?>">La Gran Sabana</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1491875517'); ?>">Canaima Parque Nacional </a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1487595535'); ?>">La Tortuga</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1495043214'); ?>">Los Roques</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-grid">
            <h4>Destinos</h4>
            <ul class="chf_footer_list">
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1499456338'); ?>">Peru</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1489008119'); ?>">Bogota</a></li>
              <li><a href="<?php echo $this->baseUrl('/destinos/ver/buscar/1496867624'); ?>">Aruba</a></li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <!-- news-letter -->
        
        <!-- //news-letter -->
      </div>
    </div>
    <!-- //container -->
  </div>


<!-- //footer -->
  <div class="footer-bottom-grids">
    <!-- container -->
    <div class="container">
        <div class="footer-bottom-top-grids">
          <div class="col-md-4 footer-bottom-left">
            <p>Contacto : <span>+58 212 762-3005</span></p>
          </div>
          <div class="col-md-4 footer-bottom-left">
            <h4>Aceptamos</h4>
            <div class="a-cards">
              <ul>
                <li><a href="<?php echo $this->baseUrl('/contacto'); ?>"><img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/c1.png" alt="" /></a></li>
                <li><a href="<?php echo $this->baseUrl('/contacto'); ?>"><img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/c2.png" alt="" /></a></a></li>
                <li><a href="<?php echo $this->baseUrl('/contacto'); ?>"><img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/c3.png" alt="" /></a></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 footer-bottom-left">
            <h4>Nuestras redes</h4>
            <div class="social">
              <ul>
                <li><a target="_blank" href="https://www.facebook.com/CONKHEP" ><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/conkhep" ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/conkhep/" ><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                
              </ul>
            </div>
          </div>
          <div class="clearfix"> </div>
          
        </div>
    </div>
  </div>


          <script src="<?php echo $this->baseUrl('/assets/js/jquery.uploadfile.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery-ui.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/js/bootstrap.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.flexslider.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/easyResponsiveTabs.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/js/bootstrap-datepicker.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/script.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/js/upload.js'); ?>"></script>



    
</body>



<div id="modalVideo" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h4 class="modal-title">Videos del Destino</h4>

            </div>

            <div class="modal-body">

                cUERPO

            </div>

        </div>

    </div>

</div>
















</html>



