 <?php 

 
  $des_plan = array(
  'AI' =>'Alojamiento, Desayunos, Almuerzos, Cenas, Bebidas Nacionales',
  'MAP' =>'Alojamiento, Desayunos, Cenas',
  'FAP' =>'Alojamiento, desayunos, almuerzos, cenas, Sin Bebidas',
  'AP' =>'Alojamiento y  Desayuno',
  'EP' =>'Solo Alojamiento',
  );

  $des_estatus=array(
    '0'=>'Cancelada',
    '1'=>'En Espera de Pago',
    '2'=>'En Espera de Confirmacion de Pago',
    '3'=>'Pagada',
    '4'=>'Vencida, Debe cotizar nuevamente'
    )
 ?>


  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="faqs-top-grids">
        <div class="book-grids">
          <div class="col-md-6 book-left">
            <div class="book-left-info">
              <h3>Informacion de Su Reserva!</h3>
              <p>Tiene 24 para conservar el precio de su reserva</p>
            </div>
            <div class="book-left-form">
             <h3>Identificador de Reserva:<strong><?php echo $this->detalle_reserva['id']; ?></strong> </h3>
              
            </div>

            <div class="book-left-form">
             <h3>Estatus de Reserva: <strong><?php echo $des_estatus[$this->detalle_reserva['estatus']]; ?></strong> </h3>
              
            </div>

            <div class="book-left-form">
             <h3>Generar Pdf: <a class="btn btn-link" target="_blank" href="<?php echo $this->baseUrl('/destinos/imprimir/reserva/').$this->detalle_reserva['id']; ?>"> Imprimir</a> </h3>
              
            </div>
            

          </div>
          <div class="col-md-6 book-left book-right">
            <div class="book-left-info">
              <h3>Detalle de la Reserva</h3>
            </div>



            <div class="book-left-info">
              <h3><?php echo $this->hotel['nombre']; ?></h3>
              <p><?php echo $this->hotel['direccion']; ?></p>
                 <?php  for ($i=0; $i < $this->hotel['categoria']; $i++) { ?>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 
                  <? }  ?>

                  <hr>         
            </div>

            <div class="book-left-info">
            

              <h3>Reserva por: <?php echo $this->detalle_reserva['estadia']; ?> Noches</h3>
              <p>Checkin: <?php echo $this->detalle_reserva['entrada']; ?>  </p>
              <p>Checkout: <?php echo $this->detalle_reserva['salida']; ?>  </p>
                 

                  <hr>         
            </div>

            <div class="book-left-info">
            <?php $total=0; ?>
              <?php foreach ($this->detalles as $detalle): ?>
                <h3>Habitacion: <?php echo $detalle->habitacion_tipo; ?></h3>
                <p>Plan: <?php echo $des_plan[$detalle->habitacion_plan]; ?></p>
                <p>Ocupacion: <?php echo $detalle->habitacion_ocupacion; ?></p>
                <p>Adultos: <?php echo $detalle->adultos; ?></p>
                <p>Niños: <?php echo $detalle->ninos; ?></p>
                <p>SubTotal: <?php echo number_format($detalle->total, 2, ',','.')  ; ?></p>
                

                <?php $total=$total+intval($detalle->total); ?>

                <hr>
             
              <?php endforeach ?>
            </div>

            <div class="book-rigth-info" style="float: right;">
              
                <h3>Total a Cancelar:<?php echo number_format($total, 2, ',','.'); ?> </h3>     
                <hr>      

            </div>


            
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->