 <?php 

 
  $des_plan = array(
  'AI' =>'Alojamiento, Desayunos, Almuerzos, Cenas, Bebidas Nacionales',
  'MAP' =>'Alojamiento, Desayunos, Cenas',
  'FAP' =>'Alojamiento, desayunos, almuerzos, cenas, Sin Bebidas',
  'AP' =>'Alojamiento y  Desayuno',
  'EP' =>'Solo Alojamiento',
  );
 ?>


  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="faqs-top-grids">
        <div class="book-grids">
          <div class="col-md-6 book-left">
            <div class="book-left-info">
              <h3>Este es el Ultimo para para finalizar su reserva!</h3>
              <p>Necesitamos que nos indiques algunos detalles para confirmar tu pre-reserva</p>
            </div>
            <div class="book-left-form">
              <form id="form_prereserva" name="form_prereserva" action="<?php echo $this->baseUrl('/destinos/reserva/codigo/').$this->detalle_reserva['id_reserva']; ?>" method="post" >

              <input type="hidden" name="id_reserva" id="id_reserva" value="<?php echo $this->detalle_reserva['id_reserva']; ?>">
            
                <div class="col-sm-12">
                    <h3>  Datos de la Agencia</h3><br>  
                 </div>

              <div class="col-sm-12">

                <p>Agencia de Viajes </p>

            <select name="agencia" id="agencia" class="form-control">
    
            <option value="">Seleccione la Agencia</option>
                    <option value="Conkhep" >CONSORCIO KHEP C.A</option>

                    <?php foreach ($this->agencias as $agencia): ?>
                    <option value="<?php echo $agencia->id; ?>" ><?php echo utf8_encode($agencia->nombre); ?></option>
                  <?php endforeach; ?>


            </select>
          </div>

              <div class="col-sm-6">
                <p>Asesor</p>
                <input type="text" value="" name="asesor" id="asesor" placeholder="Nombre del Asesor">
              </div>

              <div class="col-sm-6">
                <p>Sede Agencia</p>
                <input type="text" value="" name="sede" id="sede" placeholder="Nombre del Asesor">
              </div>

              <div class="col-sm-12">
                <h3>Datos del Cliente</h3><br>  
              </div>

              <div class="col-sm-6">
                <p>Nombre y Apellido </p>
                <input type="text" value="" name="nombre" id="nombre" placeholder="Nombre y Apellido">
              </div>

              <div class="col-sm-6">
                
                <p>Cedula de Identidad </p>
                <input type="text" value="" id="cedula" name="cedula" placeholder="Cedula">

              </div>
              <div class="col-sm-6">
                
                <p>Telefono</p>
                <input type="text" value="" id="tlf" name="tlf" placeholder="Telefono">

              </div>
              <div class="col-sm-6">
                
                <p>Email</p>
                <input type="text" value="" id="email_reserva" name="email_reserva" placeholder="Email">

              </div>
              <div class="col-sm-6">
                
                <p>Password</p>
                <input type="password" name="password_reserva" id="password_reserva" placeholder="Clave">

              </div>
              <div class="col-sm-6">
                
                <p>Re-Password</p>
                <input type="password" name="repassword" id="repassword" placeholder="Reingrese Clave">

              </div>
             
                <input type="submit" class="btn btn-primary" id="prereseva" name="preserva" value="Generar Reserva">
              </form>
              <a href="#">Recuperar Contraseña</a>
            </div>
            <div class="book-left-info">
              <h3>Informacion para pagos</h3>
              <p>Te garantizaremos tu reserva si realizas la transferencia en las próximas 24 horas</p>
              <p>Una vez que hayas confirmado tu prereserva, te facilitaremos nuestros datos bancarios para realizar la transferencia</p>
            </div>


            <!--<div class="book-left-bottom">
                <div class="book-left-facebook">
                  <a href="#">Connect with Facebook</a>
                </div>
                <div class="book-left-chrome">
                  <a href="#">Connect with Google</a>
                </div>
              </div>-->
          </div>
          <div class="col-md-6 book-left book-right">
            <div class="book-left-info">
              <h3>Detalle de la Reserva</h3>
            </div>



            <div class="book-left-info">
              <h3><?php echo $this->hotel['nombre']; ?></h3>
              <p><?php echo $this->hotel['direccion']; ?></p>
                 <?php  for ($i=0; $i < $this->hotel['categoria']; $i++) { ?>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 
                  <? }  ?>

                  <hr>         
            </div>

            <div class="book-left-info">
            

              <h3>Reserva por: <?php echo $this->detalle_reserva['dias']; ?> Noches</h3>
              <p>Checkin: <?php echo $this->detalle_reserva['entrada']; ?>  </p>
              <p>Checkout: <?php echo $this->detalle_reserva['salida']; ?>  </p>
                 

                  <hr>         
            </div>

            <div class="book-left-info">
            <?php $total=0; ?>
              <?php foreach ($this->detalles as $detalle): ?>
                <h3>Habitacion: <?php echo $detalle->habitacion_tipo; ?></h3>
                <p>Plan: <?php echo $des_plan[$detalle->habitacion_plan]; ?></p>
                <p>Ocupacion: <?php echo $detalle->habitacion_ocupacion; ?></p>
                <p>Adultos: <?php echo $detalle->adultos; ?></p>
                <p>Niños: <?php echo $detalle->ninos; ?></p>
                <p>SubTotal: <?php echo number_format($detalle->total, 2, ',','.')  ; ?></p>

                <?php $total=$total+intval($detalle->total); ?>

                <hr>
             
              <?php endforeach ?>
            </div>

            <div class="book-rigth-info" style="float: right;">
              
                <h3>Total a Cancelar:<?php echo number_format($total, 2, ',','.'); ?> </h3>     
                <hr>      

            </div>

            
            
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->