
<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">

<div class="col-sm-12 well">
        <div class="">

          <form class="form">
          <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">


            <div class="form-group col-sm-4">
         <label for="habitaciones" class=" control-label">Destino</label>

              <input type="text" class="form-control " id="destino_nombre" name="destino_nombre" placeholder="Destino" value="<?php echo $this->destino['nombre'];  ?>">
              
            </div>

            <div class="form-group col-sm-2">
         <label for="habitaciones" class=" control-label">Check In</label>

              <input type="text" class="form-control fecha" id="checkin" name="checkin" placeholder="checkin" value="<?php echo $this->data_checkin;  ?>">
            </div>
            <div class="form-group col-sm-2">
         <label for="habitaciones" class=" control-label">Check Out</label>

            <input type="text" class="form-control fecha" id="checkout" name="checkout" placeholder="checkout" value="<?php echo $this->data_checkout;  ?>">
            </div>


            
        <div class="form-group col-sm-1"> 
         <label for="habitaciones" class=" control-label">Adultos</label>
        <select id="adultos" name="adultos" class="form-control">
        <option checked value="<?php echo $this->data_adultos; ?>"><?php echo $this->data_adultos;  ?> </option>
          <option value="1">1 </option>
          <option value="2">2 </option>
          <option value="3">3 </option>
          <option value="4">4 </option>
          <option value="5">5 </option>
        </select>
        </div>
           
        <div class="form-group col-sm-1">
        <label for="habitaciones" class=" control-label">Niños</label>
        <select id="ninos" name="ninos" class="form-control">
        <option checked value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
          <option value="0">0 </option>
          <option value="1">1 </option>
          <option value="2">2 </option>
          <option value="3">3 </option>
          <option value="4">4 </option>
          <option value="5">5 </option>
        </select>
        </div>
          <div class="col-sm-2">
          <br>
          <button type="button" onclick="consultarHospedaje();" class="btn btn-default">Consultar</button>
            
          </div>
        </form>

        </div>
</div>















      
      <div class="faqs-top-grids">
        <!--single-page-->
        <div class="single-page">
            <div class="col-md-8 single-gd-lt">
              <div class="single-pg-hdr">
                <h2><?php echo $this->hotel['nombre']; ?></h2>
                <p><?php echo $this->hotel['direccion']; ?></p>
                <!--<p>Jump to: <a href="#">Over View</a>|<a href="#">Room Choices</a>|<a href="#">Hotel Information</a></p>-->
              </div>
              <div class="flexslider">
                    <ul class="slides">
                      <?php foreach ($this->fotos as $foto): ?>
                        <li data-thumb="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>">
                          <img src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt=""/>
                        </li>
                      <?php endforeach ?>

                    </ul>
              </div>
              <br>
                    <!-- FlexSlider -->
                  <script defer src="js/jquery.flexslider.js"></script>
                    <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                      $('.flexslider').flexslider({
                      animation: "slide",
                      controlNav: "thumbnails"
                      });
                    });
                    </script>

                <div>
                  <?php echo $this->hotel['larga']; ?>
                  <br><p></p>
                </div>


            </div>

            <div class="col-md-4 single-gd-rt">
              <div class="spl-btn">
                <div class="spl-btn-bor">
                  <a href="#">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>                      
                  </a>
                  <p>Oferta Especial</p>  
                  <script>
                    $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();   
                    });
                  </script>
                </div>
                <div class="sp-bor-btn text-right">
                  <h4><span>8,750</span> 4,850</h4>
                  <p class="best-pri">Mejor Precio</p>
                  <a class="best-btn" href="#">Reserva Ya</a>
                </div>
              </div>
             
              

              <div class="top-destinations-grids">
            <div class="top-destinations-info">
              <h4>Hoteles Disponibles </h4>
            </div>
            <div class="top-destinations-bottom">
              
            <?php foreach ($this->hoteles as $ht): ?>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="/assets/images/<?php echo $ht->foto ?>" alt="">
                </div>
                <div class="col-xs-6 td-middle">
                  <a href="<?php echo $this->baseUrl('/hoteles/ver/id/').$ht->id; ?>"><?php echo $ht->nombre; ?></a><br>
                  <!--<p><?php echo $hl->direccion ?></p>-->
                  <?php  for ($i=0; $i < $ht->categoria; $i++) { ?>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 
                  <? }  ?>
                </div>
                <div class="col-xs-3 td-right">
                  <p><?php echo $ht->bs; ?></p>
                  <!--<p><?php echo $ht->usd; ?></p>-->
                </div>
                <div class="clearfix"> </div>
              </div>
            <?php endforeach ?>

              
            </div>
          </div>
            </div>
            <div class="clearfix"></div>
        </div>
      
     
    


<div class="c-rooms">
        
<div class="p-table">

        <?php foreach ($this->habitaciones as $habitacion): ?>

          <?php $ObjHabitaciones= new Application_Model_DbTable_Habitaciones();

          $planes=$ObjHabitaciones->getHabitacionesPlanes($habitacion->id_hotel, $habitacion->tipo);

          $ocupaciones=$ObjHabitaciones->getHabitacionesOcupacion($habitacion->id_hotel, $habitacion->tipo);

           ?>
          
          <div class="p-table-grids">
            <div class="col-md-3 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Tipo de Habitacion</h6>
              </div>
              <div class="p-table-grid-info">
                <a href="#"><img src="images/p2.jpg" alt=""></a>
                <div class="room-basic-info">
                  <a href="#"><?php echo $habitacion->tipo; ?></a>
                  <h6>Ocupacion: <?php echo $habitacion->ocupacion ?></h6>
                  
                </div>
              </div>
            </div>
            <div class="col-md-3 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Planes Disponibles</h6>
              </div>
              <div class="rate-features">
                <ul>
                  <?php foreach ($planes as $plan): ?>
                    <li><?php echo $plan->plan; ?></li>
                  <?php endforeach ?>
               
                </ul> 
              </div>
            </div>

            <div class="col-md-3 p-table-grid">
              <div class="p-table-grad-heading">
                <h6>Ocupaciones Disponibles</h6>
              </div>
              <div class="rate-features">
                <ul>
                  <?php foreach ($ocupaciones as $ocupacion): ?>
                    <li><?php echo $ocupacion->ocupacion; ?></li>
                  <?php endforeach ?>
               
                </ul> 
              </div>
            </div>
            
            <div class="col-md-3 p-table-grid">

            <div class="p-table-grad-heading">
                <h6>Reservar</h6>
              </div>
            <div class="avg-rate">
                <h5>Disponibilidad Desde </h5>
                <span class="p-offer">Bs. <?php echo $habitacion->tarifa_bs; ?></span><br>  
                <span class="p-offer">Usd: <?php echo $habitacion->tarifa_usd; ?></span>
                
              </div>
                

              
              <div class="book-button-column">
                <a href="#">Reservar</a>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        
          
        <?php endforeach ?>

</div>
          


        
        
      </div>
    </div>

      <!--//single-page-->
      </div>

</div>
    <!-- //container -->

  </div>
  <!-- //banner-bottom --> 



  
            <script type="text/javascript">
             $(window).load(function() {      
              $("#flexiselDemo1").flexisel({
              visibleItems: 4,
              animationSpeed: 1000,
              autoPlay: true,
              autoPlaySpeed: 3000,        
              pauseOnHover:true,
              enableResponsiveBreakpoints: true,
              responsiveBreakpoints: { 
                portrait: { 
                  changePoint:480,
                  visibleItems: 1
                }, 
                landscape: { 
                  changePoint:640,
                  visibleItems: 2
                },
                tablet: { 
                  changePoint:768,
                  visibleItems: 3
                }
              }
            });
            });
            </script>