<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="faqs-top-grids">

        <div class="col-sm-12 well">
<h3>Busca tu hotel</h3>
<br>
  <form class="form">
  <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">

    <div class="form-group col-sm-2">
      <label for="habitaciones" class=" control-label">Check In</label>
      <input type="text" class="form-control fecha" id="checkin" name="checkin" placeholder="checkin">
    </div>
    <div class="form-group col-sm-2">
      <label for="habitaciones" class=" control-label">Check Out</label>
    <input type="text" class="form-control fecha" id="checkout" name="checkout" placeholder="checkout">
    </div>

    <div class="form-group col-sm-2">
    <label for="habitaciones" class=" control-label">Habitaciones</label>
    <select id="habitaciones" name="habitaciones" class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
</div>

    
<div class="form-group col-sm-2"> 
 <label for="habitaciones" class=" control-label">Adultos</label>
<select id="adultos" name="adultos" class="form-control">

  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
</div>
   
<div class="form-group col-sm-2">
<label for="habitaciones" class=" control-label">Niños</label>
<select id="ninos" name="ninos" class="form-control">

  <option>0</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
</div>
  <div class="col-sm-2" style="    margin-top: 1.3em;">
<label for="habitaciones" class=" control-label"></label>
  <button type="button" onclick="consultarHospedaje();" class="btn btn-default">Consultar</button>
    
  </div>
</form>

</div>

        <!--single-page-->
        <div class="single-page">
            <div class="col-md-8 single-gd-lt">
              <div class="single-pg-hdr">
                <h2><?php echo $this->destino['nombre']; ?></h2>
                <p><?php echo $this->destino['corta']; ?></p>
                <!--<p>Jump to: <a href="#">Over View</a>|<a href="#">Room Choices</a>|<a href="#">Hotel Information</a></p>-->
              </div>
              <div class="flexslider">
                    <ul class="slides">
                      <?php foreach ($this->fotos as $foto): ?>
                        <li data-thumb="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>">
                          <img src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt=""/>
                        </li>
                      <?php endforeach ?>

                    </ul>
              </div>
              <br>
                    <!-- FlexSlider -->
                  

                <div class="larga">
                  <?php echo $this->destino['larga']; ?>
                  <br><p></p>
                </div>

                <div class="top-destinations-info">
                  <h4>Archivos Descargables</h4>
                </div>
                <div class="customer-grid">
                  <ul>

                   <?php foreach ($this->archivos as $archivo): ?>

                     <li><a target="_blank" href="<?php echo $this->baseUrl('assets/pdf/'.$archivo->pdf); ?>"><?php echo $archivo->descripcion; ?></a></li>
                      
                    <?php endforeach ?>                
                 
                  </ul>
                </div>

                <?php if (isset($this->videos)): ?>
                  <div class="top-destinations-info">
                  <h4>Videos Destino</h4>
                </div>
                <div class="customer-grid">
                  <ul>

                   <?php foreach ($this->videos as $video): ?>

                     <li>
                     <button class="btn-link" type="button"
                      onclick="mostrarvideo('<?php echo $video->video; ?>')"> <?php echo $video->titulo; ?></button>

                     </li>
                      
                    <?php endforeach ?>                
                 
                  </ul>
                </div>
                <?php endif ?>


                


                

            </div>

            <div class="col-md-4 single-gd-rt">
              <!--<div class="spl-btn">
                <div class="spl-btn-bor">
                  <a href="#">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>                      
                  </a>
                  <p>Oferta Especial</p>  
                  <script>
                    $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();   
                    });
                  </script>
                </div>
                <div class="sp-bor-btn text-right">
                  <h4><span>8,750</span> 4,850</h4>
                  <p class="best-pri">Mejor Precio</p>
                  <a class="best-btn" href="#">Reserva Ya</a>
                </div>
              </div>-->
              <div class="map-gd">


              <?php echo base64_decode($this->destino['gmaps']); ?>


              </div>
              

              <div class="top-destinations-grids">
            <div class="top-destinations-info">
              <h4>Hoteles Disponibles </h4>
            </div>
            <div class="top-destinations-bottom">
              
            <?php foreach ($this->hoteles as $hotel): ?>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="/assets/images/<?php echo $hotel->foto ?>" alt="">
                </div>
                <div class="col-xs-6 td-middle">
                  <a href="<?php echo $this->baseUrl('/hoteles/ver/id/').$hotel->id; ?>"><?php echo $hotel->nombre; ?></a><br>
                  <!--<p><?php echo $hotel->direccion ?></p>-->
                  <?php  for ($i=0; $i < $hotel->categoria; $i++) { ?>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 
                  <? }  ?>
                </div>
                <div class="col-xs-3 td-right">
                  <p><?php echo $hotel->bs; ?></p>
                </div>
                <div class="clearfix"> </div>
              </div>
            <?php endforeach ?>

              
            </div>
          </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--//single-page-->
      </div>
     
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom --> 

  <!-- popular-grids -->
  <div class="popular-grids">
    <!-- container -->
    <div class="container">
      <div class="popular-info">
        <h3>Todos Nuestros Destinos</h3>
        
      </div>
      <!-- slider -->
      <div class="slider">
        <div class="arrival-grids">      
           <ul id="flexiselDemo1">
              <?php foreach ($this->destinos as $ds): ?>

                <li>
               <a href="<?php echo $this->baseUrl('destinos/ver/buscar/'.$ds->id); ?>"><img src="<?php echo $this->baseUrl('assets/images/'.$ds->foto); ?>" alt=""/>
               </a>
               <h4><span><?php echo $ds->nombre; ?></span></h4>
             </li>
                
              <?php endforeach ?>
             
            </ul>
            
        </div>
      </div>
      <!-- //slider -->
    </div>
    <!-- //container -->
  



 


</div>
  <!-- popular-grids -->