<!-- /navigation -->
<section class="page-crumb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="<?php echo $this->baseUrl('/'); ?>">Home</a>
                    </li>
                    <li><a href="<?php echo $this->baseUrl('/blog'); ?>">Blog</a>
                    </li>
                    <li class="active">Noticia </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="blog-post">
        <!-- Page Content -->
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8 noticia">
                <!-- Blog Post -->
        <h3 class="blogpost-title w3layouts w3 w3l w3ls agileits"><?php echo $this->noticia['titulo']; ?></h3>
                <!-- Date/Time -->
        <hr>
                <p class="blogpost-w3ls w3layouts w3 w3l w3ls agileits"><i class="fa fa-clock-o"></i> Publicado: <?php echo $this->noticia['date_add']; ?></p>

                <hr>

                <!-- Preview Image -->
        <div class="hover01 column">
          <div>
            <figure><img class="img-responsive blogpost-img-w3ls" src="<?php echo $this->baseUrl('/').$this->noticia['foto']; ?>" alt="w3layouts" title="w3layouts"></figure>
          </div>
        </div>

                <hr>

                <!-- Post Content -->
                <?php echo $this->noticia['noticia']; ?>

                <hr>

                <p> Autor: <?php echo $this->noticia['name'].' '.$this->noticia['lastname']; ?>   </p>

                <!-- Blog Comments -->


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 blog-post-w3layouts">
        
        <!-- Blog Categories Well -->
        <div class="well blog-post-agileits">
          <h4 class="blogpost-w3lsagile">Noticias Relacionadas</h4>
          <div class="row">
            <div class="col-lg-12">
              
               <?php foreach ($this->related as $new): ?>


                <div class="media">
      
      <div class="media-body">
        <h4 class="media-heading"><a href="<?php echo $this->baseUrl('/blog/ver/id/').$new['id']; ?>"><?php echo $new['titulo']; ?></a> </h4>
        <?php echo strip_tags(substr($new['noticia'], 0,100)); ?>
      </div>
    </div>
              
            <?php endforeach ?>

            </div>
          </div>
          <!-- /.row -->
        </div>


        <div class="well blog-post-agileits">
          <h4 class="blogpost-w3lsagile">Solicitudes</h4>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled">
                <li><a href="<?php echo $this->baseUrl('/solicitud/presupuesto'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Presupuesto</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/mueble'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Bienes Muebles</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/inmueble'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Bienes Inmuebles</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/auditar'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Auditoria</a></li>
                <li><a href="<?php echo $this->baseUrl('/solicitud/validador'); ?>"><span class="fa fa-hand-o-right" aria-hidden="true"></span>Validar</a></li>
              </ul>
            </div>
          </div>
          <!-- /.row -->
        </div>



        <!-- Blog Categories Well -->
        <div class="well blog-post-agileits">
          <h4 class="blogpost-w3lsagile">Etiquetas</h4>
          <div class="row">
            <div class="col-lg-12">

            <?php foreach ($this->etiquetas as $new): ?>

                  <a href="<?php echo $this->baseUrl('/blog/tags/id/').$new['descripcion']; ?>"> <span class="badge"><?php echo $new['descripcion']; ?></span> </a>
              
            <?php endforeach ?>
              
            </div>
          </div>
          <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
         
            </div>
        </div>
        <!-- /.row -->

        <hr>

        
    </div>
    <!-- /.container -->
</section>  