<!DOCTYPE html>
<html lang="es">
    <head>
        <base href="<?php echo $this->baseUrl(); ?>">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->baseUrl('/assets/img/favicon.ico'); ?>">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
        <title>Consorcio Conkhep.</title>
        <link href="<?php echo $this->baseUrl('/html/css/bootstrap.min.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl('/html/css/font-awesome.min.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl('/html/css/custom-ui.css'); ?>" rel="stylesheet">
        <link href="<?php echo $this->baseUrl('/html/css/style.css'); ?>" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="container">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="text-center"><img class="img img-responsive" src="<?php echo $this->baseUrl('assets/images/logo_cuadrado.png'); ?>" alt="Consorcio Conkhep."></div>
                <?php echo $this->loginForm; ?>
            </div>
            <?php //echo md5('123456'); ?>
        </div>

        <?php if ($this->error): ?>
            <div id="loginError" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p><?php echo $this->error; ?></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?> 
            
        <script src="<?php echo $this->baseUrl('/html/js/jquery.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/bootstrap.min.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/gmaps.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/smoothscroll.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/jquery.metisMenu.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/custom-layout.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/smoothscroll.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/morris/raphael-2.1.0.min.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/morris.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/dataTables/jquery.dataTables.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/dataTables/dataTables.bootstrap.js'); ?>"></script>
        <script src="<?php echo $this->baseUrl('/html/js/custom-admin.js'); ?>"></script>       
    </body>    
</html>