<?php
$id=$this->tarifa['id'];
$plan=$this->tarifa['plan'];
$tipo=$this->tarifa['tipo'];
$ocupacion=$this->tarifa['ocupacion'];
$bs=$this->tarifa['bs'];
$usd=$this->tarifa['usd'];
$nino=$this->tarifa['nino'];
$abuelo=$this->tarifa['abuelo'];
$extra=$this->tarifa['extra'];
$lun=$this->tarifa['lun'];
$mar=$this->tarifa['mar'];
$mie=$this->tarifa['mie'];
$jue=$this->tarifa['jue'];
$vie=$this->tarifa['vie'];
$sab=$this->tarifa['sab'];
$dom=$this->tarifa['dom'];
$estatus=$this->tarifa['estatus'];
$desde=$this->tarifa['desde'];
$hasta=$this->tarifa['hasta'];
 ?>



            
            <td><?php echo $plan; ?> <br> <?php echo $tipo; ?> <br><?php echo $ocupacion; ?></td>
          
         
          <td>
          <?php  
          if ($lun) { echo '<span class="label label-danger">Lun</span>'; }
          if ($mar) { echo '<span class="label label-danger">Mar</span>'; }
          if ($mie) { echo '<span class="label label-danger">Mie</span>'; }
          if ($jue) { echo '<span class="label label-danger">Jue</span>'; }
          if ($vie) { echo '<span class="label label-danger">Vie</span>'; }
          if ($sab) { echo '<span class="label label-danger">Sab</span>'; }
          if ($dom) { echo '<span class="label label-danger">Dom</span>'; }

           ?>
           <br>
          <span class="label label-primary"> Desde:<?php  echo $desde; ?></span>  -
           <span class="label label-primary">Hasta:<?php  echo $hasta; ?></span>
            

          </td>
        
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="bs<?php echo $id; ?>" id="bs<?php echo $id; ?>" value="<?php echo $bs; ?>" onblur="actualizaTarifa('<?php echo $id; ?>', 'bs')" class="form-control" placeholder="Bolivares">
            </div>

          </td>
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="usd<?php echo $id; ?>" id="usd<?php echo $id; ?>" value="<?php echo $usd; ?>" class="form-control" placeholder="USD"  onblur="actualizaTarifa('<?php echo $id; ?>', 'usd')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="nino<?php echo $id; ?>" id="nino<?php echo $id; ?>" value="<?php echo $nino; ?>" class="form-control" placeholder="Niños"  onblur="actualizaTarifa('<?php echo $id; ?>', 'nino')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="abuelo<?php echo $id; ?>" id="abuelo<?php echo $id; ?>" value="<?php echo $abuelo; ?>" class="form-control" placeholder="Abuelos"  onblur="actualizaTarifa('<?php echo $id; ?>', 'abuelo')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="extra<?php echo $id; ?>" id="extra<?php echo $id; ?>" value="<?php echo $extra; ?>" class="form-control" placeholder="Extra"  onblur="actualizaTarifa('<?php echo $id; ?>', 'extra')">
            </div>

          </td>
          <td>
          <div class="estatus">
            <?php if ($estatus){ ?>

                      <button type="button"  onclick="estatus(<?php echo $id; ?>, 'habitaciones', '0' )"  class="btn btn-default " title="Desactivar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="estatus(<?php echo $id; ?>, 'habitaciones', '1')"  class="btn btn-default " title="Activar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
            </div>
                  <div class="respuesta<?php echo $id; ?>"></div>

          </td>
