<h2>Archivos Descargables</h2>

		        <div class="well col-sm-12" >		
			        <div class="col-sm-4"><b>Nombre del Archivo</b></div>
			        <div class="col-sm-4"><b>Descripcion</b></div>
			        <div class="col-sm-4"><b>Acciones</b></div>
		        </div>

		        	
		       <?php foreach ($this->pdfs as $pdf ): ?>

					<div class="well col-sm-12" id="<?php echo $pdf->id; ?>">

						<div class="col-sm-4">
							<?php echo $pdf->descripcion; ?>
						</div>
						<div class="col-sm-4">
							<input type="text" name="descripcion<?php echo $pdf->id; ?>" id="descripcion<?php echo $pdf->id; ?>" value="<?php echo $pdf->descripcion; ?>"  class="form-control">
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary" onclick="actualizarpdf('<?php echo $pdf->id; ?>')" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-danger" onclick="borrar('<?php echo $pdf->id; ?>', 'pdf')" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					</div>
					
				<?php endforeach ?>