 <table class="table table-striped">
        <tr>
          <th>Habitacion</th>
          <th>Dias</th>
          <th>Tarifa BS</th>
          <th>Tarifa USD</th>
          <th>Niños</th>
          <th>Abuelos</th>
          <th>Extra</th>
          <th>Estatus</th>
          
        </tr>
      <?php foreach ($this->tarifas as $tarifa): ?>
        <tr  id="<?php echo $tarifa->id; ?>">
          <td><?php echo $tarifa->plan; ?> <br> <?php echo $tarifa->tipo; ?> <br><?php echo $tarifa->ocupacion; ?></td>
          
         
          <td>
          <?php  
          if ($tarifa->lun) { echo '<span class="label label-danger">Lun</span>'; }
          if ($tarifa->mar) { echo '<span class="label label-danger">Mar</span>'; }
          if ($tarifa->mie) { echo '<span class="label label-danger">Mie</span>'; }
          if ($tarifa->jue) { echo '<span class="label label-danger">Jue</span>'; }
          if ($tarifa->vie) { echo '<span class="label label-danger">Vie</span>'; }
          if ($tarifa->sab) { echo '<span class="label label-danger">Sab</span>'; }
          if ($tarifa->dom) { echo '<span class="label label-danger">Dom</span>'; }

           ?>
           <br>
          <span class="label label-primary"> Desde:<?php  echo $tarifa->desde; ?></span>  -
           <span class="label label-primary">Hasta:<?php  echo $tarifa->hasta; ?></span>
            

          </td>
        
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="bs<?php echo $tarifa->id; ?>" id="bs<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->bs; ?>" onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'bs')" class="form-control" placeholder="Bolivares">
            </div>

          </td>
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="usd<?php echo $tarifa->id; ?>" id="usd<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->usd; ?>" class="form-control" placeholder="USD"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'usd')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="nino<?php echo $tarifa->id; ?>" id="nino<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->nino; ?>" class="form-control" placeholder="Niños"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'nino')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="abuelo<?php echo $tarifa->id; ?>" id="abuelo<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->abuelo; ?>" class="form-control" placeholder="Abuelos"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'abuelo')">
            </div>

          </td>

          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="extra<?php echo $tarifa->id; ?>" id="extra<?php echo $tarifa->id; ?>" value="<?php echo $tarifa->extra; ?>" class="form-control" placeholder="Extra"  onblur="actualizaTarifa('<?php echo $tarifa->id; ?>', 'extra')">
            </div>

          </td>
          <td>
          <div class="estatus">
            <?php if ($tarifa->estatus){ ?>

                      <button type="button"  onclick="estatus(<?php echo $tarifa->id; ?>, 'habitaciones', '0' )"  class="btn btn-default " title="Desactivar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="estatus(<?php echo $tarifa->id; ?>, 'habitaciones', '1')"  class="btn btn-default " title="Activar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
            </div>
                  <div class="respuesta<?php echo $tarifa->id; ?>"></div>

          </td>


          
        </tr>
          
      <?php endforeach ?>
      </table>