<table class="table table-striped">
                <tr>
                    <th>Plan</th>
                    <th>Tipo</th>
                    <th>Ocupacion</th>
                    <th>Accion</th>
                </tr>
            <?php foreach ($this->habitaciones as $habitacion): ?>
                <tr  id="<?php echo $habitacion->id; ?>">
                    <td><?php echo $habitacion->plan; ?></td>
                    <td><?php echo $habitacion->tipo; ?></td>
                    <td><?php echo $habitacion->ocupacion; ?></td>
                    <td><button class="btn btn-danger" type="button" onclick="borrar('<?php echo $habitacion->id; ?>','habitaciones')">Eliminar</button></td>
                </tr>
                
            <?php endforeach ?>
            </table>