<?php

$respuesta=json_decode($this->respuesta);

 ?>

 <ul style="    background: #fff;    height: 10em;    overflow: auto;">

 <?php foreach ($respuesta as $res): ?>

 	<li style=" padding: 1em 0.5em; border-bottom: 1px solid #ddd;" value="<?php echo $res->id; ?>" onclick="selectbusqueda('<?php echo $res->tipo ?>','<?php echo $res->id; ?>', '<?php echo $res->descripcion; ?>')"><?php echo $res->descripcion; ?></li>
 	
 <?php endforeach ?>
 	

 </ul>