<?php 

$habitacion_tipo=$this->habitacion['tipo'];
$habitacion_ocupacion=$this->habitacion['ocupacion'];
$habitacion_id=$this->habitacion['id'];
$habitacion_plan=$this->habitacion['plan'];
$habitacion_tarifa_usd=$this->habitacion['tarifa_usd'];

$numero_adultos = $this->numero_adultos;
$numero_ninos = $this->numero_ninos;
$checkin = $this->checkin;
$checkout = $this->checkout;


date_default_timezone_set('America/Caracas');
        $cin=explode('-', $checkin); $cin=$cin[2].'-'.$cin['1'].'-'.$cin[0];
        $cout=explode('-', $checkout); $cout=$cout[2].'-'.$cout['1'].'-'.$cout[0];


        $dias   = (strtotime($cin)-strtotime($cout))/86400;
        $dias   = abs($dias); $dias = floor($dias);

       // echo $dias;
        

$ObjTarifa = new Application_Model_DbTable_Tarifas();

 ?> 
            <?php 

            $tarifas=$ObjTarifa->getTarifaHabitacion($habitacion_id);

            $tarifa_bs=($tarifas['bs']*$numero_adultos)+($tarifas['nino']*$numero_ninos);
            $total=$tarifa_bs*$dias;



             ?>
                <p>Reserva de Habitacion: <?php echo $habitacion_tipo ?> por <?php echo $dias  ?> Noches </p>
                <h5>Total  </h5>
                <span class="p-offer bs">Bs. <?php echo number_format($total, 2, ',', '.'); ?></span><br>  
                
                
              