<h2>Videos Promocionales</h2>

		        <div class="well col-sm-12" >		
			        <div class="col-sm-4"><b>Video</b></div>
			        <div class="col-sm-4"><b>Titulo</b></div>
			        <div class="col-sm-4"><b>Acciones</b></div>
		        </div>

		        	
		       <?php foreach ($this->videos as $video ): ?>

					<div class="well col-sm-12" id="<?php echo $video->id; ?>">

						<div class="col-sm-4">
							<?php echo base64_decode($video->video); ?>
						</div>
						<div class="col-sm-4">
							<input type="text" name="titulo<?php echo $video->id; ?>" id="titulo<?php echo $video->id; ?>" value="<?php echo $video->titulo; ?>"  class="form-control">
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary" onclick="actualizarvideo('<?php echo $video->id; ?>')" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-danger" onclick="borrar('<?php echo $video->id; ?>', 'video')" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					</div>
					
				<?php endforeach ?>