    <style type="text/css">
      iframe{
        width: 100%;
        height: 600px;
      }
      .themeborder{
        margin: 5px;
        width: 200px;
      }
      .corto{
        width: 100px;
      }

    </style>
        <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/'); ?>images/destinos.jpg);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1><?php echo $this->hotel['nombre']; ?></h1>
                        <div class="page_tagline"><strong>Direccion: </strong><?php echo $this->hotel['direccion']; ?></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">
                <!-- Begin main content -->
              <div class="inner_wrapper nopadding">

                <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">

                  <h3 style="text-align: center;">Busca tu hotel</h3>
<br>
<div class="sidebar_content full_width">
  <form class="form">
  <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">
  <input type="hidden" name="id_hotel" id="id_hotel" value="<?php echo $this->hotel['id']; ?>">
  <input type="hidden" name="id_reserva" id="id_reserva" value="<?php echo time(); ?>">


    <div class="tour_search_wrapper">
      <div class="row full_width">
        <div class="one_fourth themeborder">   
          <div class="form-group">         
            <label for="checkin" class=" control-label">Destino</label>
            <input type="text" class="form-control " id="destino_nombre" name="destino_nombre" placeholder="Destino" value="<?php echo $this->destino['nombre'];  ?>">              
            <div id="autocomplete" class="autocomplete" data-mousedown="false"></div>
          </div>  
        </div>
          <div class="one_fourth themeborder">
              <div class="form-group">
                <label for="checkin" class=" control-label">Check In</label>
                <input type="text" class="form-control fecha" id="checkin" value="<?php echo $this->data_checkin;  ?>" name="checkin" placeholder="checkin">
              </div>
              <span class="ti-calendar"></span>
          </div>
          <div class="one_fourth themeborder">
              <div class="form-group">
                <label for="checkout" class=" control-label">Check Out</label>
                <input type="text" class="form-control fecha" id="checkout" value="<?php echo $this->data_checkout;  ?>" name="checkout" placeholder="checkout">
              </div>
              <span class="ti-calendar"></span>
          </div>          
          <div class="one_fourth themeborder corto">
            <label for="habitaciones" class=" control-label">Adultos</label>
              <select id="adultos" name="adultos" class="form-control">
                  <option selected value="<?php echo $this->data_adultos; ?>"><?php echo $this->data_adultos;  ?> </option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <span class="ti-exchange-vertical"></span>
          </div>
          <div class="one_fourth themeborder corto">
            <label for="habitaciones" class=" control-label">Niños</label>
              <select id="ninos" name="ninos" class="form-control">
                  <option checked value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <span class="ti-exchange-vertical"></span>
          </div>
              <input type="hidden" name="url" id="url" value="<?php echo $this->baseUrl('/index.php/destinos'); ?>">
              <p style="float: center;"><button type="button" onclick="consultarHospedaje();" class="button center">Buscar</button></p>
          
          <br class="clear" />
        </div>       
      </div>       
  </form>
</div>

                  <h3 style="text-align: center;"><p>Fotos del Hotel</p></h3>

                    <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">

                        <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                          <?php foreach ($this->fotos as $foto): ?>

                            <div class="element grid classic4_cols">

                                <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                    <a data-caption="" class="fancy-gallery" href="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>">
                                        <img src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt="" />

                                    </a>

                                </div>

                            </div>
                          <?php endforeach ?>  
                        </div>
                    </div>
                </div>

                <div class="sidebar_content full_width">                        
                        
                  <hr><p class="p1"><?php echo utf8_decode($this->hotel['larga']); ?></p><hr>

<?php $checkout=$this->data_checkout;
$checkin=$this->data_checkin;

 $cin=explode('-', $checkin); $cin=$cin[2].'-'.$cin['1'].'-'.$cin[0];
        $cout=explode('-', $checkout); $cout=$cout[2].'-'.$cout['1'].'-'.$cout[0];


        $dias   = (strtotime($cin)-strtotime($cout))/86400;
        $dias   = abs($dias); $dias = floor($dias);

$des_plan = array(
  'AI' =>'Alojamiento, Desayunos, Almuerzos, Cenas, Bebidas Nacionales',
  'MAP' =>'Alojamiento, Desayunos, Cenas',
  'FAP' =>'Alojamiento, desayunos, almuerzos, cenas, Sin Bebidas',
  'AP' =>'Alojamiento y  Desayuno',
  'EP' =>'Solo Alojamiento',
  );

$des_ocupacion = array(
  'Sencilla' =>1,
  'Doble' =>2,
  'Triple' =>3,
  'Cuadruple' =>4,
  'Quintuple' =>5,
  'Sextuple' =>6,
  'Octuple' =>8
  );

function factor($valor){

  if ($valor==null or $valor==0) {
    $valor=1;
  }else{
    $valor=1+($valor/100);
  }

  return $valor;

}

if ($this->hotel['iva_local']=='on') {
  $this->hotel['iva_local']=12;
}
?>

<input type="hidden" name="comision_local" id="comision_local" value="<?php echo factor($this->hotel['comision_local']); ?>">
<input type="hidden" name="iva_local" id="iva_local" value="<?php echo factor($this->hotel['iva_local']); ?>">
<input type="hidden" name="utilidad_local" id="utilidad_local" value="<?php echo factor($this->hotel['utilidad_local']); ?>">

      <table class="table table-vcenter table-condensed table-bordered display nowrap example-datatable" style="width:100%">
        <thead>
            <tr>
                <th>Tipo de Habitacion</th>
                <th>Número de Personas</th>
                <th>Planes Disponibles</th>
            </tr>
        </thead>
        <tbody>
          <?php $ObjHabitaciones= new Application_Model_DbTable_Habitaciones(); ?>

          <?php $ObjTarifas= new Application_Model_DbTable_Tarifas(); ?>

             <?php foreach ($this->habitaciones as $habitacion): ?>
            
          <tr>
              <td class="text-left"><strong><?php echo $habitacion->tipo; ?></strong><br>Ocupacion: <?php echo $habitacion->ocupacion; ?></td>


            <td class="text-left"><div class="rate-features">
               <label>Adulto</label>
               <select onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_adultos<?php echo $habitacion->id; ?>" name="numero_adultos<?php echo $habitacion->id; ?>">             

              <?php $ocupacion=$des_ocupacion[$habitacion->ocupacion];  ?>

                <?php for ($i=1; $i <= $ocupacion; $i++) { ?>
                  <option <?php if ($i==$this->data_adultos): ?>
                     <?php echo 'selected' ?>
                  <?php endif ?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
              <?php  } ?> 
                
               </select>

               <br>

               <label>Ninos</label>
               
               <select onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_ninos<?php echo $habitacion->id; ?>" name="numero_ninos<?php echo $habitacion->id; ?>">
               <option selected value="<?php echo $this->data_ninos; ?>"><?php echo $this->data_ninos;  ?> </option>
                 <option value="0">0</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                
               </select>
              </div>
            </td>


            <td class="text-left"><ul>
                  <li><?php  echo $des_plan[$habitacion->plan]; ?></li>                                
              </ul> 

              <br>

             <label>Habitaciones</label>
             
             <select class="hab" data-idhab="<?php echo $habitacion->id; ?>" onchange="carcularReserva('<?php echo $habitacion->id; ?>');" id="numero_habitaciones_<?php echo $habitacion->id; ?>" name="numero_habitaciones_<?php echo $habitacion->id; ?>">
             
               <option value="0">0</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
              
             </select>
            </td>
            <?php 

            $tarifas=$ObjTarifas->getTarifaHabitacion($habitacion->id);

            $tarifa_bs=($tarifas['bs']*$this->data_adultos)+($tarifas['nino']*$this->data_ninos);

            $total=$tarifa_bs*$dias*0;
             ?>

             <input type="hidden" name="tarifa_adulto_<?php echo $habitacion->id; ?>" id="tarifa_adulto_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['bs'] ?>">

             <input type="hidden" name="tarifa_nino_<?php echo $habitacion->id; ?>" id="tarifa_nino_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['nino'] ?>">
             
             <input type="hidden" name="tarifa_abuelo_<?php echo $habitacion->id; ?>" id="tarifa_abuelo_<?php echo $habitacion->id; ?>" value="<?php echo  $tarifas['abuelo'] ?>">

             <input type="hidden" name="habitacion_tipo_<?php echo $habitacion->id; ?>" id="habitacion_tipo_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->tipo ?>">

             <input type="hidden" name="habitacion_ocupacion_<?php echo $habitacion->id; ?>" id="habitacion_ocupacion_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->ocupacion ?>">

             <input type="hidden" name="habitacion_plan_<?php echo $habitacion->id; ?>" id="habitacion_plan_<?php echo $habitacion->id; ?>" value="<?php echo  $habitacion->plan ?>">

              <input type="hidden" name="cantidad_dias" id="cantidad_dias" value="<?php echo $dias  ?>">
                        
          </tr>

            <?php endforeach ?>
        </tbody>
    </table>

            <div class="avg-rate costo">
            <p> </p>
                <h5>Total</h5>
                <span class="p-offer bs">Bs. <?php echo number_format($total, 2, ',', '.'); ?></span><br> 
                
              </div>
    <form class="form">
        <div style="float: center;" class="center">


          <input type="hidden" name="url3" id="url3" value="<?php echo $this->baseUrl('/index.php'); ?>">


                <a href="#" class="button" onclick="generarReserva(event);">Reservar</a>
              </div>
    </form>
              <div id="loader"></div>

                </div>                
              </div>
                              <!-- End main content -->
            </div>
            
            
          </div>



    </div>
