    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/destinos.jpg'); ?>);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1>Destinos</h1>
                        <div class="page_tagline">
                            <h3></h3></div>
                    </div>
                </div>
            </div>

        </div>

         <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">           

            <!-- Begin content -->

            <h2 style="text-align: center;"><p>Nuestros Destinos Nacionales Más Visitados</p></h2>

            <div class="inner">

                <div class="inner_wrapper nopadding">

                    <div id="page_main_content" class="sidebar_content full_width fixed_column">

                        <div class="standard_wrapper">

                            <div id="portfolio_filter_wrapper" class="gallery grid two_cols portfolio-content section content clearfix" data-columns="3">

                                
                                  <?php foreach ($this->nacionales as $nacional): ?>                                    
                                        <div class="element grid classic2_cols animated2">

                                        <div class="one_half gallery2 grid static filterable portfolio_type themeborder" data-id="post-2" style="background-image:url(<?php echo $this->baseUrl('assets/images/'.str_replace(' ', '', $nacional->foto)); ?>);">
                                            <a class="tour_image" href="<?php echo $this->baseUrl('/index.php/destinos/ver/buscar/').$nacional->id; ?>"></a>

                                            <div class="portfolio_info_wrapper">
                                                <!--<div class="tour_price ">
                                                    $5,000 </div>-->
                                                <h4><?php echo $nacional->nombre; ?></h4>
                                                <p><?php echo $nacional->corta; ?></p>
                                                <div class="tour_attribute_wrapper">
                                                    <!--<div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                        <div class="tour_attribute_rating_count">
                                                            4&nbsp; reviews </div>
                                                    </div>

                                                    <div class="tour_attribute_days">
                                                        <span class="ti-time"></span> 5&nbsp;days </div>-->
                                                </div>
                                                <br class="clear" />
                                            </div>
                                        </div>
                                    </div>
                                                                        
                                  <?php endforeach ?>

                                  
                                    <div class="clearfix"> </div>
                                  </div>                                   
                            </div>

                        </div>
                    </div>

                </div>
                <h2 style="text-align: center;"><p>Nuestros Destinos Internacionales Más Visitados</p></h2>
                <div class="inner">

                <div class="inner_wrapper nopadding">

                    <div id="page_main_content" class="sidebar_content full_width fixed_column">

                        <div class="standard_wrapper">

                            <div id="portfolio_filter_wrapper" class="gallery grid two_cols portfolio-content section content clearfix" data-columns="3">

                                
                                  <?php foreach ($this->todos_internacionales as $todos_internacional): ?>                                    
                                        <div class="element grid classic2_cols animated2">

                                        <div class="one_half gallery2 grid static filterable portfolio_type themeborder" data-id="post-2" style="background-image:url(<?php echo $this->baseUrl('assets/images/'.str_replace(' ', '', $todos_internacional->foto)); ?>);">
                                            <a class="tour_image" href="<?php echo $this->baseUrl('/index.php/destinos/ver/buscar/').$todos_internacional->id; ?>"></a>

                                            <div class="portfolio_info_wrapper">
                                                <!--<div class="tour_price ">
                                                    $5,000 </div>-->
                                                <h4><?php echo $todos_internacional->nombre; ?></h4>
                                                <p><?php echo $todos_internacional->corta; ?></p>
                                                <div class="tour_attribute_wrapper">
                                                    <!--<div class="tour_attribute_rating">
                                                        <div class="br-theme-fontawesome-stars-o">
                                                            <div class="br-widget">
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;" class="br-selected"></a>
                                                                <a href="javascript:;"></a>
                                                            </div>
                                                        </div>
                                                        <div class="tour_attribute_rating_count">
                                                            4&nbsp; reviews </div>
                                                    </div>

                                                    <div class="tour_attribute_days">
                                                        <span class="ti-time"></span> 5&nbsp;days </div>-->
                                                </div>
                                                <br class="clear" />
                                            </div>
                                        </div>
                                    </div>
                                                                        
                                  <?php endforeach ?>

                                  
                                    <div class="clearfix"> </div>
                                  </div>                                   
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>