 <?php 

 
  $des_plan = array(
  'AI' =>'Alojamiento, Desayunos, Almuerzos, Cenas, Bebidas Nacionales',
  'MAP' =>'Alojamiento, Desayunos, Cenas',
  'FAP' =>'Alojamiento, desayunos, almuerzos, cenas, Sin Bebidas',
  'AP' =>'Alojamiento y  Desayuno',
  'EP' =>'Solo Alojamiento',
  );
 ?>
<!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos/'); ?>">Destinos</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros/'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs/'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos/'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Servicios</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="<?php echo $this->baseUrl('/index.php/blog/'); ?>">Blog</a>
                  
                  </li>
                </ul>
            </div>
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <!--<li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="pinterest"><a target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>-->
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
    <div id="wrapper" class="hasbg transparent">
      <div class="header_style_wrapper">
              <!-- End top bar -->

              <div class="top_bar hasbg">
                  <div class="standard_wrapper">
                      <!-- Begin logo -->
                      <div id="logo_wrapper">

                          <div id="logo_normal" class="logo_container">
                              <div class="logo_align">
                                  <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                      <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                  </a>
                              </div>
                          </div>

                          <div id="logo_transparent" class="logo_container">
                              <div class="logo_align">
                                  <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                      <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                  </a>
                              </div>
                          </div>
                          <!-- End logo -->

                          <div id="menu_wrapper">
                              <div id="nav_wrapper">
                                  <div class="nav_wrapper_inner">
                                      <div id="menu_border_wrapper">
                                          <div class="menu-main-menu-container">
                                              <ul id="main_menu" class="nav">
                                                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                      <!--<ul class="sub-menu">
                                                          <li class="menu-item menu-item-home current-menu-item"><a href="index.html">Home 1 – Background Image</a></li>
                                                          <li class="menu-item"><a href="home-2.html">Home 2 – Youtube Video</a></li>
                                                          <li class="menu-item"><a href="home-3-google-inspired.html">Home 3 – Google Inspired</a></li>
                                                          <li class="menu-item"><a href="home-4-travel-site.html">Home 4 – Travel Site</a></li>
                                                      </ul>-->
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    <a href="<?php echo $this->baseUrl('/index.php/hoteles/'); ?>">Hoteles</a>
                                                      
                                                  </li>
                                                  
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/destinos/'); ?>">Destinos</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Paquetes</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Ofertas</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children arrow">
                                                    <a href="#">De interés</a>
                                                      <ul class="sub-menu">
                                                          <li class="menu-item"><a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Contáctanos</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs/'); ?>">FAQs</a></li>
                                                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos/'); ?>">Términos y Condiciones</a></li>
                                                      </ul>
                                                  </li>                                                
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/contacto/'); ?>">Servicios</a>
                                                      
                                                  </li>
                                                  <li class="menu-item menu-item-has-children">
                                                    
<a href="<?php echo $this->baseUrl('/index.php/blog/'); ?>">Blog</a>
                                                      
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>

                                  <!-- Begin right corner buttons -->
                                  <div id="logo_right_button">

                                      <!-- Begin side menu -->
                                      <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                      <!-- End side menu -->

                                  </div>
                                  <!-- End right corner buttons -->
                              </div>
                              <!-- End main nav -->
                          </div>

                      </div>
                  </div>
              </div>
          </div>

    
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/destinos.jpg'); ?>);">

  <div class="page_title_wrapper">
      <div class="page_title_inner">
          <div class="page_title_content">
              <h1>Este es el último paso para para finalizar su reserva</h1>
              <div class="page_tagline"></div>
          </div>
      </div>
  </div>
</div>

<div class="ppb_wrapper hasbg ">
    
    <div class="one withsmallpadding ppb_text" style="text-align:left;padding:0px 0 0px 0;margin-bottom:60px;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                  <div style="margin:auto;width:60%">
                    <h3 class="center"><p>Necesitamos que nos indiques algunos detalles para confirmar tu pre-reserva</p></h3>
                      
                    <div class="screen-reader-response"></div>
                    <h5></h5>

                    <form id="form_prereserva" name="form_prereserva" action="<?php echo $this->baseUrl('/index.php/destinos/reserva/codigo/').$this->detalle_reserva['id_reserva']; ?>" method="post" >

                      <input type="hidden" name="id_reserva" id="id_reserva" value="<?php echo $this->detalle_reserva['id_reserva']; ?>">

                      <div class="col-sm-12">
                          <h3>  Datos de la Agencia</h3><br>  
                       </div>                      
                        <p>
                            <label> Agencia de Viajes
                                <br />
                                <select name="agencia" id="agencia" class="form-control">

                                  <option value="">Seleccione la Agencia</option>
                                          <option value="Conkhep" >CONSORCIO KHEP C.A</option>

                                          <?php foreach ($this->agencias as $agencia): ?>
                                          <option value="<?php echo $agencia->id; ?>" ><?php echo utf8_encode($agencia->nombre); ?></option>
                                        <?php endforeach; ?>


                                </select></span> </label>
                        </p>
                        <p>
                            <label> Asesor
                                <br />
                              <input type="text" value="" name="asesor" id="asesor" placeholder="Nombre del Asesor">
                            </label>  
                        </p>
                        <p>
                            <label> Sede Agencia 
                                <br />
                                <input type="text" value="" name="sede" id="sede" placeholder="Nombre de la Sede"></span> </label>
                        </p>
                        <div class="col-sm-12">
                          <h3>Datos del Cliente</h3><br>  
                        </div>
                        <p>
                            <label> Nombre y Apellido
                                <br />
                                <input type="text" value="" name="nombre" id="nombre" placeholder="Nombre y Apellido"></span>
                            </label>
                        </p>
                        <p>
                            <label> Cedula de Identidad
                                <br />
                                <input type="text" value="" id="cedula" name="cedula" placeholder="Cédula"></span>
                            </label>
                        </p>
                        <p>
                            <label> Teléfono
                                <br />
                                <input type="number" value="" id="tlf" name="tlf" placeholder="Teléfono"></span>
                            </label>
                        </p>
                        <p>
                            <label> Email
                                <br />
                                <input type="email" value="" id="email_reserva" name="email_reserva" placeholder="Email">
                            </label>
                        </p>
                        <p>
                            <label> Password
                                <br />
                                <input type="password" name="password_reserva" id="password_reserva" placeholder="Clave"></span>
                            </label>
                        </p>
                        <p>
                            <label> Re-Password
                                <br />
                                <input type="password" name="repassword" id="repassword" placeholder="Reingrese Clave"></span>
                            </label>
                        </p>                                        
                        <p>
                            <input type="hidden" name="url4" id="url4" value="<?php echo $this->baseUrl('/index.php'); ?>">
                            <input type="submit" onclick="prereserva();" class="btn btn-primary" id="prereseva" name="preserva" value="Generar Reserva">
                        </p>                      
                    </form>

                    <div class="col-md-12">

                      <h3>Informacion para pagos</h3>
                        <p>Te garantizaremos tu reserva si realizas la transferencia en las próximas 24 horas</p>
                        <p>Una vez que hayas confirmado tu prereserva, te facilitaremos nuestros datos bancarios para realizar la transferencia</p>
                      
                    </div>
                    <div class="col-md-12">

                      <h3>Detalle de la Reserva</h3><br>

                        <h5><?php echo $this->hotel['nombre']; ?></h5>
                  <hr>         
                      <h5>Reserva por: <?php echo $this->detalle_reserva['dias']; ?> Noches</h5>
                        <p>Checkin: <?php echo $this->detalle_reserva['entrada']; ?>  </p>
                        <p>Checkout: <?php echo $this->detalle_reserva['salida']; ?>  </p>              
                    </div>
                    <div class="col-md-12">

                      <?php $total=0; ?>
                      <?php foreach ($this->detalles as $detalle): ?>
                        <h3>Habitacion: <?php echo $detalle->habitacion_tipo; ?></h3>
                        <p>Plan: <?php echo $des_plan[$detalle->habitacion_plan]; ?></p>
                        <p>Ocupacion: <?php echo $detalle->habitacion_ocupacion; ?></p>
                        <p>Adultos: <?php echo $detalle->adultos; ?></p>
                        <p>Niños: <?php echo $detalle->ninos; ?></p>
                        <p>SubTotal: <?php echo number_format($detalle->total, 2, ',','.')  ; ?></p>

                        <?php $total=$total+intval($detalle->total); ?>

                        <hr>
                     
                      <?php endforeach ?>

                      <h3>Total a Cancelar:  <?php echo number_format($total, 2, ',','.'); ?> </h3>     
                      <hr>
                      
                    </div> 
                  </div>                                 
                </div>
            </div>
        </div>
    </div>
</div>          


