    <style type="text/css">
      iframe{
        width: 100%;
        height: 600px;
      }
      .themeborder{
        margin: 5px;
        width: 200px;
      }
      .corto{
        width: 100px;
      }

    </style>
        <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" style="width: 200px;"> href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/'); ?>images/destinos.jpg);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1><?php echo $this->destino['nombre']; ?></h1>
                        <div class="page_tagline"><?php echo utf8_decode($this->destino['corta']); ?></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">
                <!-- Begin main content -->
              <div class="inner_wrapper nopadding">

                <div id="page_main_content" class="sidebar_content full_width nopadding fixed_column">

                  <h3 style="text-align: center;">Busca tu hotel</h3>
<br>
<div class="sidebar_content full_width">
  <form class="form">
    <div class="tour_search_wrapper">
      <div class="row full_width">
        <div class="one_fourth themeborder">            
              <input type="hidden" name="destino" id="destino" value="<?php echo $this->destino['id']; ?>">              
              <div id="autocomplete" class="autocomplete" data-mousedown="false"></div>
          </div>
          <div class="one_fourth themeborder">
              <div class="form-group">
                <label for="checkin" class=" control-label">Check In</label>
                <input type="text" class="form-control fecha" id="checkin" name="checkin" placeholder="checkin">
              </div>
              <span class="ti-calendar"></span>
          </div>
          <div class="one_fourth themeborder">
              <div class="form-group">
                <label for="checkout" class=" control-label">Check Out</label>
                <input type="text" class="form-control fecha" id="checkout" name="checkout" placeholder="checkout">
              </div>
              <span class="ti-calendar"></span>
          </div>
          <div class="one_fourth themeborder corto">
            <label for="habitaciones" class=" control-label">Habitaciones</label>
              <select id="habitaciones" name="habitaciones" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <span class="ti-exchange-vertical"></span>
          </div>
          <div class="one_fourth themeborder corto">
            <label for="adultos" class=" control-label">Adultos</label>
              <select id="adultos" name="adultos" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <span class="ti-exchange-vertical"></span>
          </div>
          <div class="one_fourth themeborder corto">
            <label for="ninos" class=" control-label">Niños</label>
              <select id="ninos" name="ninos" class="form-control">
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
              </select>
              <span class="ti-exchange-vertical"></span>
          </div>
              <input type="hidden" name="url" id="url" value="<?php echo $this->baseUrl('/index.php/destinos'); ?>">
              <p style="float: center;"><button type="button" onclick="consultarHospedaje();" class="button">Buscar</button></p>
          
          <br class="clear" />
        </div>       
      </div>       
  </form>
</div>

                  <h3 style="text-align: center;"><p>Fotos del Destino</p></h3>

                    <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                      <?php foreach ($this->fotos as $foto): ?>

                        <div class="element grid classic4_cols">

                            <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                <a data-caption="" class="fancy-gallery" href="<?php echo $this->baseUrl('assets/images/'.str_replace(' ', '', $foto->foto)); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/images/'.str_replace(' ', '', $foto->foto)); ?>" alt="" />

                                </a>

                            </div>

                        </div>
                      <?php endforeach ?>  
                    </div>
                </div>

                <div class="sidebar_content full_width">                        
                        
                  <hr><p class="p1"><?php echo utf8_decode($this->destino['larga']); ?></p><hr>

                

                    
                      <h3 style="text-align: center;"><p>Archivos descargables</p></h3>
                      <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                        <?php foreach ($this->archivos as $archivo): ?>

                          <div class="element grid classic4_cols">

                              <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                  <a data-caption="" class="fancy-gallery" href="<?php echo $this->baseUrl('assets/pdf/'.$archivo->pdf); ?>"><?php echo $archivo->descripcion; ?></a>

                              </div>

                          </div>
                        <?php endforeach ?>  
                      </div>
                </div>

                <?php if (isset($this->videos)): ?>                    
                    
                <div class="sidebar_content full_width"> 
                      <h3 style="text-align: center;"><p>Videos del destino</p></h3>
                      <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                        <?php foreach ($this->videos as $video): ?>

                          <div class="element grid classic4_cols">

                              <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                <button class="btn-link" type="button" onclick="mostrarvideo('<?php echo $video->video; ?>')"></button>

                                  <a data-caption="" class="fancy-gallery" href="<?php echo $video->video; ?>">
                                      <?php echo $video->titulo; ?></a>

                              </div>

                          </div>
                        <?php endforeach ?>  
                      </div>
                    
                                                             
                </div>

                <?php endif ?>

                <div class="sidebar_content full_width">                        
                        
                                

                    
                      <h3 style="text-align: center;"><p>Hoteles disponibles</p></h3>
                      <div id="portfolio_filter_wrapper" class="gallery four_cols portfolio-content section content clearfix" data-columns="4">

                        <?php foreach ($this->hoteles as $hotel): ?>

                          <div class="element grid classic4_cols">

                              <div class="one_fourth gallery4 static filterable gallery_type animated1" data-id="post-1">

                                  <a data-caption="" class="fancy-gallery" href="<?php echo $this->baseUrl('/index.php/hoteles/ver/id/'.$hotel->id); ?>">
                                      <img src="<?php echo $this->baseUrl('assets/images/'.str_replace(' ', '', $hotel->foto)); ?>" alt="" /><?php echo $hotel->nombre; ?></a><br>
                                    <p><?php echo $hotel->bs; ?></p>

                              </div>

                          </div>
                        <?php endforeach ?>  
                      </div>
                </div>
                <div class="page_title_wrapper">
                  <div class="page_title_inner">
                      <div class="page_title_content">
                          <h1 style="text-align: center;">Ubicación del destino</h1>
                          <div class="page_tagline"></div>
                      </div>
                  </div>
              </div>

              <div class="col-md-12">
                <div class="map-gd" style="width: 100%">
                  
                  <?php echo base64_decode($this->destino['gmaps']); ?>
                </div>
              </div>

                                  <div class="clearfix"> </div>
                              </div>
                              <!-- End main content -->
            </div>
            
            
          </div>



    </div>
<script src="<?php echo $this->baseUrl('/assets/diseno/js/script.js'); ?>"></script>