<div class="container" >

	<ol class="breadcrumb">
		 <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/agencias/list'); ?>">Agencias</a></li>
		  <li class="active">Agregar</li>
	</ol>

    <h1 class="page-header">Agregar Agencia</h1>
   
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/agencias/add'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo time();?>">

    <h2 class="page-header">Datos de la Agencia</h2>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Nombre *</label>
			<input type="text"  name="nombre" id="nombre" value="" class="form-control" placeholder="Nombre">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>
	            
               

			</select>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Direccion *</label>
			<input type="text"  name="direccion" id="direccion" value="" class="form-control" placeholder="Direccion">
		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Rif *</label>
			<input type="text"  name="rif" id="rif" value="" class="form-control" placeholder="Ej: J-1234567-8">
		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Email *</label>
			<input type="text"  name="email" id="email" value="" class="form-control" placeholder="Email">
		</div>

		<div class="form-group col-sm-6">
			<label for="cedula" class="required">Telefono *</label>
			<input type="text"  name="tlf" id="tlf" value="" class="form-control" placeholder="Telefono">
		</div>

		<div class="form-group col-sm-6">
			<label for="cedula" class="required">Telefono Movil  *</label>
			<input type="text"  name="movil" id="movil" value="" class="form-control" placeholder="Telefono Movil ">
		</div>

		


		<div id="doc_path-label"><label for="doc_path" class="optional">Seleccionar Archivo:</label></div>
<div id="doc_path-element">
<input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE">
<input type="file" name="doc_path" id="doc_path" class="btn">
Tamaño Maximo de Imagen 1Mb.
</div>

		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<button name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</button>
				</dl>

			</fieldset>
		</dd>
		</div>


</div>






   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>