<div class="container">

  <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li class="active">Hoteles</li>
  </ol>
    
   <div class="row">

   <h1 class="page-header"><?php echo $this->hotel['nombre']; ?>
   <h6><?php echo $this->hotel['nombre_pais'].' - '.$this->hotel['nombre_estado']; ?></h6></h1>
   <br>


    <div class="respuesta_habitaciones">
      <table class="table table-striped">
        <tr>
          <th>Plan</th>
          <th>Tipo</th>
          <th>Ocupacion</th>
          <th>Tarifa BS</th>
          <th>Tarifa USD</th>
          <th>Estatus</th>
          
        </tr>
      <?php foreach ($this->habitaciones as $habitacion): ?>
        <tr  id="<?php echo $habitacion->id; ?>">
          <td><?php echo $habitacion->plan; ?></td>
          <td><?php echo $habitacion->tipo; ?></td>
          <td><?php echo $habitacion->ocupacion; ?></td>
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="bs<?php echo $habitacion->id; ?>" id="bs<?php echo $habitacion->id; ?>" value="<?php echo $habitacion->tarifa_bs; ?>" onblur="actualizaTarifa('<?php echo $habitacion->id; ?>', 'bs')" class="form-control" placeholder="Bolivares">
            </div>

          </td>
          <td>
            <div class="form-group col-sm-12">
              <input type="text"  name="usd<?php echo $habitacion->id; ?>" id="usd<?php echo $habitacion->id; ?>" value="<?php echo $habitacion->tarifa_usd; ?>" class="form-control" placeholder="USD"  onblur="actualizaTarifa('<?php echo $habitacion->id; ?>', 'usd')">
            </div>

          </td>
          <td>
          <div class="estatus">
            <?php if ($habitacion->estatus){ ?>

                      <button type="button"  onclick="estatus(<?php echo $habitacion->id; ?>, 'habitaciones', '0' )"  class="btn btn-default " title="Desactivar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="estatus(<?php echo $habitacion->id; ?>, 'habitaciones', '1')"  class="btn btn-default " title="Activar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
            </div>
                  <div class="respuesta<?php echo $habitacion->id; ?>"></div>

          </td>


          
        </tr>
          
      <?php endforeach ?>
      </table>
    </div>



   </div> <!-- End Row -->
   
    
    
</div>

