<div class="container" >

	<ol class="breadcrumb">
		  <li><a href="#">Inicio</a></li>
		  <li><a href="/pagina">Destinos</a></li>
		  <li class="active">Agregar</li>
	</ol>

    <h1 class="page-header">Agregar Destino</h1>
    </div>
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/pagina/add'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo time();?>">


		<div class="form-group col-sm-12">
		<label for="cedula" class="required">Idioma *</label>

			<select name="idioma" id="idioma" class="form-control" >

                <?php foreach ($this->idiomas as $idioma): ?>
                	<option value="<?php echo $idioma->idioma; ?>" ><?php echo utf8_encode($idioma->idioma); ?></option>
                <?php endforeach; ?>

			</select>

		</div>


		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Nombre *</label>
			<input type="text"  name="nombre" id="nombre" value="" class="form-control" placeholder="Nombre">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>
	            
               

			</select>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Descripcion Corta *</label>
			<input type="text"  name="corta" id="corta" value="" class="form-control" placeholder="Descripcion Corta">
		</div>

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga *</label>

			<textarea rows="10" name="larga" id="larga" style="width: 100%;"></textarea>

		</div>


		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Descripcion Corta Ingles *</label>
			<input type="text"  name="corta_ingles" id="corta_ingles" value="" class="form-control" placeholder="Descripcion Corta">
		</div>

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga Ingles *</label>

			<textarea rows="10" name="larga_ingles" id="larga_ingles" style="width: 100%;"></textarea>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Google Maps *</label>
			<input onblur="cargarmaps();" type="text"  name="gmaps" id="gmaps" value="" class="form-control" placeholder="Google Maps">
		</div>

		<div id="googlemaps" class="row">
			
		</div>

		<div class="row">

			<div class="col-sm-12">
	      
		       <div class="form-group col-sm-5">
					<label for="cedula" class="required">Videos Youtube *</label>
					<input type="text"  name="youtube" id="youtube" value="" class="form-control" placeholder="Videos Youtube">
				</div>

				<div class="form-group col-sm-5">
					<label for="cedula" class="required">Titulo Youtube *</label>
					<input type="text"  name="descripcion" id="descripcion" value="" class="form-control" placeholder="Videos Youtube">
				</div>

				<div class=" col-sm-2">
					<label for="cedula" class="required"> </label>
					
					<input type="button" style="margin-top: 1.6em;"  name="guardarvideosyutube" id="guardarvideosyutube" value="+" class="btn btn-primary" onclick="cargarvideos();">
				</div>

				<div id="videos" class="row"></div>

			</div>
		</div>

		<div class="row">

			<div class="col-sm-12">
	      
		        <div class="carga"> <div class="row"></div></div>

		    	<div class="loader">  </div>

		    	<div id="fileuploader"> Cargar Imagenes </div>

	    	</div>

		</div>

		<div class="row">

			<div class="col-sm-12">
	      
		        <div class="cargapdf"><div class="row"></div> </div>

		    	<div class="loaderpdf"></div>

		    	<div id="fileuploaderpdf"> Cargar Adjuntos </div>

	    	</div>

		</div>

		

		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<button name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</button>
				</dl>

			</fieldset>
		</dd>
		</div>
	</form> 


</div>



   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->
