<div class="container">

	<ol class="breadcrumb">
		  <li><a href="<?php $this->baseUrl('/admin');  ?>">Inicio</a></li>
		  <li><a href="<?php $this->baseUrl('/pagina');  ?>">Destinos</a></li>
		  <li class="active">Editar</li>
	</ol>

    <h1 class="page-header">Editar Destino</h1>
    
    <div class="row">

<?php //var_dump($this->pagina); ?>

<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-6">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/pagina/edit'); ?>" method="post">

		<input type="hidden" id="id" name="id"  value="<?php echo $this->pagina['id']; ?>">

		<div class="form-group col-sm-12">
		<label for="cedula" class="required">Idioma *</label>

			<select name="idioma" id="idioma" class="form-control" >
	    
	            <option value="">--Idioma--</option>

                <?php foreach ($this->idiomas as $idioma): $selected=''; ?>
                	<?php if ($this->pagina['idioma']==$idioma->idioma){ $selected='selected'; }?>
                		
                	
                	<option <?php echo $selected; ?> value="<?php echo $idioma->idioma; ?>" ><?php echo utf8_encode($idioma->idioma); ?></option>
                <?php endforeach; ?>

			</select>

		</div>

		
		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Nombre *</label>
			<input type="text"  name="nombre" id="nombre" value="<?php echo $this->pagina['nombre']; ?>" class="form-control" placeholder="Nombre">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<?php if ($pais->id==$this->pagina['pais']){ ?>

                		<option selected value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>

	             <?php foreach ($this->estados as $estado): ?>
                	<?php if ($estado->id==$this->pagina['estado']){ ?>

                		<option selected value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>
               

			</select>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Descripcion Corta *</label>
			<input type="text"  name="corta" id="corta" value="<?php echo $this->pagina['corta']; ?>" class="form-control" placeholder="Descripcion Corta">
		</div>

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga *</label>

			<textarea rows="10" name="larga" id="larga" style="width: 100%;"><?php echo $this->pagina['larga']; ?></textarea>

		</div>


		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Descripcion Corta Ingles *</label>
			<input type="text"  name="corta_ingles" id="corta_ingles" value="<?php echo $this->pagina['corta_ingles']; ?>" class="form-control" placeholder="Descripcion Corta">
		</div>

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga Ingles *</label>

			<textarea rows="10" name="larga_ingles" id="larga_ingles" style="width: 100%;"><?php echo $this->pagina['larga_ingles']; ?></textarea>

		</div>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">Google Maps *</label>
			<input onblur="cargarmaps();" type="text"  name="gmaps" id="gmaps" value="<?php echo $this->pagina['gmaps']; ?>" class="form-control" placeholder="Google Maps">
		</div>

		<div id="googlemaps" class="row" >
			<div class="col-sm-12" style="margin: 2em;">
				<?php echo base64_decode($this->pagina['gmaps']); ?>
			</div>
			
		</div>

		
</div>
<div class="col-sm-6">

		<div class="container">

			<div class="col-sm-12">
	      
		        <div class="carga"> <div class="row">

<h2>Imagenes</h2>

		        	
		        	<?php foreach ($this->fotos as $foto): ?>

		        		

		        		 <div class="col-sm-6 col-md-4" id="<?php echo $foto->id; ?>">
						    <div class="thumbnail">
						      <img style="max-width: 12em;"  class="img img-responsive" src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt="...">
						      <div class="caption">
						        
						        <div class="col-sm-6"><?php if ($foto->posicion=='1'){ ?>
						        	<button style="float: right;" onclick="principal('<?php echo $foto->id; ?>')" type="button" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>

						        <?php }else { ?>

						        	 <button style="float: right;" onclick="principal('<?php echo $foto->id; ?>')" type="button"  class="btn btn-default" role="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>

						       <?php  } ?></div>
						        <div class="col-sm-6"><button onclick="borrar('<?php echo $foto->id; ?>','fotos')" type="button"  class="btn btn-danger" role="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></div>
						        
						         
						          
						        
						      </div>
						    </div>
						  </div>
						
								        		
		        	<?php endforeach ?>

		        </div></div>

		    	<div class="loader">  </div>

		    	<div id="fileuploader"> Cargar Imagenes </div>

	    	</div>

		</div>

		<div class="row">

			<div class="col-sm-12">
	      
		        <div class="cargapdf"><div class="row">

		        <h2>Archivos Descargables</h2>

		        <div class="well col-sm-12" >		
			        <div class="col-sm-4"><b>Nombre del Archivo</b></div>
			        <div class="col-sm-4"><b>Descripcion</b></div>
			        <div class="col-sm-4"><b>Acciones</b></div>
		        </div>

		        	
		       <?php foreach ($this->pdfs as $pdf ): ?>

					<div class="well col-sm-12" id="<?php echo $pdf->id; ?>">

						<div class="col-sm-4">
							<?php echo $pdf->descripcion; ?>
						</div>
						<div class="col-sm-4">
							<input type="text" name="descripcion<?php echo $pdf->id; ?>" id="descripcion<?php echo $pdf->id; ?>" value="<?php echo $pdf->descripcion; ?>"  class="form-control">
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary" onclick="actualizarpdf('<?php echo $pdf->id; ?>')" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-danger" onclick="borrar('<?php echo $pdf->id; ?>', 'pdf')" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					</div>
					
				<?php endforeach ?>

		        </div> </div>

		    	<div class="loaderpdf"></div>

		    	<div id="fileuploaderpdf"> Cargar Adjuntos </div>

	    	</div>

		</div>


		<div class="row">

			<div class="col-sm-12">
	      
		       <div class="form-group col-sm-5">
					<label for="cedula" class="required">Videos Youtube *</label>
					<input type="text"  name="youtube" id="youtube" value="" class="form-control" placeholder="Videos Youtube">
				</div>

				<div class="form-group col-sm-5">
					<label for="cedula" class="required">Titulo Youtube *</label>
					<input type="text"  name="descripcion" id="descripcion" value="" class="form-control" placeholder="Videos Youtube">
				</div>

				<div class=" col-sm-2">
					<label for="cedula" class="required"> </label>
					
					<input type="button" style="margin-top: 1.6em;"  name="guardarvideosyutube" id="guardarvideosyutube" value="+" class="btn btn-primary" onclick="cargarvideos();">
				</div>

				<div id="videos" class="row">
					
					<h2>Videos Promocionales</h2>

		        <div class="well col-sm-12" >		
			        <div class="col-sm-4"><b>Video</b></div>
			        <div class="col-sm-4"><b>Titulo</b></div>
			        <div class="col-sm-4"><b>Acciones</b></div>
		        </div>

		        	
		       <?php foreach ($this->videos as $video ): ?>

					<div class="well col-sm-12" id="<?php echo $video->id; ?>">

						<div class="col-sm-4">
							<?php echo base64_decode($video->video); ?>
						</div>
						<div class="col-sm-4">
							<input type="text" name="titulo<?php echo $video->id; ?>" id="titulo<?php echo $video->id; ?>" value="<?php echo $video->titulo; ?>"  class="form-control">
						</div>
						<div class="col-sm-4">
							<button type="button" class="btn btn-primary" onclick="actualizarvideo('<?php echo $video->id; ?>')" ><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
							<button type="button" class="btn btn-danger" onclick="borrar('<?php echo $video->id; ?>', 'video')" ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
						</div>
					</div>
					
				<?php endforeach ?>
				</div>

			</div>
		</div>

</div>

<div class="col-sm-12">
	
	<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<button name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</button>
				</dl>

			</fieldset>
		</dd>

</div>		

	
		
	</form> 


</div>






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->



<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>