<div class="container-fluid" >
    <h1 class="page-header">Destinos


 <div class="pull-right">
                    <a href="<?php echo $this->baseUrl('/pagina/add'); ?>" class="btn btn-default btn-large"><span class="glyphicon glyphicon-user"></span> Crear Pagina</a>
                </div>

    </h1>
    
    <?php if (count($this->messages) > 0): ?>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <?php foreach ($this->messages as $message): ?>
                <span><?php echo current($message); ?></span><br>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
	
	 
    
    <table class="table table-striped" id="tb_estudiantes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion Corta</th>
            <th>Idioma</th>
            <th>Contenido</th>
            
            
            <th width="200px">
               Accion
            </th>
        </tr>
    </thead><tbody>
        <?php foreach ($this->paginas as $pagina): ?>

             

            <?php if ($pagina->idioma=='1'): ?>
                <?php $pagina->idioma='Español'; ?>
            <?php endif ?>

            <?php if ($pagina->idioma=='2'): ?>
                <?php $pagina->idioma='Ingles'; ?>
            <?php endif ?>


            <tr  id="<?php echo $pagina->id; ?>">


            <td><?php echo $pagina->id; ?></td>
            <td><?php echo $pagina->nombre; ?></td>
            <td><?php echo $pagina->corta; ?></td>
            <td><?php echo utf8_encode($pagina->idioma); ?></td>
            <td><?php echo $pagina->fecha; ?></td>
            
            <td>
                
                <div style="display: inline-block;" class="">

                    <a target="_blank" href="<?php echo $this->baseUrl('/destinos/ver/buscar/').$pagina->id; ?>"  class="btn btn-info btn-xs"><span class="glyphicon glyphicon-eye-open"></span> </a>

                    <a href="<?php echo $this->baseUrl('/pagina/edit/id/').$pagina->id; ?>"  class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> </a>
                    
                    <button type="button" onclick="del(<?php echo $pagina->id; ?>)"  class="btn btn-danger btn-xs" title="Eliminar"><span class="glyphicon glyphicon-trash"></span> </button>

                    <div class="estatus">

                    <?php if ($pagina->estatus){ ?>

                        <button type="button"  onclick="estatus(<?php echo $pagina->id; ?>, 'pagina', '0' )"  class="btn btn-default btn-xs" title="Eliminar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="estatus(<?php echo $pagina->id; ?>, 'pagina', '1')"  class="btn btn-default btn-xs" title="Eliminar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
                    </div>
                </div>
                
                
                
                
            </td>
        </tr>
        <?php endforeach ?>
    </tbody>
        
        
    </table>
   
    



</div> <!-- End Container--> 


<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="deletePagina()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>