<div class="container" >

	<ol class="breadcrumb">
		 <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/hoteles/'); ?>">Hoteles</a></li>
		  <li class="active">Agregar</li>
	</ol>

    <h1 class="page-header">Agregar Paquete</h1>
   
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/paquetes/add'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo time();?>">

    <h2 class="page-header">Datos del Paquete</h2>

		<div class="form-group col-sm-12">
			<label for="cedula" class="required">titulo *</label>
			<input type="text"  name="titulo" id="titulo" value="" class="form-control" placeholder="Titulo">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>
	            
               

			</select>

		</div>

		

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga *</label>

			<textarea rows="10" name="larga" id="larga" style="width: 100%;"></textarea>

		</div>



    <h2 class="page-header">Imagenes del Paquete  </h2>



		<div class="row">

			<div class="col-sm-12">
	      
		        <div class="carga"> <div class="row"></div></div>

		    	<div class="loader">  </div>

		    	<div id="fileuploader"> Cargar Imagenes </div>

	    	</div>

		</div>


		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Notas *</label>

			<textarea rows="10" name="nota" id="nota" style="width: 100%;"></textarea>

		</div>

		

		

		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<button name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</button>
				</dl>

			</fieldset>
		</dd>
		</div>


</div>






   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>