<div class="container" >

	<ol class="breadcrumb">
		  <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/paquetes/list'); ?>">Paquetes</a></li>
		  <li class="active">Editar</li>
	</ol>

    <h1 class="page-header">Editar Paquetes</h1>
    
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/paquetes/edit'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo $this->paquete['id']; ?>">

		


		<div class="form-group">
			<label for="cedula" class="required">Titulo *</label>
			<input type="text" name="titulo" id="titulo" value="<?php echo $this->paquete['titulo']; ?>" class="form-control" placeholder="Titulo">
		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Pais *</label>

			<select name="pais" id="pais" class="form-control" onchange="cargarEstado();">
	    
	            <option value="">--Pais--</option>

                <?php foreach ($this->paises as $pais): ?>
                	<?php if ($pais->id==$this->paquete['pais']){ ?>

                		<option selected value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $pais->id; ?>" ><?php echo utf8_encode($pais->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>

			</select>

		</div>

		<div class="form-group col-sm-6">
		<label for="cedula" class="required">Estado *</label>

			<select name="estado" id="estado" class="form-control">
	    
	            <option value="">--Estado--</option>

	             <?php foreach ($this->estados as $estado): ?>
                	<?php if ($estado->id==$this->paquete['estado']){ ?>

                		<option selected value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }else{ ?>

                		<option value="<?php echo $estado->id; ?>" ><?php echo utf8_encode($estado->name); ?></option>

                	<?php }  ?>
                	
                <?php endforeach; ?>
               

			</select>

		</div>

		

		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Descripcion Larga *</label>

			<textarea rows="10" name="larga" id="larga" style="width: 100%;"><?php echo $this->paquete['larga']; ?></textarea>

		</div>

		


		<div class="row">

			<div class="col-sm-12">
				<h2>Imagenes Del Paquete</h2>
	      
		        <div class="carga"> <div class="row">
		        	
		        	<?php foreach ($this->fotos as $foto): ?>

		        		

		        		 <div class="col-sm-6 col-md-3" id="<?php echo $foto->id; ?>">
						    <div class="thumbnail">
						      <img style="max-width: 12em;"  class="img img-responsive" src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt="...">
						      <div class="caption">
						        
						        <p>
						        <?php if ($foto->posicion=='1'){ ?>
						        	<button onclick="principal('<?php echo $foto->id; ?>')" type="button" class="btn btn-primary" role="button">Principal</button>

						        <?php }else { ?>

						        	 <button onclick="principal('<?php echo $foto->id; ?>')" type="button"  class="btn btn-default" role="button">Segundaria</button>

						       <?php  } ?>
						         
						          <button onclick="borrar('<?php echo $foto->id; ?>','fotos')" type="button"  class="btn btn-danger" role="button">Eliminar</button>
						        </p>
						      </div>
						    </div>
						  </div>
						
								        		
		        	<?php endforeach ?>




		        </div></div>

		    	<div class="loader">  </div>

		    	<div id="fileuploader"> Cargar Imagenes </div>

	    	</div>

		</div>


		<div class="form-group col-sm-12">
			<label for="nombre" class="required">Notas *</label>

			<textarea rows="10" name="nota" id="nota" style="width: 100%;"><?php echo $this->paquete['nota']; ?></textarea>

		</div>

		





		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<a href="<?php echo $this->baseUrl('/aerolineas'); ?>"  name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</a>
				</dl>

			</fieldset>
		</dd>
		</div>
	</form> 


</div>




   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->




<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>