<!-- banner-bottom -->
  <div class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="faqs-top-grids">
        <!--single-page-->
        <div class="single-page">
            <div class="col-md-8 single-gd-lt">
              <div class="single-pg-hdr">
                <h2><?php echo $this->paquete['titulo']; ?></h2>
                <p><?php echo $this->paquete['pais'].' '.$this->paquete['estado']; ?></p>
                <!--<p>Jump to: <a href="#">Over View</a>|<a href="#">Room Choices</a>|<a href="#">Hotel Information</a></p>-->
              </div>
              <div class="flexslider">
                    <ul class="slides">
                      <?php foreach ($this->fotos as $foto): ?>
                        <li data-thumb="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>">
                          <img src="<?php echo $this->baseUrl('assets/images/'.$foto->foto); ?>" alt=""/>
                        </li>
                      <?php endforeach ?>

                    </ul>
              </div>
              <br>
                    <!-- FlexSlider -->
                  <script defer src="js/jquery.flexslider.js"></script>
                    <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                      $('.flexslider').flexslider({
                      animation: "slide",
                      controlNav: "thumbnails"
                      });
                    });
                    </script>

                <div>
                  <?php echo $this->paquete['larga']; ?>
                  <br><p></p>
                </div>


            </div>

            <div class="col-md-4 single-gd-rt">
              <div class="spl-btn">
                <div class="spl-btn-bor">
                  <a href="#">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>                      
                  </a>
                  <p>Oferta Especial</p>  
                  <script>
                    $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();   
                    });
                  </script>
                </div>
                <div class="sp-bor-btn text-right">
                  <h4><span>8,750</span> 4,850</h4>
                  <p class="best-pri">Mejor Precio</p>
                  <a class="best-btn" href="#">Reserva Ya</a>
                </div>
              </div>
             
              

              <div class="top-destinations-grids">
            <div class="top-destinations-info">
              <h4>Hoteles Disponibles </h4>
            </div>
            <div class="top-destinations-bottom">
              
            <?php foreach ($this->hoteles as $ht): ?>
              <div class="td-grids">
                <div class="col-xs-3 td-left">
                  <img src="/assets/images/<?php echo $ht->foto ?>" alt="">
                </div>
                <div class="col-xs-6 td-middle">
                  <a href="<?php echo $this->baseUrl('/hoteles/ver/id/').$ht->id; ?>"><?php echo $ht->nombre; ?></a><br>
                  <!--<p><?php echo $hl->direccion ?></p>-->
                  <?php  for ($i=0; $i < $ht->categoria; $i++) { ?>
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                 
                  <? }  ?>
                </div>
                <div class="col-xs-3 td-right">
                  <p><?php echo $ht->tarifa_bs; ?></p>
                  <p><?php echo $ht->tarifa_usd; ?></p>
                </div>
                <div class="clearfix"> </div>
              </div>
            <?php endforeach ?>

              
            </div>
          </div>
            </div>
            <div class="clearfix"></div>
        </div>
      
     
    </div>

      <!--//single-page-->
      </div>

</div>
    <!-- //container -->

  </div>
  <!-- //banner-bottom --> 


  <!-- popular-grids -->
  <div class="popular-grids">
    <!-- container -->
    <div class="container">
      <div class="popular-info">
        <h3>Todos Nuestros Destinos</h3>
      </div>
      <!-- slider -->
      <div class="slider">
        <div class="arrival-grids">      
           <ul id="flexiselDemo1">
              <?php foreach ($this->destinos as $ds): ?>

                <li>
               <a href="<?php echo $this->baseUrl('destinos/ver/buscar/'.$ds->id); ?>"><img src="<?php echo $this->baseUrl('assets/images/'.$ds->foto); ?>" alt=""/>
               </a>
               <h4><span><?php echo $ds->nombre; ?></span></h4>
             </li>
                
              <?php endforeach ?>
             
            </ul>
            <script type="text/javascript">
             $(window).load(function() {      
              $("#flexiselDemo1").flexisel({
              visibleItems: 4,
              animationSpeed: 1000,
              autoPlay: true,
              autoPlaySpeed: 3000,        
              pauseOnHover:true,
              enableResponsiveBreakpoints: true,
              responsiveBreakpoints: { 
                portrait: { 
                  changePoint:480,
                  visibleItems: 1
                }, 
                landscape: { 
                  changePoint:640,
                  visibleItems: 2
                },
                tablet: { 
                  changePoint:768,
                  visibleItems: 3
                }
              }
            });
            });
            </script>
        </div>
      </div>
      <!-- //slider -->
    </div>
    <!-- //container -->
  </div>
  <!-- popular-grids -->