    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/terminos.jpg'); ?>);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1>Términos y Condiciones Generales</h1>
                        <div class="page_tagline">
                            <h3></h3> </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">

                <p><h5>  A través del portal de CONKHEP proporciona una plataforma en línea donde el Usuario podrá realizar reservas de todo tipo de paquetes de viaje. Al llevar a cabo una reserva mediante CONKHEP.COM, el Usuario entra en una relación contractual directa (legalmente vinculante) tanto con el proveedor como con CONKHEP.</h5></p>

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="sidebar_content full_width nopadding">
                        <div class="sidebar_content page_content">
                            <!--<h3>Payment</h3>-->
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">1.Precios de los Paquetes</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true" style="display: block; ">
                                    <p>Todos los precios de los servicios Nacionales están expresados en Boli vares, y todos los precios de los servicios Internacionales  están expresados en Dolares Americanos y están sujetos a cambios sin previo aviso, sólo en el caso de que CONKHEP no haya recibido la totalidad del pago de los servicios. Por consiguiente, el Usuario se compromete a pagar cualquier diferencia de precios que se produzca, previo al pago de la totalidad del precio.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">2.Exclusiones</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Los precios publicados en el portal no incluyen los impuestos sobre el pasaje aéreo, el fondo de turismo, las tasas aeroportuarias, ni cualquier otro impuesto de salida aplicable. Tampoco incluyen gastos de visado a cualquier país, pasaporte, traslados, ni pasajes aéreos donde no esté especificado, extras de ningún tipo en los hoteles, exceso de equipaje, propinas en general, servicios o gastos de cualquier tipo que no estén contemplados en los itinerarios, ni cualquier gasto de índole personal.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">3.Entradas de Eventos</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>En el caso de entradas para conciertos y eventos deportivos: las entradas a estos eventos se consiguen por medio de compañías legales de reventa de entradas, por lo que en oportunidades el costo final que se paga por la entrada, no es el mismo que marca la misma.</p>
                                </div>
                            </div>
                            <!--<p>&nbsp;</p>
                            <h3>Preparation</h3>-->
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">4.Métodos de Pago</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Para proceder con las reservas de paquetes de viaje y compra de boletos a través del portal Web, el Usuario deberá usar como método de pago un deposito o transferencia electrónica (a veces sin opción a reembolso dependiendo de la política del proveedor) para la reserva y confirmación de la misma. CONKHEP recomienda al usuario consultar minuciosamente los datos del paquete y de los pasajes aéreos a ser reservados, a los fines de revisar las condiciones especiales aplicables a su reserva en cuanto a pago y políticas de anulacion, antes de realizar la reserva. Dentro de las veinticuatro (24) horas siguientes a la realización del pago por parte del Usuario, CONKHEP enviará un correo electrónico de confirmación de la misma una vez la confirmación de pago haya verificada y conformada por parte del banco beneficiario.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-9" aria-controls="ui-id-10" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">5.Revisiones y Anulaciones</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-10" aria-labelledby="ui-id-9" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Los precios publicados en el portal Web no incluyen los impuestos sobre el pasaje aéreo, el fondo de turismo, las tasas aeroportuarias, ni cualquier otro impuesto de salida aplicable. Tampoco incluyen gastos de visado a cualquier país, pasaporte, traslados, ni pasajes aéreos donde no esté especificado, extras de ningún tipo en los hoteles, exceso de equipaje, propinas en general, servicios o gastos de cualquier tipo que no estén contemplados en los itinerarios, ni cualquier gasto de índole personal</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Reservaciones Realizadas en Temporada Alta</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Todas las reservaciones realizadas para viajar durante períodos denominados como temporada alta, lo cual incluye pero sin estar limitado a Carnavales, Semana Santa, Vacaciones Escolares, Navidad, Año Nuevo, puentes y otros feriados y fechas especiales, no son reembolsables ni transferibles. Otras restricciones podrán aplicar dependiendo del proveedor del que se trate.</p>
                                </div>
                            </div>
                            <!--<p>&nbsp;</p>
                            <h3>Reservation</h3>-->
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Reembolso</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>En caso que de conformidad con la política aplicable por el proveedor, el Usuario tenga derecho al reembolso de las reservas pagadas y no utilizadas, los reembolsos serán procesados dentro de los treinta (30) días siguientes a la aceptación de los mismos por parte del proveedor.</p>
                                </div>
                            </div>
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Emisión de Boletos y Vouchers</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Toda reserva de boletos aéreos realizada a través del portal Web de CONKHEP , estará sujeta a la previa emisión por parte de las líneas aéreas de dichos boletos, así como a los demás términos y condiciones aplicados en materia de emisión de Boletos por la línea o líneas aéreas de las que se trate. Por consiguiente, CONKHEP no podrá garantizar la emisión de boletos aéreos hasta dichas emisiones sean confirmadas por las líneas aéreas.</p>
                                    <p>Dentro de las veinticuatro (24) horas siguientes a la recepción por parte del Usuario de la conformidad de pago por parte de CONKHEP, y una vez confirmada por la línea o líneas aéreas de las que se trate, la emisión de los boletos, el Usuario recibirá vía electrónica, la totalidad de los boletos y vouchers relacionados con la reserva.</p>
                                </div>
                            </div>   
                            <div class="pp_accordion_close has_icon ui-accordion ui-widget ui-helper-reset" role="tablist">
                                <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-13" aria-controls="ui-id-14" aria-selected="false" aria-expanded="false" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Documentación Requerida para Viajes</a></h3>
                                <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-14" aria-labelledby="ui-id-13" role="tabpanel" aria-hidden="true" style="display: block;">
                                    <p>Es responsabilidad única del Usuario tener toda la documentación en regla para el viaje. El Usuario deberá estar provisto de pasaporte vigente, así como de las visas y vacunas y otros requisitos, que puedan ser necesarios según el itinerario escogido. El incumplimiento de lo antes expuesto por parte del Usuario, le ocasionará la pérdida del derecho a cualquier reembolso y a sufrir las consecuencias de su omisión. Asimismo, cuando las autoridades de cualquier país rehusaren permitir la entrada al Usuario por cualquier motivo, tal circunstancia ocasionará la pérdida del derecho a cualquier reembolso por parte del Usuario.</p>
                                </div>
                            </div>                               

                        </div>                        
                    </div>

                </div>
                <!-- End main content -->
            </div>
        </div>
        <br class="clear" />
        <br/>
        <div class="clearfix"> </div>
  </div> 


    </div>

    <script src="<?php echo $this->baseUrl('/html/js/jquery.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/jquery-migrate.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/core.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/datepicker.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/spin.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/spin.jquery.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.tooltipster.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/functions.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.blockUI.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.requestAnimationFrame.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/ilightbox.packed.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.easing.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/waypoints.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.isotope.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.masory.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.tooltipster.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jarallax.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.sticky-kit.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.stellar.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom_plugins.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom_onepage.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jarallax-video.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.cookie.js'); ?>"></script>
    <script>
        jQuery(document).ready(function(jQuery) {
            jQuery.datepicker.setDefaults({
                "closeText": "Close",
                "currentText": "Today",
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                "nextText": "Next",
                "prevText": "Previous",
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "dateFormat": "MM d, yy",
                "firstDay": 1,
                "isRTL": false
            });
        });
    </script>
    <script>
        /* <![CDATA[ */
        var booked_js_vars = {
            "ajax_url": "#",
            "profilePage": "",
            "publicAppointments": "",
            "i18n_confirm_appt_delete": "Are you sure you want to cancel this appointment?",
            "i18n_please_wait": "Please wait ...",
            "i18n_wrong_username_pass": "Wrong username\/password combination.",
            "i18n_fill_out_required_fields": "Please fill out all required fields.",
            "i18n_guest_appt_required_fields": "Please enter your name to book an appointment.",
            "i18n_appt_required_fields": "Please enter your name, your email address and choose a password to book an appointment.",
            "i18n_appt_required_fields_guest": "Please fill in all \"Information\" fields.",
            "i18n_password_reset": "Please check your email for instructions on resetting your password.",
            "i18n_password_reset_error": "That username or email is not recognized."
        };
        /* ]]> */
    </script>
</body>
</html>
