<!DOCTYPE html>
<html>
<head>
<title>Conkhep | Home </title>
<!-- Custom Theme files -->
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="agencia de viajes, paquetes, hoteles, caracas, venezuela, maracay, destinos, turismo venezuela, turismo aventura" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!--
<link href="<?php echo $this->baseUrl('/assets/css/font-awesome.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/animate.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/datepicker.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/css/bootstrap.min.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/style.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/flexslider.css'); ?>" rel="stylesheet" >
<link href="<?php echo $this->baseUrl('/assets/diseno/css/JFFormStyle-1.css'); ?>" rel="stylesheet" >

-->
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/icons.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster-light.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/animations.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/responsive.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/fontawesome-stars-o.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/frontend.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/settings.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/reset.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/wordpress.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/animation.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/ilightbox.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/custom-ui.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/mediaelementplayer-legacy.min.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/flexslider.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/tooltipster.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/odometer-theme-minimal.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/screen.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/leftalignmenu.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/font-awesome.min.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/themify-icons.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/grid.css'); ?>" type='text/css' media='all' />
<link rel='stylesheet' href="<?php echo $this->baseUrl('/html/css/style.css'); ?>" type='text/css' media='all' />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/fc-3.3.0/fh-3.1.6/r-2.2.3/rg-1.1.1/rr-1.2.6/datatables.min.css"/>

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Work+Sans%3A700%2C700%2C700%2C700%2C700%2C100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%7CPoppins%3A700%2C700%2C700%2C700%2C700%2C100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset' type='text/css' media='all' />

    

 

          <script src="<?php echo $this->baseUrl('/assets/js/jquery-2.1.1.js'); ?>"></script>
          <!--<script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/modernizr.custom.js'); ?>"></script>-->



<!-- //js -->
<!-- fonts -->



<!--
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
-->



<!-- //fonts  
<script type="text/javascript">
    $(document).ready(function () {
      $('<?php echo $this->baseUrl('/contacto'); ?>horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion           
        width: 'auto', //auto or any width like 600px
        fit: true   // 100% fit in a container
      });
    });
  </script>--> 
<!--pop-up-->
<!--
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/menu_jquery.js'); ?>"></script>


          <link href="<?php echo $this->baseUrl('/assets/diseno/css/jquery-ui.css'); ?>" rel="stylesheet" >
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.marquee.min.js'); ?>"></script>
          <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.flexisel.js'); ?>"></script>
-->          


          <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100803241-1', 'auto');
  ga('send', 'pageview');

</script>



<!--//pop-up--> 
</head>
<body class="home page-template-default page page-id-3102 woocommerce-no-js ppb_enable">
    <input type="hidden" id="pp_menu_layout" name="pp_menu_layout" value="leftalign" />
    <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="" />
    <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="" />
    <input type="hidden" id="pp_image_path" name="pp_image_path" value="images/" />
    <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="index.html" />
    <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1" />
    <input type="hidden" id="tg_smart_fixed_menu" name="tg_smart_fixed_menu" value="1" />
    <input type="hidden" id="tg_sidebar_sticky" name="tg_sidebar_sticky" value="1" />
    <input type="hidden" id="pp_topbar" name="pp_topbar" value="0" />
    <input type="hidden" id="post_client_column" name="post_client_column" value="4" />
    <input type="hidden" id="pp_back" name="pp_back" value="Back" />
    <input type="hidden" id="pp_page_title_img_blur" name="pp_page_title_img_blur" value="" />
    <input type="hidden" id="tg_portfolio_filterable_link" name="tg_portfolio_filterable_link" value="" />
    <input type="hidden" id="tg_flow_enable_reflection" name="tg_flow_enable_reflection" value="" />
    <input type="hidden" id="tg_lightbox_skin" name="tg_lightbox_skin" value="metro-black" />
    <input type="hidden" id="tg_lightbox_thumbnails" name="tg_lightbox_thumbnails" value="horizontal" />
    <input type="hidden" id="tg_lightbox_thumbnails_display" name="tg_lightbox_thumbnails_display" value="1" />
    <input type="hidden" id="tg_lightbox_opacity" name="tg_lightbox_opacity" value="0.8" />
    <input type="hidden" id="tg_sidemenu_overlay_effect" name="tg_sidemenu_overlay_effect" value="blur" />
    <input type="hidden" id="tg_live_builder" name="tg_live_builder" value="0" />
    <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="3" />

    

        <?php echo $this->layout()->content; ?>

        
  <!-- footer section -->        
<!-- //footer -->
  <div id="footer" class=" ppb_wrapper">
        <ul class="sidebar_widget two">
            <!--<li id="text-2" class="widget widget_text">
                <h2 class="widgettitle">Our Awards</h2>
                <div class="textwidget">
                    <p>London is a megalopolis of people, ideas and frenetic energy. The capital and largest city of the United Kingdom.
                        <br />
                        <img src="html/upload/awards.png" width="246" height="113" style="margin-top:30px;" alt="" /></p>
                </div>
            </li>-->
            <li id="text-4" class="widget widget_text">
                <h2 class="widgettitle">Información de contacto</h2>
                <div class="textwidget">
                    <p><span class="ti-mobile" style="margin-right:10px;"></span>+58 2127623005</p>
                    <p><span class="ti-mobile" style="margin-right:10px;"></span>+58 4140142490</p>
                    <p><span class="ti-email" style="margin-right:10px;"></span>info@conkhep.com</p>
                    <p><span class="ti-location-pin" style="margin-right:10px;"></span>Av. Fco. Solano c/c La Iglesia, Ctro. Solano Plaza 1, Piso 6 Ofic. C, Sabana Grande, Caracas DC 1050, Venezuela</p>
                    <p><span class="ti-alarm-clock" style="margin-right:10px;"></span>Lunes a Viernes. 8:00 am - 5:00 pm</p>
                    <div style="margin-top:20px;">
                        <div class="social_wrapper shortcode dark ">
                            <ul>
                                <li class="facebook"><a target="_blank" title="Facebook" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" title="Twitter" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                                <!--<li class="youtube"><a target="_blank" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                                <li class="pinterest"><a target="_blank" title="Pinterest" href="https://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>-->
                                <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <!--<li id="grandtour_flickr-7" class="widget Grandtour_Flickr">
                <h2 class="widgettitle">Artículos Recientes</h2>
                <ul class="flickr">
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/28760131762_e4a64b20c4_q.jpg'); ?>" alt="Buddha Sunrise in Borobudur, Magelang, Central Java, Indonesia" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/27308262031_a6ebf0572e_q.jpg'); ?>" alt="Gentoo Penguins, Falkland Islands (Islas Malvinas), British Overseas Territory" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/27287965356_60355f51d7_q.jpg'); ?>" alt="Aerial View of Singapore CBD Skyline, Marina Bay Esplanade and Raffles Place, Singapore" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/27138570412_d25002a5c9_q.jpg'); ?>" alt="View Of Sugarloaf Mountain, Botafogo And The City of Rio De Janeiro, Brazil, South America" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/26520497604_1df03a02bc_q.jpg'); ?>" alt="Sacre Coeur (Basilica of the Sacred Heart of Paris), Paris, France :: HDR" width="75" height="75" /></a>
                    </li>
                    <li>
                        <a target="_blank" href="#"><img src="<?php echo $this->baseUrl('html/upload/27012097142_f1511b67bc_q.jpg'); ?>" alt="The Great Gate (Darwaza-i rauza) of Taj Mahal, Agra, Uttar Pradesh, India :: HDR" width="75" height="75" /></a>
                    </li>
                </ul>
                <br class="clear" />
            </li>-->
        </ul>
    </div>

    <div class="footer_bar  ppb_wrapper ">

        <div class="footer_bar_wrapper ">
            <div class="menu-footer-menu-container">
                <ul id="footer_menu" class="footer_nav">
                    <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
                    <!--<li class="menu-item"><a href="tours.html">Tours</a></li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>-->
                    <!--<li class="menu-item"><a href="#">Purchase Template</a></li>-->
                </ul>
            </div>
            <div id="copyright"><a href="">© Desarrollado por AML Consulting</a></div>
            <br class="clear" />
            <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>

    <div id="side_menu_wrapper" class="overlay_background">
        <a id="close_share" href="javascript:;"><span class="ti-close"></span></a>

    </div>

    <!--<script src="<?php echo $this->baseUrl('/html/js/jquery.js'); ?>"></script>-->
    <script src="<?php echo $this->baseUrl('/html/js/jquery-migrate.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/core.min.js'); ?>"></script>
    <!--<script src="<?php echo $this->baseUrl('/html/js/plugins/datepicker.min.js'); ?>"></script>-->
    <script src="<?php echo $this->baseUrl('/html/js/plugins/spin.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/spin.jquery.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.tooltipster.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/functions.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.blockUI.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.requestAnimationFrame.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/ilightbox.packed.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.easing.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/waypoints.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.isotope.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.masory.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.tooltipster.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jarallax.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.sticky-kit.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.stellar.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom_plugins.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/custom_onepage.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jarallax-video.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/html/js/plugins/jquery.cookie.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/js/jquery.uploadfile.min.js'); ?>"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/fc-3.3.0/fh-3.1.6/r-2.2.3/rg-1.1.1/rr-1.2.6/datatables.min.js"></script>



<!--Viejos Scripts-->
    <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery-ui.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/js/bootstrap.min.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/diseno/js/jquery.flexslider.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/diseno/js/easyResponsiveTabs.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/js/bootstrap-datepicker.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/diseno/js/script.js'); ?>"></script>
    <script src="<?php echo $this->baseUrl('/assets/js/upload.js'); ?>"></script>
<!--Fin de los viejos scripts-->


    <script>
        jQuery(document).ready(function(jQuery) {
            jQuery.datepicker.setDefaults({
                "closeText": "Close",
                "currentText": "Today",
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                "nextText": "Next",
                "prevText": "Previous",
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "dateFormat": "MM d, yy",
                "firstDay": 1,
                "isRTL": false
            });
        });
    </script>
    <script>
        /* <![CDATA[ */
        var booked_js_vars = {
            "ajax_url": "#",
            "profilePage": "",
            "publicAppointments": "",
            "i18n_confirm_appt_delete": "Are you sure you want to cancel this appointment?",
            "i18n_please_wait": "Please wait ...",
            "i18n_wrong_username_pass": "Wrong username\/password combination.",
            "i18n_fill_out_required_fields": "Please fill out all required fields.",
            "i18n_guest_appt_required_fields": "Please enter your name to book an appointment.",
            "i18n_appt_required_fields": "Please enter your name, your email address and choose a password to book an appointment.",
            "i18n_appt_required_fields_guest": "Please fill in all \"Information\" fields.",
            "i18n_password_reset": "Please check your email for instructions on resetting your password.",
            "i18n_password_reset_error": "That username or email is not recognized."
        };
        /* ]]> */
    </script>
    <script type="text/javascript">
        $(document).on("click", "#loginButton2", function(event)
            {
                $('#loginBox2').toggle();
                $('.otro').toggle();
            });
    </script>
    <script type="text/javascript">
        $(document).on("click", "#loginButton1", function(event)
            {
                $('#loginBox1').toggle();
            });
    </script> 

    <script type="text/javascript">
        $(document).ready(function()
        {

                $('.fecha').datepicker({
              format: 'dd-mm-yyyy'
                
            });
        });     
    </script>
</body>
</html>
