      <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/nosotros.jpg'); ?>);">

            <div class="page_title_wrapper">
                <div class="page_title_inner">
                    <div class="page_title_content">
                        <h1>Consorcio Khep C.A.</h1>
                        <div class="page_tagline"></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            <div class="inner">
                <!-- Begin main content -->
                <div class="inner_wrapper">
                    <div class="sidebar_content full_width">

                        <h4 class="p1">Historia</h4>
                        <p class="p1">CONKHEP es una Mayorista y Tour Operadora que nace de un cambio de nombre en 2.007, pero tiene una trayectoria de más de 25 años.</p>
                        <div id="attachment_78" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-78 size-large" src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" width="1024" height="576" />
                            <p class="wp-caption-text"></p>
                        </div>
                        <h4 class="p1">Mision</h4>
                        <p class="p1">Exceder con productos, servicios y proveedores, las expectativas de recreación, viajes y turismo de nuestros pasajeros y clientes corporativos.</p>
                        <div id="attachment_79" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-79 size-large" src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/mision.jpg" width="1024" height="576" />
                            <p class="wp-caption-text"></p>
                        </div>
                        <h4 class="p1">Vision</h4>
                        <p class="p1">Convertirnos en las 10 mas prestigiosas empresas Mayoristas de Turismo del país, siempre apostando por Venezuela, por nuestros empleados y con tecnología de punta que agilice los procesos.</p>
                        <div id="attachment_80" style="width: 1034px" class="wp-caption alignnone"><img class="wp-image-80 size-large" src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/vision.jpg" width="1024" height="683" />
                            <p class="wp-caption-text"></p>
                        </div>
                        <h4 class="p1">Nuestros Valores</h4>
                        <ul>
                          <li>Fuerte compromiso con productos y servicios de calidad.</li>
                          <li>Respeto por el medio ambiente, sus culturas y tradiciones.</li>
                          <li>Relaciones personales basadas en la confianza y respeto mutuo.</li>
                          <li>Enfoque orientado a siempre desarrollar nuevos destinos y productos, conforme la demanda del mercado.</li>
                          <li>Siempre abiertos a modernizarnos conforme avanzan los medios tecnológicos.</li>
                          <li>Orgullosos de contribuir con la mejor industria que existe, sin chimeneas y generadora de mas empleos indirectos.</li>
                          <li>Lealtad con la compañía e identificación con ella.</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- End main content -->
            </div>
        </div>



    </div>


