<div class="container" >

	<ol class="breadcrumb">
		  <li>
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a></li>
		  <li><a href="<?php echo $this->baseUrl('/aerolineas/'); ?>">Aerolineas</a></li>
		  <li class="active">Editar</li>
	</ol>

    <h1 class="page-header">Editar Aerolinea</h1>
    
    <div class="row">



<!--++++++++++++++++++++ Comienzo del formulario ++++++++++++++++++-->
<div class="col-sm-12">
	<form id="form_noticia" name="form_noticia" enctype="multipart/form-data" action="<?php echo $this->baseUrl('/aerolineas/edit'); ?>" method="post"><div>

		<input type="hidden" id="id" name="id"  value="<?php echo $this->aerolinea['id']; ?>">

		


		<div class="form-group">
			<label for="cedula" class="required">Aerolinea *</label>
			<input type="text" name="aerolinea" id="aerolinea" value="<?php echo $this->aerolinea['aerolinea']; ?>" class="form-control" placeholder="Titulo">
		</div>





		<dt id="buttons-label">&#160;</dt>
		<dd id="buttons-element">
			<fieldset id="fieldset-buttons">
				<dl>
					<input type="submit" name="btn_submit" id="btn_submit" value="Guardar" class="btn btn-default">

					<a href="<?php echo $this->baseUrl('/aerolineas'); ?>"  name="btn_cancel" id="btn_cancel" type="button" class="btn btn-danger">Cancelar</a>
				</dl>

			</fieldset>
		</dd>
		</div>
	</form> 


</div>




   






<!--+++<?php// echo $this->EstForm; ?> ++++++++++++++++++++ Fin  del formulario+++++++++++++++ ++++++++++++-->










    </div> <!-- fin row -->
    
</div> <!-- fin container  -->
