<div class="container-fluid" >
    <h1 class="page-header">Aerolineas

<div class="pull-right">
                    <a href="<?php echo $this->baseUrl('/aerolineas/add'); ?>" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Crear Aerolinea</a>
                </div>

    </h1>
    
    <?php if (count($this->messages) > 0): ?>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <?php foreach ($this->messages as $message): ?>
                <span><?php echo current($message); ?></span><br>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
	
	 
    
    <table class="table table-striped" id="tb_estudiantes">
        <thead> 
        <tr>
            <th>ID</th>
           
            <th>Aerolinea</th>
            
            <th width="180px">
                Accion
            </th>
        </tr>
       </thead>
       <tbody>  
        <?php foreach ($this->aerolineas as $row): ?>
        <tr id="<?php echo $row->id; ?>">
            <td><?php echo $row->id; ?></td>
            
            <td><?php echo $row->aerolinea; ?></td>
            

            <td>
                
                <div >

                    
                    <a href="<?php echo $this->baseUrl('/aerolineas/edit/id/').$row->id; ?>"  class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> </a>

                    <button type="button" onclick="borrar(<?php echo $row->id; ?>, 'aerolinea')"  class="btn btn-danger" title="Eliminar"><span class="glyphicon glyphicon-trash"></span> </button>
                    <div class="estatus" style="display: inline;">
                    <?php if ($row->estatus){ ?>

                      <button type="button"  onclick="estatus(<?php echo $row->id; ?>, 'aerolinea', '0' )"  class="btn btn-default " title="Desactivar"><span class="glyphicon  glyphicon-thumbs-up"></span> </button>  

                    <?php }else{ ?>

                        <button type="button" onclick="activarMarca(<?php echo $row->id; ?>, 'aerolinea', '1')"  class="btn btn-default " title="Activar"><span class="glyphicon  glyphicon-thumbs-down"></span> </button>  

                    <?php } ?>
                    </div>

                </div>
                
                
                
                
            </td>


        </tr>
        <?php endforeach; ?>

</tbody>

        
    </table>
  
    


</div> <!-- End Container--> 

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eliminar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="del_id" id="del_id">
                <input type="hidden" name="del_modelo" id="del_modelo">
                <p>¿Está seguro que desea eliminar el registro?</p>
                <p class="debug-url"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="eliminar()" class="btn btn-danger">Borrar</button>
                
            </div>
        </div>
    </div>
</div>