    <!-- Begin mobile menu -->
    <a id="close_mobile_menu" href="javascript:;"></a>

    <div class="mobile_menu_wrapper">
        <a id="mobile_menu_close" href="javascript:;" class="button"><span class="ti-close"></span></a>

        <div class="mobile_menu_content">

            <div class="menu-main-menu-container">
                <ul id="mobile_main_menu" class="mobile_main_nav">
                  <li class="menu-item current-menu-item menu-item-has-children">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                      
                  </li>
                  
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>

                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    <a href="#">De interés</a>
                      <ul class="sub-menu">
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                          <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                      </ul>
                  </li>                                                
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                      
                  </li>
                  <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton1"><span>Login</span></a>
                      <div id="loginBox1" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                </ul>
            </div>
            <!-- Begin side menu sidebar -->
            
            <!-- End side menu sidebar -->
            <div class="social_wrapper">
                <ul>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/consorciokhep/?ti=as"><i class="fa fa-facebook-official"></i></a></li>
                    <li class="twitter"><a target="_blank" href="https://twitter.com/Conkhep?s=08"><i class="fa fa-twitter"></i></a></li>
                    <li class="instagram"><a target="_blank" title="Instagram" href="https://instagram.com/conkhep?igshid=1x46dbhln2y0t"><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- End mobile menu --> 
<div id="wrapper" class="hasbg transparent">

        <div class="header_style_wrapper">
            <!-- End top bar -->

            <div class="top_bar hasbg">
                <div class="standard_wrapper">
                    <!-- Begin logo -->
                    <div id="logo_wrapper">

                        <div id="logo_normal" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo" class="logo_wrapper hidden" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>

                        <div id="logo_transparent" class="logo_container">
                            <div class="logo_align">
                                <a id="custom_logo_transparent" class="logo_wrapper default" href="<?php echo $this->baseUrl('/'); ?>">
                                    <img src="<?php echo $this->baseUrl('assets/diseno/'); ?>images/logo_rif.jpg" alt="" width="200" height="60" />
                                </a>
                            </div>
                        </div>
                        <!-- End logo -->

                        <div id="menu_wrapper">
                            <div id="nav_wrapper">
                                <div class="nav_wrapper_inner">
                                    <div id="menu_border_wrapper">
                                        <div class="menu-main-menu-container">
                                            <ul id="main_menu" class="nav">
                                                <li class="menu-item current-menu-item menu-item-has-children otro">
<a href="<?php echo $this->baseUrl('/'); ?>">Inicio</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  <a href="<?php echo $this->baseUrl('/index.php/hoteles'); ?>">Hoteles</a>
                                                    
                                                </li>
                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/destinos'); ?>">Destinos</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Paquetes</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Ofertas</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow otro">
                                                  <a href="#">De interés</a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/nosotros'); ?>">Nosotros</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Contáctanos</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/faqs'); ?>">FAQs</a></li>
                                                        <li class="menu-item">
<a href="<?php echo $this->baseUrl('/index.php/terminos'); ?>">Términos y Condiciones</a></li>
                                                    </ul>
                                                </li>                                                
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/contacto'); ?>">Servicios</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children otro">
                                                  
<a href="<?php echo $this->baseUrl('/index.php/blog'); ?>">Blog</a>
                                                    
                                                </li>
                                                <li class="menu-item menu-item-has-children arrow">
                    
                    <div id="loginContainer"><a href="#" id="loginButton2" class="button"><span>Login</span></a>
                      <div id="loginBox2" style="display: none;">                
                        <form id="loginForm">
                          <div class="login-grids">
                            <div class="login-grid-left">
                              <fieldset id="body">
                                <fieldset>
                                  <label for="email">Email </label>
                                  <input type="text" name="email" id="email">
                                </fieldset>
                                <fieldset>
                                  <label for="password">Clave</label>
                                  <input type="password" name="password" id="password">
                                </fieldset><br>
                                <input type="submit" id="login" value="Sign in">
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Recordarme</i></label>
                              </fieldset>
                              <span><a href="#">Olvidaste tu clave?</a></span>
                              <div class="or-grid">
                                <p>O</p>
                              </div>
                              <div class="social-sits">
                                <div class="facebook-button">
                                  <a href="#">Inicia con facebook</a>
                                </div>
                                <div class="chrome-button">
                                  <a href="#">Inicia con  Google</a>
                                </div>
                                <div class="button-bottom">
                                  <p>Crear Cuenta? <a href="signup.html">Entrar</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>                      
                  </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Begin right corner buttons -->
                                <div id="logo_right_button">

                                    <!-- Begin side menu -->
                                    <a href="javascript:;" id="mobile_nav_icon"><span class="ti-menu"></span></a>
                                    <!-- End side menu -->

                                </div>
                                <!-- End right corner buttons -->
                            </div>
                            <!-- End main nav -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

    
<div id="page_caption" class="hasbg parallax" style="background-image:url(<?php echo $this->baseUrl('/images/home.jpg'); ?>);">

      <div class="page_title_wrapper">
          <div class="page_title_inner">
              <div class="page_title_content">
                  <h1>Blog</h1>
                  <div class="page_tagline">
                      <h3>Noticias Recientes</h3></div>
              </div>
          </div>
      </div>
    </div>

    <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg blog_wrapper">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="page_content_wrapper"></div>

                    <div class="sidebar_content ">

                      <?php $i=0; foreach ($this->related as $row){ $i++;  ?>

                        <!-- Begin each blog post -->
                        <div id="post-81" class="post-81 post type-post status-publish format-standard has-post-thumbnail hentry category-travel-tips tag-passport tag-travel tag-world">

                            <div class="post_wrapper">

                                <div class="post_content_wrapper">

                                    <!--<div class="post_img static">
                                        <a href="#">
                                            <img width="960" height="636" src="<?php echo $this->baseUrl('/').$row->foto; ?>" class="attachment-grandtour-blog size-grandtour-blog wp-post-image" alt="<?php echo $row['titulo']; ?>" /> </a>
                                    </div>-->

                                    <div class="post_header_wrapper">
                                        <div class="post_header">
                                            <!--<div class="post_detail single_post">
                                                <span class="post_info_date">
                                                  <a href="#" title="<?php echo $row['titulo']; ?>">December 10, 2016</a>
                                                </span>
                                                <span class="post_info_comment">
                                •
                                <a href="##respond">
                                    0&nbsp;Comment                              </a>
                            </span>
                                            </div>-->
                                            <div class="post_header_title">
                                                <h5><a href="<?php echo $this->baseUrl('/index.php/blog/ver/id/').$row->id; ?>" title="<?php echo $row['titulo']; ?>"><p><?php echo $row['titulo']; ?></p></a></h5>
                                            </div>
                                        </div>

                                        <br class="clear" />

                                        <p><?php echo strip_tags(substr($row->noticia, 0, 200)) ; ?></p>
                                        <div class="post_button_wrapper">
                                            <a class="readmore" href="<?php echo $this->baseUrl('/index.php/blog/ver/id/').$row->id; ?>">Leer más<span class="ti-angle-right"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End each blog post -->
                        <?php } ?>                        

                        <br class="clear" />

                        <!--<div class="pagination"><span class="current">1</span><a href='#' class="inactive">2</a></div>
                        <div class="pagination_detail"></div>-->

                    </div>

                    <div class="sidebar_wrapper ">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <ul class="sidebar_widget">
                                    <li id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
                                        <h2 class="widgettitle">Etiquetas</h2>
                                        
                                            <?php foreach ($this->etiquetas as $new): ?>
                                              
                                                <a href="<?php echo $this->baseUrl('/index.php/blog/tags/id/').$new['descripcion']; ?>" style="padding-left: 15px;" > <?php echo $new['descripcion']; ?></a>&nbsp;&nbsp;&nbsp;<br>
                                              
                                            <?php endforeach ?>
                                                                              
                                    </li>
                                    <li id="grandtour_cat_posts-2" class="widget Grandtour_Cat_Posts">
                                        <h2 class="widgettitle"><span>Solicitudes</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                </div><a href="<?php echo $this->baseUrl('/index.php/solicitud/presupuesto'); ?>">Presupuesto</a>
                                                <!--<div class="post_attribute">December 10, 2016</div>-->
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                </div><a href="<?php echo $this->baseUrl('/index.php/solicitud/presupuesto'); ?>">Bienes Muebles</a>
                                                <!--<div class="post_attribute">December 10, 2016</div>-->
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                </div><a href="<?php echo $this->baseUrl('/index.php/solicitud/inmueble'); ?>">Bienes Inmuebles</a>
                                                <!--<div class="post_attribute">December 10, 2016</div>-->
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                </div><a href="<?php echo $this->baseUrl('/index.php/solicitud/auditar'); ?>">Auditoria</a>
                                                <!--<div class="post_attribute">December 10, 2016</div>-->
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                </div><a href="<?php echo $this->baseUrl('/index.php/solicitud/validador'); ?>">Validar</a>
                                                <!--<div class="post_attribute">December 10, 2016</div>-->
                                            </li>
                                        </ul>
                                    </li>                               
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>

                </div>
                <!-- End main content -->

            </div>
        </div>





    